/*
Theme: The Journalist v1.9
RTL: yoav@automattic.com
*/

body {
	direction:rtl;
	unicode-bidi:embed;
    font-family: Tahoma, sans-serif, "Georgia", "Times New Roman";
	font-size:13px;
}

#bubble {
left:0;
right:auto;
background:url(images/bubble_right_rtl.gif) no-repeat left;
}

#bubble p {
padding:4px 10px 0 12px;
background:url(images/bubble_left_rtl.gif) no-repeat top right;
}

#content {
float:right;
}

#content h2.archive {
text-align:right;
}

.main ol {
margin:0 40px 15px 0;
}

.main ul {
margin:0 30px 15px 0;
}

.signature {
float:right;
padding:0 0 0 15px;
border-left:#bbb 1px solid;
border-right:0;
}

.tags {
float:right;
padding:0 15px 0 0;
}

#sidebar {
float:left;
border-right:#999 1px solid;
border-left: 0;
padding:0 15px 20px 0;
}

#sidebar ul ul {
margin:5px 10px 0 0;
}

#sidebar ul ul ul {
margin:5px 10px 0 0;
}

.commentlist .children{
margin-right:2em;
margin-left:0;
}

.commentlist .reply {
margin: 0 10px 5px 0;
}
.comment_mod {
margin:10px 10px 0 0;
}

.comment_author {
float:left;
}

.comment_author img {
float:right;
margin:5px 0 0 12px;
}

.comment_text {
float:right;
margin:0 10px 0 0;
}
#respond label {
	clear: left;
}
#respond input[type="text"] {
	float: right;
	margin-right: auto;
	margin-left: 6px;
}
blockquote {
background:url(images/quote_rtl.gif) no-repeat top right;
padding:0 60px 0 0;
}

.warning p {
background-position: right center;
padding:20px 90px 0 0;
margin:0 10px 0 0;
}

#wp-calendar caption {
text-align:right;
}

#wp-calendar tr th,
#wp-calendar tr td {
padding:0 0 0 6px ;
text-align:left;
}

.navigation .alignleft {
float:right;
}

.navigation div.alignright {
float:left;
}