<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Marijuana Reform, Education, and the War on Drugs: Support Change the Climate</tmpl:var>
  <h1>Want to help change the climate around marijuana?</h1>
  <p>There are several ways you can help change the climate. If you are interested in helping out, follow one of the links below!</p>
  <p><b><a href="https://www.groundspring.org/donate/index.cfm?ID=2862-0|1983-0">Make a tax deductible contribution</a></b> of $25, $65, $125 or whatever amount you can afford. Change the Climate is a non-profit organization and your gifts are tax deductible. Your gift will ensure that more ads get placed on public transportation, on billboards, in magazines and newspapers. We will pool contributions to buy ad space for all of our ads. <em><a href="donate.html">Read more about contributing to Change the Climate&hellip;</a></em></p>
  <p><b><a href="http://www.cafepress.com/ctconline/">Purchase and wear/display our merchandise</a></b> which includes t-shirts, nice golf shirts, bumper stickers, posters, and more! Our merchandise features some of the same provocative ads we used in advertising campaigns in Washington D.C. and elsewhere. All proceeds from sales go directly towards funding more outdoor advertising campaigns.</p>
  <p><b><a href="../mailinglist.php">Join our mailing list</a></b> and receive updates on our ad campaigns around the country and other exciting news.</p>
  <p><b><a href="rates.php">Want to see our ads in your city?</a></b> <a href="rates.php">Check out advertizing rates</a> in selected cities, or email <a href="mailto:info@changetheclimate.org?subject=advertisements">info@changetheclimate.org</a>.</p>
  <p><b><a href="../ads/">Take our banners with you!</a></b> Want to display our banners on your web site? <a href="../ads/">Download our banners.</a></p>
  <!--<b><a href="land.html">Want to donate land to display our ads?</a></b>  Click <a href="land.html">here</a> to request more information.-->
  <p><b><a href="../ads/links.php">Join a marijuana reform organization.</a></b></p>
</tmpl:template>
