<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Donate Land for Change the Climate Ads</tmpl:var>
  <h1>Donate Land for Our Ads</h1>
  
  <p>Interested in donating your land for one of our billboards? Use the form to find out how you can get our ads on your land!</p>
  
  <form method="post" action="$_SERVER['SCRIPT_NAME']">
    <div>
      <label>Name:</label>
      <input type="text" name="name" size="50" />
    </div>
    <div>
      <label>address:</label>
    <input type="text" name="address" size="50" />
    </div>
    <div>
      <label>city:</label>
      <input type="text" name="city" size="50" />
    </div>
    <div>
      <label>state:</label>
      <input type="text" name="state" size="50" />
    </div>
    <div>
      <label>zip code:</label>
      <input type="text" name="zip" size="50" />
    </div>
    <div>
      <label>phone:</label>
      <input type="text" name="phone" size="50" />
    </div>
    <div>
      <label>email:</label>
      <input type="text" name="email" size="50" />
      <div>
      <label>preferred contact:</label>
      <input type="radio" name="contact_method" value="email" />email
      <input type="radio" name="contact_method" value="phone" />phone
      <input type="radio" name="contact_method" value="post" />postal mail
      </div>
      <div>
        <label>note:</label>
        <textarea name="note" cols="50" rows="15"></textarea>
      </div>
      <input type="submit" name="send" value="send" />
    </div>
  </form>
</tmpl:template>
