@namespace url("http://www.w3.org/1999/xhtml");
@namespace doc url("http://docbook.org/ns/docbook");
@namespace tip url("∅:spot");

tip|* { display: none; }
tip|tip { display: block; }

html, body { width: 100%; height: 100%; padding: 0; margin: 0; }
.analogies:after { content: '&#x2056;'; }
object { width: 100%; }
#sample_logos object { display: block; border: 1px solid; width: 100px; height: 100px; padding: 3px; }
#sample_logos li { list-style: none; display: block; float: left; padding: 1px; margin: 0 1px; }
#sample_logos { display: block; width: 560px; margin: auto; padding: 0; }
#sample_logos:after { display: block; clear: both; content: ''; }
#sample_logos #logo-6 { display: none; }
#direct_payment { height: 150px; }
#fig-1b object { height: 400px; }
#bobicus_empire { height: 540px; }
#empire_payment { height: 300px; }

html { padding-top: 4em; }
body { max-width: 600px; margin: auto; line-height: 1.2em; }
h1, h2, doc|title { font-family: Tahoma; }
h1, #header h2 { text-align: center; }
h1 { font-size: 32px; margin-bottom: 1em; }
#header h2 { font-weight: normal; font-size: 15pt; margin: .5em auto; padding: 0; border: none; }
#header h2:last-child { margin-bottom: 2em; }
#header a { border-bottom: none; }
a { color: #111; text-decoration: none; border-bottom: 1px #BBB solid; }
#header a:hover, a:hover { border-bottom: 2px #222 dotted; }

doc|title { font-size: 25px; display: block; margin: 25px 0 5px -10px; padding: 20px 10px 0; border-bottom: #111 1px solid; }

.figure { max-width: 500px; margin: 2em auto; border: 1px solid; }
.wide.figure { max-width: 100%; }
.caption { border-top: 1px solid; text-align: center; font-family: Tahoma;
           margin: 0 6px; padding: 7px 3px 5px; }

.diagram { font-family: 'Bookman Oldstyle';  }
p.diagram { text-align: center; font-family: 'Bookman Oldstyle';  }

table { border-collapse: collapse; margin-right: -1px; }
table.diagram th, table.diagram td { border: 1px solid; padding: 3px; }
table.diagram + .caption { border-top: none; }

