.widget-title,
.widget-title span {
	background-image: url("images/blue/widget-title-blue-large.png");
}
body.sidebar-content-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title,
body.content-sidebar-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title span,
body.content-sidebar-sidebar .widget-title span,
body.sidebar-content-sidebar .widget-title span {
	background-image: url("images/blue/widget-title-blue-small.png");
}
#wp-calendar #today {
	background: #5ba1e0;
}
#searchform #searchfield,
#searchform input.searchbutton {
	background-image: url("images/blue/search.png");
}
#tab-tags a:hover {
	background-color: #44a1fb;
}
#secondary-tabs {
	background-image: url("images/blue/tabs-bg.png");
}
#secondary-tabs li {
	background-image: url("images/blue/tabs-c.png");
}
#secondary-tabs ul li a {
	background-image: url("images/blue/tabs.png");
}
#comments .comment-head {
	background-image: url("images/blue/comment-head.png");
}
#comments .bypostauthor .comment-head,
#comments .comment-author-admin .comment-head {
	background-color: #3873bd;
}
#site-description {
	color: #44a1fb;
}
.alt-text {
	color: #3873bd;
}