div#instapost {
	position: relative;
	padding: 15px;
	margin-left: 65px;
	margin-bottom: -25px;
}
	div#instapost img.avatar {
		position: absolute;
		top: 15px;
		left: -51px;
		padding: 2px;
		border: 1px solid #ccc;
	}
	
	div#instapost h2 {
		font-size: 14px;
		margin-bottom: 7px;
		margin-top: -1px;
	}

span#ipt-preview-label, div#ipt-preview .sd-content, div#ipt-preview .sharedaddy {
	display: none;
}

#ipt-form ul#ipt-form-formats {
	height: 30px;
}

#ipt-form ul#ipt-form-formats li a span.ipt-inner {
	padding: 8px 0;
}

#ipt-form ul#ipt-form-formats li.selected div.ipt-down-arrow {
	bottom: -4px;
}