body, html {
	width: 320px;
	max-width: 320px;
	overflow-x: hidden;
    background-color: #ddd;
    color: #222;
    font-family: Helvetica;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#header_img img, #sidebar, #postbox .avatar {
	display: none;
}

/* Header */

#header {
	position: relative;
	min-height: 40px !important;
	height: 40px !important;
	max-height: 40px !important;
	background: none;
    background-color: #666 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#666)) !important;
	overflow: hidden;
    border-color: #555;
    border-style: solid;
    border-width: 0 0 1px 0;
}
#header h1 {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    padding: 12px 0 0 10px;
    text-shadow: 0px -1px 0px #555;
    white-space: nowrap;
    vertical-align: middle;
    text-indent: 0;
}
#header img#mobile-blavatar {
	display: inline !important;
	float: left;
	margin-right: 10px;
	margin-top: -3px;
	margin-left: 2px;
    box-shadow: 0px -1px 0px #888;
}
#header h1 a {
	color: #fff !important;
}
#header small {
	display: none;
}
#header a.secondary {
	display: none;
	height: 40px !important;
}
#header .sleeve {
	position: relative;
	background: none;
	height: 40px !important;
	width: 320px !important;
	padding: 0;
	margin: 0;
}

#header a#mobile-post-button {
	display: block !important;
	position: absolute;
	top: 7px;
	right: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#555) ); 
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.4), inset 0 1px 1px rgba(0,0,0, 0.3);
	-webkit-border-radius: 5px; 
	padding: 5px 15px;
	font-size: 12px !important;
	color: #fff;
    text-shadow: 0px -1px 0px #555;
    font-weight: bold;
    z-index: 999;
}

/* Instapost */	
div#instapost {
	margin: 0;
	padding: 0;
}
div#instapost h2 {
	display: none;
}
div#instapost #ipt-form {
	margin-bottom: 0;
}

div#instapost div.avatar {
	display: none;
}

div#instapost .ipt-text {
	display: none;
}

div#instapost ul#ipt-form-formats.ipt-open {
	border-radius: 0;
}

div#instapost #ipt-form ul#ipt-form-formats {
	height: 40px;
}

div#instapost ul#ipt-form-formats li a span.ipt-inner {
	padding: 14px 0;
}

/* P2 Posting Form */

div#postbox {
	padding: 5px 3px 5px 5px;
	background: #fff !important;
	display: none;
}

ul#post-types { display:none; }

form#new_post {
	padding: 0;
	margin: 0;
}
form#new_post label[for="posttext"] {
	display: none;
}

#postbox textarea#posttext {
	border: 1px inset #e5e5e5 !important;
	border-radius: 4px !important;
	-webkit-box-shadow: inset 0 1px rgba( 0, 0, 0, 0.2 ) !important;
	background-color: #fff;
	height: 85px !important;
	min-height: 85px !important;
	font-size: 13px !important;
	color: #666 !important;
	padding-top: 5px !important;
    font-family: Helvetica !important;
}
#postbox input#tags {
	border: 1px inset #e5e5e5 !important;
	border-radius: 4px !important;
	-webkit-box-shadow: inset 0 1px rgba( 0, 0, 0, 0.1 ) !important;
	background-color: #fff;
	font-size: 13px !important;
	color: #666 !important;
	padding: 3px 1% !important;
	width: 97% !important;
    font-family: Helvetica !important;
}

#postbox p.comment-subscription-form {
	margin: 0;
	text-align: right !important;
}
#postbox p.comment-subscription-form label {

}

#postbox input#submit {
	float: right !important;
	margin: 5px 0 0 0 !important;
}		

#postbox .postrow {
	height: 65px;
}

/* Main */

#main {
	margin: 0;
	padding: 0 10px 10px;
	float: none;
}
#main * {
	font-size: 14px !important;
}
#main h2,
#main h2 .controls,
#main .controls #directions-keyboard,
#main .controls .sep {
	display: none;
}

/* Posts */

#main ul#postlist {
	margin: 0px -10px;
	clear: both;
}

#main ul#postlist li {
	position: relative;
	padding: 10px;
	border-color: #e4e4e4;
	margin: 0;
}

#main ul#postlist li.sticky {
	background: none;
	border: none;
	border-radius: 0 !important;
}

#main ul#postlist li img.avatar {
	position: relative;
	z-index: 999;
	top: -1px;
}

#main ul#postlist > li > h4 {
	position: relative;
	background-color: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	padding: 7px 10px;
	padding-left: 40px;
	margin: -10px -10px -8px -10px;
	top: -12px;
	color: #fff;
	text-shadow: 0px 1px 0px #fff;
}

#main ul#postlist > li > a.post-avatar {
	position: absolute;
	top: 0;
}

#main ul#postlist li abbr {
	display: block;
	font-size: 10px !important;
	color: #666;
}
	#main ul#postlist li abbr em {
		font-size: 10px !important;
	}

#main ul#postlist li span.actions a,
#main ul#postlist li span.tags {
	display: none;
}

.single-action-links {
	display: inline;
}

#main ul#postlist > li span.actions {
	color: #e9e9e9;
}

#main ul#postlist li span.actions a.comment-reply-link {
	display: block;
	position: absolute;
	top: 9px;
	right: 7px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc) ); 
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.4), inset 0 1px 1px rgba(0,0,0, 0.3);
	-webkit-border-radius: 5px; 
	padding: 5px 15px;
	color: #777;
	font-size: 12px !important;
	font-weight: bold;
}

#main ul#postlist li div.postcontent {
	padding: 0;
	margin: 0;
}

#main ul#postlist li div.postcontent *, 
#main ul#postlist li div.commentcontent * {
	font-size: 13px !important;
	line-height: 150% !important;
}

#main ul#postlist li div.postcontent img, 
#main ul#postlist li div.commentcontent img {
	max-width: 98% !important;
	height: auto !important;
}

#main div#wpl-likebox {
	margin: 0 0 -7px 0 !important;
}
	#main div#wpl-count {
		font-size: 12px !important;
	}

/* Comments */

#main ul.commentlist, #main ul.commentlist ul {
	position: relative;
	left: -20px;
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
}
#main ul.commentlist > li:first-child {
	padding-left: 0 !important;
}

#main ul.commentlist li {
	padding-right: 0 !important;
	padding-top: 12px !important;
}
#main ul.commentlist li:last-child {
	padding-bottom: 0 !important;
}

#main ul.commentlist h4 {
	margin-left: 22px;
	margin-bottom: -0.2em;
}

#main ul.commentlist h4 a {
	font-size: 12px !important;
	float: left;
	margin-right: 5px;
}
	#main ul.commentlist h4 span.meta abbr { float: left; max-width: 41px; overflow: hidden; white-space: nowrap }
	#main ul.commentlist img.avatar { width: 15px; height: 15px; position: relative; top: -2px; }
	
	#main ul.commentlist li div.commentcontent {
		clear: both;
	}

#main ul#postlist li ul.commentlist span.actions { color: #fff; }

#main ul#postlist li ul.commentlist span.actions a.comment-reply-link {
	top: 0;
	right: 0;
	padding: 0;
	background: none;
	color: #888;
	font-size: 12px !important;
	-webkit-box-shadow: none !important;
	border: none;
	font-weight: normal;
}

/* Reply Form */

#main #respond {
	width: auto !important;
	height: auto !important;
	position: relative !important;
	background: #fff;
	padding: 0 15px 0 10px;
}

#main #respond h3#reply-title,
#main #respond p.logged-in-as {
	display: none;
}

#main #respond p.comment-subscription-form {
	margin-right: -10px;
}

#main #respond p.comment-subscription-form * {
	float: right !important;
	color: #666;
	font-size: 12px !important;
	margin-left: 5px;
}

#main #respond input#comment-submit {
	float: right;
	margin-right: -5px;
}

#main #respond textarea#comment {
	border: 1px inset #e5e5e5 !important;
	border-radius: 4px !important;
	-webkit-box-shadow: inset 0 1px rgba( 0, 0, 0, 0.2 ) !important;
	background-color: #fff;
	height: 85px !important;
	min-height: 85px !important;
	font-size: 13px !important;
	color: #666 !important;
	padding-top: 5px !important;
    font-family: Helvetica !important;
	width: 99% !important;
	
}




/* Misc - Old CSS */

.meta {
	margin-top: 6px;
	line-height: auto;
	width: 100%;
}
#media-buttons {
	display: none;
}
#main h4 {
	line-height: 1.1em;
	clear: both;
	margin-bottom: .5em;
}
.avatar {
	position: relative;
	left: 0px;
	top: 5px;
	margin-bottom: -20px;
}
#main #respond.replying, #main .commentlist li #respond.replying {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-left: 0 !important;
	z-index: 1000;
	left: 0px !important;
}
.single #main .postcontent {
	clear: both;
	margin: 0;
	padding: 0;
}
li #respond textarea {
	width: 80%;
	height: 80%;
}
#main h4 {
	position: relative;
	margin-left: 30px;
}
h1 a {
	display: block;
	width: 295px;
	font-family: Helvetica;
}
#footer {
	border: none;
	font-size: 8px;
	padding: 10px 0;
	width: 100%;
	min-width: 0;
}
#footer p {
	margin: 0 10px;
}
#main ul.commentlist, #main ul.commentlist ul {
	margin-left: 20px !important;
}
#wrapper {
	border: none;
	margin: 0 auto;
	padding: 0;
	overflow: visible;
	position: static;
	width: 100%;
	min-width: 0;
	background: #fff;
}
.avatar {
	width: 20px;
	height: 20px;
}
.sleeve_main {
	width: auto;
	margin: 0;
}
#post-types {
	margin-left: 0;
	font-size: 10px;
	padding-top: 4px;
}
#main ul#postlist ul li {
	margin-left: 0;
}
.post h1 {
	font-size: 12px;
	font-family: Georgia, "Times New Roman", serif;
	margin-left: 0;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 0;
}
h2 {
	font-size: 12px;
	font-weight: bold;
	color: #555;
}
#postbox form {
	padding: 5px;
}
#postbox textarea#posttext {
	height: 50px;
	border: 1px solid #c6d9e9;
	margin-bottom: 10px;
	padding: 2px;
	font: 1.4em/1.2em "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
}
#postbox input#tags, #commentform #comment {
	font-size: 12px;
	padding: 2px;
	border: 1px solid #c6d9e9;
	width: 300px;
	margin-bottom: 4px;
	margin-left: 0;
}
#postbox {
	margin: 0;
	padding: 0;
}
#postbox label {
	color: #333;
	display: block;
	font-size: 12px;
	margin-bottom: 4px;
	margin-left: 0;
	font-weight: bold;
}
#postbox .inputarea {
	padding-left: 0;
	height: auto;
}
#notify {
	width: 70%;
	left: 15%;
	top: 30%;
}
#postbox {
	position: relative;
	padding-bottom: 30px;
}
#postbox input#submit {
	font-size: 12px;
	clear: both;
	display: block;
	margin-top: 10px;
	margin-left: 0;
	float: none;
}
form#new_post {
	margin-top: 0;
}
#main ul {
	list-style: none;
	margin-top: 16px;
	margin-left: 0;
}
#wpcombar {
	display: none;
}
body {
	padding-top: 0 !important;
}
.tags {
	padding-top: 4px;
	clear: both;
	display: block;
}