<FilesMatch "(robotics_syllabi|important_topics|syllabus|book_reviews|lecture_topics).html">
  AuthUserFile /home/wholcomb/sites/.htpasswd
  AuthName "Admin"
  AuthType Basic
  Require valid-user
</FilesMatch>
