body {
  margin:0px 0px 0px 0px;
  }
	
#leftcontent {
  float:left;
  width:25%;
  background:#fff;
  border-right:2px solid #000;
  border-bottom:2px solid #000;

  border-top:2px solid #000;
  margin-right:15px;
  padding-bottom:20px;
		}

#rightcontent {
  }
	
p,h1,pre {
  margin:0px 30px 10px 30px;
  }
		
h1 {
  font-size:14px;
  padding-top:10px;
  }
	
#rightcontent p {
  font-size:10px;
  margin-left:0px;
  }
