a.tree-control {
  margin-left: .25em;
  margin-right: .1em;
}
.leaf {
  padding-left: .25em;
}
form.tree-control { padding: 0; margin-top: -.2em; }
form.tree-control input { margin-left: .5em; margin-right: .25em; padding: 0; }
li li form.tree-control { margin: 0; }
li .leaf { padding: 0; }
form.tree-control div.generated { margin-left: -.75em; }
li li form.tree-control div.generated { margin-left: -1.5em; }
