/*
 Description: A snowy blue color scheme for the Clean Home theme
*/


/* Global */

body {
	background: #6fceeb;
	background: #6fceeb url(i/triangle.png) bottom repeat-x;
}
#wrapper {
	background: #ccebf5;
	background: rgba(255,255,255,0.7);
}
#footer {
	background: #98def3;
	margin: 0px -30px;
	padding-bottom: 30px;
	width: 960px;
	-webkit-border-bottom-right-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}
hr {
	border-color: #b3e2f1;
}


/* Dotted Lines */

.content,
.header,
#blurb,
#footer,
body.single .navigation {
	border-color: #9ccedd;
}


/* Links */

.header a:hover,
#blurb a:hover,
#sidebar a:hover,
#footer a:hover,
.content a:hover {
	color: #0092be;
	border-bottom: 1px dotted #0092be;
}


/* Header */

#logo a {
	color: #086581;
}
#logo h2 {
	color: #263e46;
}
.header-image {
	border-color: #1E6074;
}


/* Content */

.post hr {
	margin-left: -20px;
	width: 640px;
}
.sticky hr {
	border-color: #c25b1f;
}


/* Sidebar */

#sidebar .block li,
#sidebar .block ul {
	border-color: #b3e2f1;
}


/* Comments */

ol.commentlist {
	margin-right: 20px;
}

#comments .bypostauthor.comment {
	background: #f2d9b3;
}


/* Deco */

#wpstats {
	background-color: #09b7e3;
	padding: 2px;
	border: 1px solid #0885a5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
