/* clear the floats for all our IE friends*/
.clear, li.comment, #sidebar ul li, #navigation, .pagination div a:link, .pagination div a:visited { zoom: 1; }

/*hover on comments*/
div.comments a:hover strong { cursor: pointer; }

/*footer bg color*/
#footer { background-color: rgb(230, 230, 230); }