html, body {
  font-size: 13pt;
  height: 100%;
  margin: 0;
}

p, pre, ul, ol, table {
  margin-left: 10%;
  margin-right: 10%;
}

ul ul {
  margin-left: 0;
  margin-right: 0;
}

div {
  text-align: center;
}

form, textarea {
  display: block;
  margin: auto;
  height: 50%;
}

textarea {
  width: 80%;
  height: 100%;
  border: 2px solid black;
  padding-left: 1em;
  padding-right: 1em;
}

input[type~="submit"] {
  padding-left: 20%;
  padding-right: 20%;
}

hr {
  width: 75%;
}
