body {
  font-size: 15pt;
}

table {
  border: outset 2pt;
  margin-left: auto;
  margin-right: auto;
}

table[class = "test-table"] {
  width: 70%;
}

caption {
  caption-side: bottom;
  text-align: center;
  width: auto;
  border: dashed;
  margin-left: auto;
  margin-right: auto;
}
