html, body { margin: 0; font-size: 13pt; }
h1, h2 { font-family: sans-serif; }
h1 { font-size: 120pt; color: white; margin: -0em 0 0 0; border-bottom: 2px solid green; padding: 0;
     background-color: rgb(255, 158, 23); line-height: 75%; letter-spacing: -.01em; }
h2 { font-size: 30pt; text-align: right; margin-top: -.6em; margin-right: 35%; color: rgb(255, 158, 23); }
.firstletter { background-color: white; color: rgb(255, 158, 23); }
#content { margin: 0 20%; border: 2px green; border-style: none solid; padding: 2em 1em 0; }
p { text-indent: 1.5em; text-align: justify; }
.oquote { font-size: 400%; float: left; line-height: 50%; margin-left: -1em; margin-top: .1em; }
blockquote { margin-left: 5.5em; }
.cquote { font-size: 200%; line-height: 13pt; margin-top: .5em; }
.attribution { text-align: right; }
.unused { color: #999; }
