img.alignleft, img.aligncenter, img.alignright, img.alignnone {
	width: expression(this.width > 521 ? 520: true);
}
#nav .current_home,
#nav .current_home a,
#nav .current_home a:hover,
#nav .current_home a:focus,
#nav .current_page_item,
#nav .current_home,
#nav .page_item:hover,
#nav .page_item:focus,
#nav .current_page_item a,
#nav .current_page_item a:hover,
#nav .current_page_item a:focus {
	background-image: none;
}
#content {
	width: 415px;
}
#sidebar {
	width: 235px;
}