/* Background color. */
body {
	background-color: #e7e7e4;
}
/* Link colors. */
a {
	color: #2464b3;
}
a:hover {
	color: #5f9ccf;
}
/* Border color for menu and columns. */
#c1,
#c2,
#c3,
.menu {
	border-color: #e7dbbe;
}
/* Background color for all menu items. */
.menu li:hover > a,
.menu li ul li a,
.menu li.current-menu-ancestor a,
.menu li.current_page_ancestor a  {
	background-color: #e7dbbe;
}
/* Background color for selected item in the menu. */
.menu li.current-menu-item > a,
.menu li.current-menu-item > a:hover,
.menu li.current_page_item > a,
.menu li.current_page_item > a:hover {
	background: #d6c9a9;
}
/* Background color for widgets. */
.comment-body,
.sticky,
.widget {
	background: #f4f3f2;
}
/* Wiget titles. */
.widget h2 {
	background: #eceae1;
	color: #7e7e7e;
}
