/*
	Notes.JS 1.0 [base stylesheet]
	http://help.acidjs.wemakesites.net/notes-js.html
*/

html, body
{
    height: 100%;
}

.notes-js-note *
{
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    list-style: none;
    outline: none;
}

.notes-js-note .notes-js-note-header button::-moz-focus-inner
{
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

.notes-js-note
{
    position: fixed;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 8px #666;
    -webkit-box-shadow: 0 0 8px #666;
    box-shadow: 0 0 8px #666;
    z-index: 1000;
}

.notes-js-note textarea,
.notes-js-note .notes-js-note-header input
{
    font-family: "Segoe Script", "Comic Sans", Cursive;
}

.notes-js-note textarea
{
    width: 200px;
    height: 150px;
    font-size: 14px;
    font-weight: normal;
    resize: none;
    color: #333;
    overflow: auto;
}

.notes-js-note.on-top
{
    z-index: 1100;
    -moz-box-shadow: 0 0 10px #666;
    -webkit-box-shadow: 0 0 10px #666;
    box-shadow: 0 0 10px #666;
}

.notes-js-note .notes-js-dragbar,
.notes-js-note .notes-js-note-header
{
    float: none;
    clear: both;
}

.notes-js-note .notes-js-note-header,
.notes-js-note .notes-js-note-header input,
.notes-js-note .notes-js-note-header button
{
    height: 32px;
}

.notes-js-note .notes-js-dragbar,
.notes-js-note.notes-js-note-draggable-false .notes-js-dragbar
{
   display: none;
}

.notes-js-note .notes-js-dragbar
{
   position: absolute;
   top: -10px;
   left: 50%;
   z-index: -1;
   width: 100px;
   height: 24px;
   margin: 0 0 0 -50px;
   text-align: center;
   font: bold 30px/10px "Arial Rounded MT Bold", Sans-serif;
   color: #5f5f5f;
   background: #fff;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   -moz-box-shadow: 0 0 8px #666;
   -webkit-box-shadow: 0 0 8px #666;
   box-shadow: 0 0 8px #666;
}

.notes-js-note .notes-js-note-header *,
.notes-js-note:hover .notes-js-dragbar
{
    display: block;
}

.notes-js-note.notes-js-note-draggable-true .notes-js-dragbar
{
    cursor: move;
}

.notes-js-note .notes-js-note-header input
{
    float: left;
    color: #333;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    max-width: 168px;
}

.notes-js-note .notes-js-note-header button
{
    float: right;
    width: 32px;
    font: bold 14px/32px Arial, Sans-serif;
    color: #5f5f5f;
    cursor: hand;
    cursor: pointer;
}

.notes-js-note .notes-js-inner-wrapper
{
	-moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
	background: -moz-linear-gradient(
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 10%,
		rgba(255, 255, 255, 0)
	);
    background: -webkit-gradient(linear, left top, left bottom,
        from(rgba(255, 255, 255, 1)),
        to(rgba(255, 255, 255, 0))
    );
    background: -webkit-linear-gradient(
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 10%,
		rgba(255, 255, 255, 0)
	);
    background: -o-linear-gradient(
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 10%,
		rgba(255, 255, 255, 0)
	);
    background: -ms-linear-gradient(
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 10%,
		rgba(255, 255, 255, 0)
	);
    background: linear-gradient(
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 10%,
		rgba(255, 255, 255, 0)
	);
}