/*
	SplitButton.JS 1.0 Skin Stylesheet
	http://acidjs.wemakesites.net/split-button-xml.html
*/

.split-button-js-default *
{
    color: #000;
}

.split-button-js-default .split-button-js-header-wrapper,
.split-button-js-default:not(.split-button-js-disabled) ul a:hover,
.split-button-js-default ul .split-button-js-list-selected a
{
    border-color: #808080;
}

.split-button-js-default .split-button-js-header-wrapper a,
.split-button-js-default:not(.split-button-js-disabled):hover .split-button-js-header-wrapper a
{
    border-right: solid 1px #808080;
}

.split-button-js-default .split-button-js-header-wrapper span,
.split-button-js-default:not(.split-button-js-disabled):hover .split-button-js-header-wrapper span
{
    border-left: solid 1px #d6d6d6;
}

.split-button-js-default .split-button-js-header-wrapper span b
{
    background: url("arrow.gif") no-repeat 6px center;
}

.split-button-js-default .split-button-js-header-wrapper a,
.split-button-js-default .split-button-js-header-wrapper span
{
    background: #ebebe5;
    background: -moz-linear-gradient(top, #ffffff, #ebebe5);
    background: -o-linear-gradient(top, #ffffff, #ebebe5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#ebebe5));
}

.split-button-js-default:not(.split-button-js-disabled):hover .split-button-js-header-wrapper a,
.split-button-js-default:not(.split-button-js-disabled):hover .split-button-js-header-wrapper span,
.split-button-js-default ul a:hover,
.split-button-js-default:not(.split-button-js-disabled) .split-button-js-header-wrapper a:active,
.split-button-js-default:not(.split-button-js-disabled) .split-button-js-header-wrapper a:active + span,
.split-button-js-default ul .split-button-js-list-selected a
{
    background: #ebebe5;
    background: -moz-linear-gradient(top, #ebebe5, #ffffff);
    background: -o-linear-gradient(top, #ebebe5, #ffffff);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebe5), to(#ffffff));
}

.split-button-js-default:not(.split-button-js-disabled):hover .split-button-js-header-wrapper a b,
.split-button-js-default ul a:hover b,
.split-button-js-default ul .split-button-js-list-selected a b
{
    color: #000;
}

.split-button-js-default ul
{
    border: solid 2px #bdbdbd;
}