.conductor, .lead, .plate, .brackets, #arrow {
  fill: none;
  stroke: rgb(45, 67, 62);
  stroke-width: .5;
}
#bulb {
  fill: rgb(251, 253, 206);
  stroke: black;
  stroke-width: .15;
}
#filament {
  stroke: rgb(255, 51, 51);
  stroke-width: 1.5;
}
.insulator {
  fill: rgb(253, 176, 140);
  stroke: rgb(92, 73, 73);
  stroke-width: .2;
}
text {
  font-size: 10px;
  text-anchor: middle;
  fill: black;
}
#slider text {
  font-weight: bold;
  fill: white;
}
#pulse-b {
  stroke: rgb(6, 170, 92);
  stroke-width: 2;
}
#pulse-a {
  stroke: rgb(249, 61, 6);
  stroke-width: 2;
}
#label line { stroke-width: 1; }
