/*
White color scheme for Vostok theme.
*/

body {
	background: #f3f3f3;
}
strong {
	color: #333;
}
#wrapper {
	color: #666;
}
#header a:link,
#header a:visited {
	color: #000;
	text-shadow: 0 1px 2px #fff;
}
#header a:hover,
#header a:active,
#header a:focus {
	color: #0087c1;
}
#header p.description {
	color: #999;
}
#access {
	border-top: 1px solid #ddd;
}
.back:link,
.back:visited {
	color: #f60;
}
.back:hover,
.back:active,
.back:focus {
	color: #fff;
}
#content .hentry, #entry-author-info {
	background: #fff;
	border: 1px solid #ddd;
}
.post h2,
.post h3,
.post h4,
.post h5,
#search h2,
.emptysearch,
.error {
	color: #222;
}
.post h2 a:link,
.post h2 a:visited {
	color: #222;
}
.post h2 a:hover,
.post h2 a:active,
.post h2 a:focus {
	color: #000;
}
.post blockquote,
.comment blockquote {
	background: #eee;
}
#wrapper .post img {
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 5px
}
.date {
	color: #aaa;
}
#content a:focus {
	color: #f90;
}
.entry a:link,
.comment a:link {
	color: #0087c1;
}
.entry a:visited,
.comment a:visited {
	color: #0087c1;
}
.entry a:hover,
.entry a:active,
.entry a:focus,
.comment a:hover,
.comment a:active,
.comment a:focus {
	color: #000;
}
.post img {
	border: none;
}
.post .number-of-comments a:link,
.post .number-of-comments a:visited {
	color: #333;
}
.post .number-of-comments a:hover,
.post .number-of-comments a:active,
.post .number-of-comments a:focus {
	color: #0087c1;
}
#comments h3,
#commentform h3 {
	color: #222;
}
.comment {
	border-top: 1px solid #ddd;
}
.highlighted {
	background: #fefefe;
	border-top: 1px solid #e6e6e7;
}
.highlighted a:link,
.highlighted a:visited {
	color: #0087c1;
}
.comment cite {
	color: #333;
}
.comment .moderation {
	color: #333;
}
#commentform {
	background: #fff;
	border: 1px solid #ddd;
}
#commentform input#author,
#commentform input#email,
#commentform input#url,
#commentform textarea {
	border: 1px solid #ccc;
}
#commentform a:link,
#commentform a:visited {
	color: #0087c1;
}
#commentform a:hover,
#commentform a:active,
#commentform a:focus {
	color: #ccc;
}
.pagination {
	color: #0087c1;
}
.pagination a:link,
.pagination a:visited {
	color: #0087c1;
}
.pagination a:hover,
.pagination a:active,
.pagination a:focus {
	color: #000;
}
#sidebar {
	color: #999;
}
#sidebar a:link,
#sidebar a:visited {
	color: #555;
}
#sidebar a:hover,
#sidebar a:active,
#sidebar a:focus {
	color: #0087c1;
}
#sidebar #sb-2 a:link,
#sidebar #sb-2 a:visited {
	color: #555;
}
#sidebar #sb-2 a:hover,
#sidebar #sb-2 a:active,
#sidebar #sb-2 a:focus {
	color: #0087c1;
}
#sidebar #sb-2 .input-text {
	border: 1px solid #ccc;
}
#footer {
	border-top: 1px solid #ddd;
	color: #828282;
}
#footer a:link,
#footer a:visited {
	color: #0087c1;
}
#footer a:hover,
#footer a:active,
#footer a:focus {
	color: #000;
}
.entry-content ul li {
	background: url(../images/white/bullet.gif) 0 7px no-repeat;
}
.widget-area .email {
	background: url(../images/white/ico-mail.gif) 0 4px no-repeat;
}
.widget-area #rss li {
	background: url(../images/white/ico-rss.png) left center no-repeat;
}