[submodule ".../lib/strophe"]
	path = .../lib/strophe
	url = git@github.com:wholcomb/strophejs.git
[submodule ".../lib/jquery"]
	path = .../lib/jquery
	url = git@github.com:wholcomb/jquery.git
[submodule ".../lib/punjab"]
	path = .../lib/punjab
	url = git://code.stanziq.com/punjab
[submodule "~"]
	path = ~
	url = git@github.com:wholcomb/Home.git
[submodule ".../lib/mimis"]
	path = .../lib/mimis
	url = git@github.com:wholcomb/mimis.git
[submodule ".../doc/xsf"]
	path = .../doc/xsf
	url = http://github.com/xsf/documentation.git
