[submodule "github/ShareIt-project/SimpleSignaling"]
	path = github/ShareIt-project/SimpleSignaling
	url = git@github.com:wholcomb/SimpleSignaling.git
[submodule "blog/stripe_payments/stripe_example"]
	path = blog/stripe_payments/stripe_example
	url = git@github.com:wholcomb/stripe_example.git
[submodule "lib/telehash/demo/chat"]
	path = lib/telehash/demo/chat
	url = git@github.com:wholcomb/telehash-demo.git
[submodule "lib/jquery/autocomplete/path"]
	path = lib/jquery/autocomplete/path
	url = git@github.com:wholcomb/path-autocomplete.git
