# Options +Indexes
HeaderName HEADER.html
IndexOptions Charset=UTF-8 NameWidth=* DescriptionWidth=* FancyIndexing FoldersFirst ScanHTMLTitles SuppressHTMLPreamble XHTML HTMLTable -SuppressIcon
IndexIgnore .svn *~ .DS_Store HEADER.html svn-commit.tmp

AddCharset UTF-8 .html .php .css .js

DirectoryIndex index.php index.xhtml index.html index.svg xhtml html svg

RemoveHandler .sh
RemoveHandler .py
RemoveHandler .pl

AddType application/x-java-jnlp-file .jnlp
AddType application/x-httpd-php-source .phps
AddType text/plain .sh .com .vbs .py .java .c
AddType image/svg+xml .svg .svgz
AddType text/xml :
AddType application/javascript .jquery
AddEncoding x-gzip .svgz

<Files "svg">
  ForceType image/svg+xml
</Files>

<Files "css">
  ForceType text/css
</Files>

<FilesMatch "js">
  ForceType application/javascript
</FilesMatch>

#RewriteEngine on
#RewriteCond %{REQUEST_URI} ^.*gmail/*(.*)$ [NC]
#RewriteRule ^(.*)$ http://gmail.com/%1 [R,L]

<FilesMatch ".svn">
  AuthUserFile /home/will/sites/.htpasswd
  AuthName "Subversion Pass"
  AuthType Basic
  Require Valid-User
</FilesMatch> 
