# Options +Indexes
HeaderName .apache.header.html
IndexOptions Charset=UTF-8 NameWidth=* DescriptionWidth=* FancyIndexing FoldersFirst ScanHTMLTitles SuppressHTMLPreamble XHTML HTMLTable -SuppressIcon
IndexIgnore .svn *~ .DS_Store HEADER.html svn-commit.tmp

AddCharset UTF-8 .html .php .css .js

DirectoryIndex php xhtml svg html utf-8 txt js jquery eson json css mkv webm m4a mp3

RemoveHandler .sh
RemoveHandler .py
RemoveHandler .pl

AddType application/x-java-jnlp-file .jnlp
AddType application/x-httpd-php-source .phps
AddType text/plain .sh .com .vbs .py .java .c
AddType image/svg+xml .svg .svgz
AddType text/xml :
AddType application/javascript .jquery
AddType video/webm .webm
AddEncoding x-gzip .svgz

<Files "php">
  # ToDo: Make futureproof
  SetHandler php-cgi
  #SetHandler php5-script
  #SetHandler php-script
  #SetHandler application/x-httpd-php
</Files>

<Files "svg">
  ForceType image/svg+xml
</Files>

<Files "utf-8">
  ForceType text/plain;charset=utf-8
</Files>

<Files "xhtml">
  ForceType application/xhtml+xml
</Files>

<Files "html">
  ForceType text/html
</Files>

<Files "css">
  ForceType text/css
</Files>

<FilesMatch "^(js|jquery|rhino|mimis)$">
  ForceType application/javascript
</FilesMatch>

<FilesMatch "(mql|json)">
  ForceType application/json
</FilesMatch>

<FilesMatch "eson">
  ForceType application/eson
</FilesMatch>

<Files "ttf">
  ForceType font/ttf
</Files>

<Files "otf">
  ForceType font/opentype
</Files>

<Files "crx">
  ForceType application/x-chrome-extension
</Files>

<Files "xml">
  ForceType text/xml
</Files>

<Files "jar">
  ForceType application/x-java-applet
</Files>

<Files "mp3">
  ForceType audio/mpeg
</Files>

<Files "webm">
  ForceType video/webm
</Files>

#RewriteEngine on
#RewriteCond %{REQUEST_URI} ^.*gmail/*(.*)$ [NC]
#RewriteRule ^(.*)$ http://gmail.com/%1 [R,L]

#<FilesMatch ".svn|.git">
#  AuthUserFile .../.htpasswd
#  AuthName "Versioning Pass"
#  AuthType Basic
#  Require Valid-User
#</FilesMatch> 
