body.tabbed {
  margin: 0; padding: 0;
  max-width: 100%;
}

.tabbed #htmltab {
  max-width: 52em;
  margin: auto;
}

#top > .ui-tabs-nav li {
  width: 45%;
}

#top > .ui-tabs-nav li a {
  display: block;
  width: 100%;
  text-align: center;
}

.ui-tabs-nav > li {
  text-indent: 0;
}

#areas > .ui-tabs-panel {
/*
  display: table;
*/
}

#scroller, #headers, #props {
  float: left;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 1em 0;
}

#headers, #props, #props ul {
  list-style: none;
}

#headers {
  white-space: nowrap;
  overflow: hidden;
  margin-left: .5em;
}

#props li, #headers li ul, #headers li {
  text-indent: 0;
  padding-left: 0;
}

#headers li {
  text-indent: .1em;
  margin-bottom: .5em;
}

#headers .org {
  display: block;
  border-bottom: 2px solid;
}

#headers .role {
  display: block;
  margin-left: 1.5em;
}

#areas:after {
  content: ''; display: block; clear: both;
}

#props {
}

#props ul {
  border-top: 2px solid;
}

#jquerytab {
  padding: .5em;
}

/*body { overflow: hidden; }*/

li { text-indent: 0; }

body.htmltab #top, body.htmltab .ui-widget-header .ui-tabs-selected {
  background-image: none; background-color: rgb(255, 245, 209);
}

/* Without the direct descendant selector, all subtabs are colored */
body.jquerytab #top, body.jquerytab > * > .ui-widget-header .ui-tabs-selected {
  background-image: none; background-color: rgb(220, 228, 252);
}

@media print {
  /* Force printing of HTML version */
  .ui-tabs-nav, .ui-tabs-panel { display: none; }
  #htmltab.ui-tabs-panel { display: block; }
}
