body.tabbed {
  margin: 0; padding: 0;
  max-width: 100%;
}

.tabbed #htmltab {
  max-width: 52em;
  margin: auto;
}

#top > .ui-tabs-nav li {
  width: 45%;
}

#top > .ui-tabs-nav li a {
  display: block;
  width: 100%;
  text-align: center;
}

#headers {
  width: 45%;
  list-style: none;
}

#headers .role {
  display: block;
  margin-left: 1.5em;
}

#areas:after {
  content: ''; display: block; clear: both;
}

#props {
  width: 45%;
}

#jquerytab {
    overflow: scroll;
}

#headers, #props {
  float: left;
}

li { text-indent: 0; }

html { height: 100%; }
#props { height: 20em; overflow: auto; }
#props ul { border-top: 2px solid; }

@media print {
  /* Force printing of HTML version */
  .ui-tabs-nav, .ui-tabs-panel { display: none; }
  #htmltab.ui-tabs-panel { display: block; }
}
