body {
  background-color: rgb(16, 114, 1);
  color: white;
  font-size: 13pt;
}

hr {
  width: 65%;
}

p {
  text-indent: .75em;
  color: white;
  text-align: justify;
}

table {
  margin: auto;
}

td {
  text-align: center;
  padding: .5em;
}

h1 {
  text-align: center;
  color: white;
  font-size: 55pt;
  margin: 0em;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: rgb(64, 56, 142);
}

a:active {
  color: red;
}

a:hover {
  color: rgb(41, 81, 151);
  text-decoration: underline;
}

.nav a, .nav a:visited {
  font-size: 15pt;
  border: 2px solid black;
  padding: .5em;
  padding-top: .25em;
  padding-bottom: .25em;
  margin: .5em;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: maroon;
}

.nav a:hover {
  background-color: white;
  color: maroon;
}

.contact div {
}
