<environment xmlns="http://himinbi.org/templ/env/0.1"
             xmlns:html="http://www.w3.org/1999/xhtml">
  <var name="title">Test Data</var>
  <var name="body">
    <html:p>This is test data set #1</html:p>
  </var>
</environment>
