/**
 * RTL.
 */


/* Main Navigation
-------------------------------------------------------------------*/

#main-nav li {
	margin-left: 20px;
	margin-right: 0;
}
#main-nav li:last-child {
	margin-left: 0;
}


/* Sub Navigation
-------------------------------------------------------------------*/

#main-nav ul ul {
	right: 0;
	left: auto;
}
#main-nav ul ul li {
	margin-left: 20px;
	margin-right: 0;
}
#main-nav ul ul li:last-child {
	margin-left: 0;
}


/* Main Content Body
-------------------------------------------------------------------*/

#core-content {
	float: right;
}

/* Posts
-------------------------------------------------------------------*/

#core-content li {
	margin-right: 17px;
	margin-left: 0;
}
.entry-content ul,
.entry-content ol {
	margin: 0 15px 20px 0;
}
.entry-content blockquote {
	margin: 0 20px 20px;
	padding-right: 10px;
	padding-left: 0;
	border-right: 3px solid #ccc;
	border-left: none;
}
.entry-content .alignleft {
	float: right;
	margin: 4px 0 10px 10px;
}
.entry-content .alignright {
	float: left;
	margin: 4px 10px 10px 0;
}
.entry-content table {
	text-align: right;
}


/* =Post formats
----------------------------------------------- */

/* Image */
.format-image .entry-content {
	margin-right: 60px;
	margin-left: 24px;
}
/* Link */
.format-link .post-content .entry-title:after {
	padding-right: 10px;
	padding-left: 0;
}


/* Single Post Page
----------------------------------------------- */

.single #core-content .post-meta {
	text-align: right;
}

/* Links Page
-------------------------------------------------------------------*/

#core-content .entry-content #link-list {
	margin-right: 0;
}
#core-content .entry-content #link-list li {
	margin-right: 0;
}
#core-content .entry-content #link-list li li {
	margin-right: 15px;
	margin-left: 0;
}

/* Comments
-------------------------------------------------------------------*/

#core-content #comments li {
	margin-right: 0;
	padding-right: 58px;
	padding-left: 0;
}
.avatar {
	left: auto;
	right: 0;
}
#core-content .comment-body {
	padding-left: 10px;
	padding-right: 0;
}
#core-content #comments .comment .children li {
	padding: 10px 52px 0 0;
}
#core-content #comments .comment .children li .comment-body {
	margin-right: -52px;
	margin-left: 0;
	padding: 10px 52px 10px 10px;
	border-right: 2px solid #ccc;
	border-left: none;
}
#core-content #comments .comment .children li.depth-3 .comment-body {
	border-right: 2px solid #ccc;
	border-left: none;
}
#core-content #comments .comment .children li.depth-4 .comment-body {
	border-left: none;
	border-right: 2px solid #ccc;
}
#core-content #comments .comment .children li .avatar {
	left: auto;
	right: 10px;
}
#cancel-comment-reply {
	float: right;
}
.comment-reply-link{
	padding-right: 13px;
	padding-left: 0;
	background: url(images/icon_reply.png) no-repeat right 2px;
}
.comment-meta {
	left: 10px;
	right: auto;	
}
.commentContent {
	float: right;
	margin-right: 22px;
	margin-left: 0;
}

/* Comment form */

#comments h3,
legend span {
	text-align: right;
}


/* Image Gallery
-------------------------------------------------------------------- */

#gallery-nav_prev {
	right: 0;
	left: auto;
	margin-left: 10px;
	margin-right: 0;
}
#gallery-nav_next {
	left: 0;
	right: auto;
}


/* Paging Navigation
-------------------------------------------------------------------- */

.page-nav .prev {
	float: right;
}
.page-nav .next {
	float: left;
}

/* Archives
-------------------------------------------------------------------- */

#archives h3,
#core-content li h3 {
	text-align: right;
}
#archives #date {
	float: right;
}
#archives #cattags {
	float: right;
	margin-right: 30px;
	margin-left: 0;
}
#archives ul {
	text-align: right;
}
#archives ul li {
	margin: 0 0 5px 5px;
}
#archives li a {
	margin-left: 5px;
	margin-right: 0;
}
.tagArchives li {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}


/* Recent Posts (on the 404 page)
-------------------------------------------------------------------- */

#recent-posts a {
	float: right;
}
#recent-posts .post-date {
	float: left;
}

/* Search Results
-------------------------------------------------------------------- */

.searchresults .post-meta {
	text-align: right;
}


/* =Widgets
-------------------------------------------------------------- */

/* Two footer Widget Areas */
#supplementary.two .widget-area {
	float: right;
	margin-left: 3%;
	margin-right: 0;
	text-align: left;
}
#supplementary.two .widget-area .avatar {
	float: left;
}
#supplementary.two .widget-area + .widget-area .avatar {
	float: right;
}
#supplementary.two .widget-area + .widget-area {
	margin-left: 0;
	text-align: right;
}


/* footer
-------------------------------------------------------------------- */

.footer-content {
	clear: right;
}
#footer .elsewhere li {
	padding: 0 0 0 8px;
	margin: 0 0 0 5px;
	border-left: 1px dotted #ccc;
	border-right: none;
}
#footer .elsewhere li:last-child {
	border-left: none;
}