html {
  background-color: currentColor;
  font-size: 150%;
}
img, h1, td, .indexhead a {
  color: currentColor;
  filter: invert(1);
  mix-blend-mode: difference ! important;
}
a:hover {
  filter: invert(.75);
}
