html {
  background-color: rgb(46, 46, 46);
  background-image: url('../backgrounds/black_side.png');
}

p { color: #CCCC99 }

a { color: #FFCC99 }

a:visited { color: #AAAAAA }

h3 { color: #FF6600 }
