body {
  background-color: black;
  color: #FF3636;
}

p {
  font-family: non-serif, "comic sans ms";
  font-size: medium;
/*  color: #F37676; */
  text-align: justify;
}

h1 {
  font-family: serif;
  font-size: xx-large;
/*  color: #939AF9; */
  color: #4362F1;
  text-align: center;
}
