html {
  background-color: rgb(31, 36, 46);
  background-image: url('../backgrounds/blue_star_side.png');
}

p { color: #CCCC99 }

ul a { color: #FFCC99 }

a:visited { color: #AAAAAA }

h3 { color: #FF6600 }

ul { background-color: #999966 }
