@import url("footnotes.css");

html {
  background-color: rgb(16, 16, 16);
  background-image: url('../backgrounds/black_squares_side.png');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: 1.5em;
  padding-left: 160px;
  color: rgb(238, 238, 238);
  font-size: 12.5pt;
  text-align: justify;
}

h1, h2 {
  margin: 0;
  font-family: Arial, serif;
}

h1 {
  font-variant: small-caps;
  font-size: 20pt;
  margin-top: 5em;
}

h2 {
  font-size: 15pt;
}

h1 + h2 {
  font-style: italic;
}

h2 + h2 {
  margin-top: .75em;
}

pre {
  font-family: "Times New Roman", sans-serif;
  white-space: pre; /* normal / pre / nowrap */
  margin-bottom: 0em;
  margin-top: .5em;
}

.normal {
  white-space: normal;
}

ul {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: thin inset;
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: rgb(68, 68, 68);
}

a {
  font-weight: bold;
  text-decoration: none;
  -moz-opacity: .75;
  color: rgb(255, 204, 153);
}

a:visited {
  color: rgb(170, 170, 170);
}

a:hover {
  -moz-opacity: 1;
}

.indented {
  text-indent: 3ex;
}

.indentedline3 {
  margin-left: 2em;
}

.indentedline4 {
  margin-left: 3em;
}

.title {
  text-decoration: underline;
}
