table {
  width: 75%;
  margin: auto;
  border-collapse: collapse;
}

td, th {
  border: thin dashed;
  border-right: thin solid;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
}

tr td:first-child, tr th:first-child {
  border-left: none;
  border-right: double;
}

tr td:last-child, tr th:last-child {
  border-right: none;
}

tbody tr:last-child td, tbody tr:last-child th {
  border-bottom: none;
}

thead td, thead th {
  border-top: none;
  border-bottom: double;
}
