.meyermenu.vertical li.parent:hover:before, .meyermenu.vertical.right li.parent:before
  { content: '◀ '; }
.meyermenu.vertical.right li.parent:hover:after, .meyermenu.vertical li.parent:after
  { content: ' ▶'; }
.meyermenu.vertical li.parent:hover:after, .meyermenu.vertical.right li.parent:hover:before,
 .meyermenu.vertical.right li.parent:after
  { content: ''; }

.meyermenu.tab li.parent:after { content: ' ▼'; }
.meyermenu.right.tab li.parent:before { content: '▼ '; }
.meyermenu.right.tab li.parent:after { content: ''; }
