body {
  background-image: url("../backgrounds/light_clouds.png");
  background-color: rgb(188, 215, 243);
  color: #120460;
  text-align: justify;
  font-size: 13pt;
}

p {
  margin-left: 0.25in;
  margin-right: 0.25in;
}

a:link, a:active {
  text-decoration: none;
  color: #CD1D8F;
}

a:visited {
  text-decoration: none;
  color: rgb(66, 106, 147);
}

a:hover {
  text-shadow: 3px 3px 5px red;
  color: #FA96F2;
}

h1, h2, h3 {
  text-align: center;
}

th, td {
  text-align: center;
}

/**
 * Workaround for Netscape, becasue the BODY rule is not
 *  catching text in the <th> or <td> and as long as I am
 *  using it I'll add something.
 */
th, td, caption {
  color: #EBF3FF;
  font-size: 13pt;
}  


