
/* =Dark
------------------------------------------------------------------*/

body,
.delicious-desc {
	background: #000;
	color: #ddd;
}
#supplementary a {
	color: #999;
}
h2 a,
#supplementary a:hover {
	color: #ccc;
}
#main-nav a,
#entry-content h3 a,
#footer a,
.entry a.more-link {
	color: #bbb;
}
#main-nav li,
.navigation,
#supplementary ul li ul li {
	border-color: #888;
	border-color: rgba(255,255,255,0.05);
}
#main-nav ul li:hover {
	background: #ddd;
	background: rgba(255,255,255,0.7);
	border-color: transparent;
}
#main-nav ul li:hover a {
	color: #222;
}
#main-nav ul ul {
	background: #fff;
	background: rgba(255,255,255,0.9);
	border-bottom: 1px solid #EEE;
}
.entry a, .navigation a {
	border-color: rgba(255,255,255,0.15);
	color: #ddd;
}
blockquote {
	border-color: #666;
}
.entry .gallery img {
	border-color: #111 !important;
}
li.bypostauthor div.comment-body {
	border-color: #eee;
}
h2, h3,
#search,
#footer,
#footer a,
#footer-contact {
	border-color: #999;
	border-color: rgba(255,255,255,0.15);
}
#entry-content .sticky {
	border-color: transparent;
	background: #333;
	background: rgba(255, 255, 255, 0.09);
}
#entry-content .sticky h2 {
	border-color: #111;
}
#footer a:hover {
	color: #fff;
}
.spacer {
	background: url(../images/spacer-white.png) top center no-repeat;
}
#ie6 #main-nav a:hover,
#ie6 .current_page_item,
#ie6 .current {
	background: #eee;
	color: #222;
}