body {
	background: #333;
}
a {
	color: #3b96df;
}
a:hover {
	color: #111;
}
#header {
	background: #c3e024;
}
#logo a {
	color: #555;
}
#site-description {
	color: #111;
}
#access a {
	color: #111;
}
#access li:hover > a {
	color: #666;
}
#access ul ul :hover > a {
	color: #000;
}
#access ul ul a {
	color: #00adef;
}
#access ul ul a:hover {
	color: #666;
}
#access .current_page_ancestor > a,
#access .current_page_item > a,
#access .current_page_parent > a,
#access .current-menu-ancestor > a,
#access .current-menu-item > a,
#access .current-menu-parent > a {
	background: #c3e024;
	color: #666;
}
#featured-posts-container,
#single-header,
#footer {
	background: #111;
	border-color: #444;
}
.featured-post .entry-date,
.featured-post .entry-date a,
.feature-slider .entry-date,
.feature-slider .entry-date a {
	color: #fff;
}
.feature-slider .post-link {
	background: #333;
}
.archive-posts,
#latest-posts-container {
 	border-color: #444;
}
.latest-posts-header,
#respond h3,
.single-title,
#comments-title,
.single-title a {
	color: #fff;
}
.latest-post-title,
.latest-post-title a,
.archive-post-title,
.archive-post-title a,
.featured-post .featured-entry-title,
.featured-post .featured-entry-title a,
.feature-slider .featured-entry-title,
.single-title a:hover {
	color: #c3e024;
}
.entry-title,
.entry-title a {
	color: #fff;
}
.entry-title a:hover{
	color: #c3e024;
}
.latest-post-title a:hover,
.featured-entry-title a:hover,
.archive-post-title a:hover {
	color: #fff;
}
.entry-date,
.entry-date a {
	color: #c3e024;
}
.entry .more-link,
.page-link a {
	background-color: #c3e024;
	color: #000 !important;
}
.entry .more-link:hover,
.page-link a:hover {
	background-color: #ccc;
}
#nav-below a {
	color: #fff;
}
#nav-below a:hover {
	color: #c3e024;
}
#author-info-box a:hover {
	color: #fff;
}
#author-avatar img,
.widget_recent_comments img {
	border-color: #c3e024 !important;
}
#author-info-title {
	color: #c3e024;
}
.format-quote .entry-wrapper {
	background: #c3e024;
}
.format-quote .entry,
.format-quote .entry-wrapper a,
.format-quote .entry blockquote p {
	color: #000 !important;
}
.widget-area,
.widget-area a {
	color: #fff;
}
.widget-area a:hover {
	color: #c3e024;
}
.widget-title,
.widget-title a {
	color: #c3e024;
}
#wp-calendar th {
	color: #c3e024;
}
#wp-calendar tbody a {
	color: #c3e024;
}
#wp-calendar tbody a:hover {
	color: #fff;
}
#wp-calendar #today {
 	background: #c3e024;
}
#wp-calendar #today a {
 	color: #000;
}
#wp-calendar #prev a,
#wp-calendar #next a {
	color: #c3e024;
}
#wp-calendar #prev a:hover,
#wp-calendar #next a:hover {
	color: #fff;
}
.rss-date,
.widget_twitter .timesince {
	color: #c3e024 !important;
}
#comments .avatar {
	background: #c3e024;
}
.bypostauthor .comment-body {
	background: #c3e024 !important;
	color: #000 !important;
}
.comment-reply-link {
	background: #000;
	color: #fff;
}
.comment-reply-link:hover {
	background: #2fc6ff;
}
#respond label,
#respond p.comment-subscription-form label,
.nocomments {
	color: #fff;
}
#comment-nav-below a,
#comment-nav-above a {
	color: #fff;
}
#comment-nav-below a:hover,
#comment-nav-above a:hover {
	color: #fff;
}
#footer-widget-area {
	background: #c3e024;
}
#footer-widget-area .widget-title {
	color: #000;
}
#footer-widget-area .widget-title a {
	color: #000 !important;
}
#footer-widget-area a {
	color: #000;
}
#footer-widget-area a:hover {
	color: #666;
}
#footer-widget-area .widget-area ul ul li {
	border-color: #333;
}
#site-generator {
	color: #555;
}
#site-generator a {
	color: #888;
}
#site-generator a:hover {
	color: #3b96df;
}