body {
	background: #fff;
}
a {
	color: #ff3333;
}
a:hover {
	color: #111;
}
#header {
	background: #000;
}
#site-description {
	color: #fff;
}
#access a {
	color: #ff3333;
}
#access li:hover > a {
	color: #ffc4c4;
}
#access ul ul :hover > a {
	color: #000;
}
#access ul ul a {
	color: #ff3333;
}
#access ul ul a:hover {
	color: #000;
}
#access .current_page_ancestor > a,
#access .current_page_item > a,
#access .current_page_parent > a,
#access .current-menu-ancestor > a,
#access .current-menu-item > a,
#access .current-menu-parent > a {
	background: #000;
	color: #ffc4c4;
}
#featured-posts-container,
#single-header,
#footer {
	background: #ff3333;
	border-color: #ff0000;
}
.entry-header,
.featured-post-header {
	background-image: url('../images/title-swish-bg-gray.png');
}
.entry-wrapper,
.featured-posts div.featured-post-content,
.latest-post .latest-post-wrapper,
.archive-post .archive-post-wrapper,
#comments .comment .comment-body {
	background: #e0e0e0;
}
#comments li.pingback {
	background: #f0f0f0;
}
.featured-post .entry-date,
.featured-post .entry-date a,
.feature-slider .entry-date,
.feature-slider .entry-date a {
	color: #fff;
}
.archive-posts,
#latest-posts-container {
 	border-color: #444;
}
.archive-post-title,
.archive-post-title a,
.featured-post .featured-entry-title,
.featured-post .featured-entry-title a,
.feature-slider .featured-entry-title,
.entry-title,
.entry-title a {
	color: #000;
}
.entry-title a:hover {
	color: #ff3333;
}
.featured-entry-title a:hover {
	color: #fff;
}
.archive-post-title a:hover {
	color: #ff3333;
}
.latest-post-title,
.latest-post-title a {
	color: #ff3333;
}
.latest-post-title a:hover {
	color: #000;
}
.latest-post-title,
.archive-post-title {
    background-image: url("../images/slider-lip-gray.png")
}
.entry-date,
.entry-date a {
	color: #ff3333;
}
.entry .more-link,
.page-link a {
	background-color: #cc0000;
	color: #fff !important;
}
#nav-below a:hover {
	color: #ff3333;
}
#nav-image img {
	border-radius: 20px;
}
.entry ins {
	background: #eee;
}
.entry table,
.entry tr td {
	border-color: #b2b2b2;
}
.entry tr.odd td {
	background: #ffc4c4;
}
.entry blockquote,
.entry blockquote[class*="align"],
.entry blockquote p {
	color: #666;
}
.entry pre {
	background: #fefefe;
}
.entry hr {
	background-color: #b2b2b2;
}
#author-info-box a:hover {
	color: #fff;
}
#author-avatar img,
.widget_recent_comments img {
	border-color: #cc0000 !important;
}
#author-info-title {
	color: #ff3333;
}
.format-quote .entry-wrapper {
	background: #ff3333;
}
.format-quote .entry,
.format-quote .entry-wrapper a,
.format-quote .entry blockquote p {
	color: #fff !important;
}
.widget-area,
.widget-area a {
	color: #fff;
}
.widget-area a:hover {
	color: #ffc4c4;
}
.widget-title,
.widget-title a,
#wp-calendar th,
#wp-calendar tbody a {
	color: #ff3333;
}
#wp-calendar tbody a:hover {
	color: #fff;
}
#wp-calendar #today {
 	background: #ff3333;
}
#wp-calendar #today a {
 	color: #000;
}
#wp-calendar #prev a,
#wp-calendar #next a {
	color: #ff3333;
}
#wp-calendar #prev a:hover,
#wp-calendar #next a:hover {
	color: #fff;
}
.widget_search #searchsubmit,
#searchform #searchsubmit {
	background: #ff3333;
}
.rss-date,
.widget_twitter .timesince {
	color: #ffc4c4 !important;
}
#comments .avatar {
	background: #ff3333;
}
.bypostauthor .comment-body {
	background: #ff3333 !important;
	color: #fff !important;
}
.comment-reply-link {
	background: #000;
	color: #fff;
}
.comment-reply-link:hover {
	background: #ccc;
}
#respond label,
#respond p.comment-subscription-form label,
.nocomments {
	color: #000;
}
#comment-nav-below a:hover,
#comment-nav-above a:hover {
	color: #ff3333;
}
#footer-widget-area {
	background: #000;
}
#footer-widget-area .widget-title {
	color: #ff3333;
}
#footer-widget-area .widget-title a {
	color: #ff3333 !important;
}
#footer-widget-area a {
	color: #999;
}
#footer-widget-area a:hover {
	color: #ffc4c4;
}
#footer-widget-area .widget-area ul ul li {
	border-color: #555;
}
#site-generator {
	color: #fff;
}
#site-generator a {
	color: #fff;
}
#site-generator a:hover {
	color: #ffc4c4;
}