# <FilesMatch "notes.*\.pdf">
#   AuthUserFile /home/wjholcomb/sites/.htpasswd
#   AuthName "volunteer pass"
#   AuthType Basic
#   Require valid-user
# </FilesMatch>

# <FilesMatch "underground.*\.pdf">
#   AuthUserFile /home/wjholcomb/sites/.htpasswd
#   AuthName "volunteer pass"
#   AuthType Basic
#   Require user volunteer
# </FilesMatch>
