html, body {
  margin: 1em .25em;
  padding: 0;
}
.code {
  font-family: Courier;
  float: left;
  width: 400px;
  clear: left;
  white-space: pre;
}
.explanation {
  clear: right;
  margin-left: 400px;
  border-left: 1px solid #AAA;
  padding-left: 1em;
}
.program { margin-bottom: 1em; padding: .25em; }
.program:after { content: ''; display: block; clear: both; }
.program:hover { background-color: #EEE; }
.vars .program { width: 200px; }
.vars .explanation { margin-left: 200px; }
table {
  border-collapse: collapse;
  margin-top: .25em;
}
th, td {
  padding: .1em .5em;
  border: 1px solid;
  width: 5em;
}
.gray { background-color: #AAA; }
hr { width: 50% }
