<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:tmpl="http://odin.himinbi.org/templ/0.1/"
      tmpl:iscontent="false">
  <head>
    <title><tmpl:var name="title"/></title>
    <link rel="stylesheet" type="text/css" href="ctc.css" />
    <style type="text/css">
    </style>
    <script type="text/javascript" src="image_rotator.js"></script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
    <script type="text/javascript">
      _uacct = "UA-939849-1";
      urchinTracker();
    </script>
  </head>
  <body>
    <div id="body">
    <div id="banners">
      <a href="nip-images/">
        <img name="banner" src="nip-images/banner4.gif" alt="Get Your Own Marijuana Plant" width="468" height="60" />
      </a>
      <a href="https://www.groundspring.org/donate/index.cfm?ID=2862-0|1983-0">
        <img src="images/donate-button.gif" alt="Donate" width="90" height="60" />
      </a>
      <a href="http://www.cafepress.com/ctconline/">
        <img src="images/merchandisebutton.gif" alt="Swag" width="150" height="60" />
      </a>
    </div>
    <div id="header">
      <a href=".">
        <img src="images/logotop.gif" alt="Time to tell the truth about marijuana" width="500" height="65" />
      </a> 
      <form method="post" action="mailinglist.php">
        <div id="mailform">
          <input name="email_address" type="text" id="email_address" size="18" class="text"></input>
          <input type="submit" name="Submit" value="Join!" class="submit"></input>
          <label>Sign up and receive our newsletter!</label>
        </div>
      </form>
    </div>
    <!-- Ideally this should be dynamic -->
    <ul id="navigation">
      <li><a href=".">Home</a></li>
      <li><a href="kids.html">Kids &amp; Marijuana</a></li>
      <li><a href="facts.html">Marijuana: Myths &amp; Facts</a></li>
      <li><a href="supportus/">Support Us</a></li>
      <li><a href="campaigns/">Our Ad Campaigns</a></li>
      <li><a href="tv/">CTC&bull;TV</a></li>
    </ul>
    <div id="rightcol">
      <div id="plants">
        <a href="http://www.newimageplants.com">
          <img src="images/minibush1-small.jpg" alt="Bush #1" width="50" height="47" />
          <img src="images/minibush1-small.jpg" alt="Bush #2" width="50" height="47" />
          <img src="images/minibush1-small.jpg" alt="Bush #3" width="50" height="47" />
        </a>
        <a href="http://www.newimageplants.com">Get your own Legal 'plant'</a>
      </div>
      <div id="news">
        <tmpl:var name="news" />
      </div>
      <ul id="jump">
        <li><a href='/ads/download.php'>Download and Print our Ads</a></li>
        <li>Lost? <a href="site_map.php">Visit our site map</a>.</li>
        <li><a href="contact.php">Contact Change the Climate.</a></li>
        <li>Suggestions? Email <a href="mailto:info@changetheclimate.org">info@changetheclimate.org</a></li>
        <li>Read our <a href="privacy.php">privacy policy</a></li>
      </ul>
      <div id="copyright">&copy; 2004 Change the Climate, Inc.</div>
    </div>
    <div id="content">
      <tmpl:var name="content" />
    </div>
    </div>
  </body>
</html>
