body {
	background-color: #000;
	color: #bbb;
}
a:link,
a:visited,
a:hover {
	color: #e4741f;
}
a:hover {
	text-decoration: underline;
}
#footer {
	border-top: 1px solid #454545;
}
#header {
	border-bottom: 5px solid #454545;
}
#title a:hover {
	color: #e4741f;
}
#description h2 {
	color: #bbb;
}
#nav li a {
	color: #fff;
}
#nav ul li a:hover,
#nav ul li:hover > a,
#nav ul li.current_page_item > a,
#nav ul li.current_page_parent > a,
#nav ul li.current_page_ancestor > a,
#nav ul li.current-cat > a,
#nav ul li.current-menu-ancestor > a,
#nav ul li.current-menu-item > a,
#nav ul li.current-menu-parent a {
	color: #e4741f;
	border-top: 4px solid #e4741f;
}
#nav .children li, #nav .sub-menu li {
	background: #000;
}
#menu img {
	border: 2px solid #454545;
}
.alert-box {
  	background: #222;
	border: 1px solid #313131;
}
.post-header {
	border-bottom: 4px double #454545;
}
.post-header h1 a:link,
.post-header h1 a:visited,
.post-header h2 a:link,
.post-header h2 a:visited {
	color: #fff;
}
.post-header h1 a:hover,
.post-header h2 a:hover {
	color: #e4741f;
}
.post .date {
	color: #ddd;
}
.post .date span {
	color: #222;
}
.meta  {
	color: #bbb;
}
.meta a:link, .meta a:visited {
	color: #fff;
}
.meta a:hover {
	color: #e4741f;
}
.sticky .entry {
	background-color: #222;
}
.entry p.notice {
	background-color: #fffbcc;
	border: 1px solid #f8f4c7;
}
pre, code {
	background-color: #222;
	color: #fff;
}
.entry ul li, .c-body ul li {
	background: url(../images/list-star-dark.gif) no-repeat 0 .3em;
}
blockquote {
	color: #fff;
	background: #18191d url(../images/blockquote-dark.gif) no-repeat top left;
}
.entry .float-quote p {
	background: url(../images/float-quote-dark.gif) no-repeat top left;
}
.entry .highlight-box ul li {
	background: url(../images/list-square-dark.gif) no-repeat 0 .4em;
}
.float-quote {
	background: #eaeaea;
	border-top: 4px solid #333;
	border-bottom: 4px solid #333;
}
.highlight-box {
	border-top: 8px solid #000;
	background: #e4741f;
	color: #fff;
}
.highlight-box a:link,
.highlight-box a:visited {
	color: #fff;
}
.entry .highlight-box h2,
.entry .highlight-box h3,
.entry .highlight-box h4 {
	color: #fff;
}
.post-footer {
	border-bottom: 1px solid #454545;
}
.comments {
	color: #bbb;
}
.comments a {
	background: url(../images/comments-bubble-dark.gif) no-repeat 0 4px;
}
.comments a:hover {
	color: #e4741f;
}
.entries ul, .entries ul li {
	background: transparent url(../images/archives-dotted-line-dark.gif) repeat-x bottom left;
}
ul li.widget ul li a {
	background: url(../images/list-item-dark.gif) no-repeat 0 6px;
}
.comment-number {
	background: url(../images/comments-bubble-big-dark.gif) no-repeat 0 .1em;
}
.categories {
	color: #bbb;
}
.categories a:link,
.categories a:visited {
	color: #fff;
}
.categories a:hover {
	color: #e4741f;
}
h1.pagetitle, h2.pagetitle {
	border-bottom: 4px double #eee;
}
.entries ul li a:hover {
	background-color: #F8F8F7;
}
.entries span.archdate,
.entries a:hover span.archdate {
	color: #666;
}
.entries span.comments_number{
	color: #666;
}
h2.widgettitle {
	border-bottom: 1px solid #454545;
}
ul li.widget ul li {
	border-bottom: 1px solid #454545;
}
#search_form input {
	border: 2px solid #acacac;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #f4f4f4;
	color: #888;
}
#search_form input:focus {
	background: #fff;
}
.comment-number span {
	color: #777;
}
div.c-grav img {
	border: 4px solid #e3e3e3;
}
div.c-body {
	background: #f3f3f3;
}
span.asterisk {
	color: #e4741f;
}
div.c-date {
	color: #bbb;
}
h4#postcomment,
#reply-title {
	color: #555;
	border-bottom: 1px solid #eee;
}
input.text-input,
form#commentform textarea,
#respond input[type="text"] {
	background: #f8f8f8;
	border: 1px solid #E6E6E6;
}
form#commentform input:focus,
form#commentform textarea:focus {
	background: #fff;
}
form#commentform p.guidelines {
	color: #777;
}
h3.pinghead {
	color: #444;
}
.entry .alignleft img,
.entry .alignright img,
.entry .aligncenter img {
	border: 1px solid #eee;
}
.wp-caption p, .wp-caption dd {
	color: #888;
}
#footer {
	color: #666;
}
#footer a:hover {
	color: #e4741f;
}
.widget_calendar table th {
	color: #737373;
}
.rtl .comments a {
	background: url(../images/comments-bubble-dark-rtl.gif) no-repeat 100% .4px;
}
.rtl blockquote {
  background: #e7e6e2 url(../images/blockquote-dark-rtl.gif) no-repeat top right;
}
.rtl .entry .float-quote p {
	background: url(../images/float-quote-dark-rtl.gif) no-repeat top right;
}
.rtl ul li.widget ul li a {
	background: url(../images/list-item-dark-rtl.gif) no-repeat 100% 6px;
}
.rtl .comment-number {
	background: url(../images/comments-bubble-big-dark-rtl.gif) no-repeat 100% .1em;
}