#morningafter_setting table {
	margin-bottom: 20px;
}
#morningafter_setting label.description {
	font-size: 12px;
}
#morningafter_setting .example {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #f3f3f3;
	border-radius: 3px;
	border: 1px solid #ddd;
	margin: 20px 0 10px;
	padding-top: 4px;
	text-align: center;
}
#morningafter_setting .example-text {
	font-size: 11px;
	line-height: 14px;
	margin: 0;
	padding: 5px 4px 5px 5px;
	text-align: center;
}