@import url('http://fonts.googleapis.com/css?family=Varela+Round');
@import url('http://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/css?family=PT+Sans');

body {
    text-align: center;
    margin-top: 12em;
}

h1, h2 {
    font-family: 'Josefin Sans';
}

h1 {
    font-size: 135px;
    margin-bottom: .1em;
    color: #223;
}

h2 {
    font-size: 47px;
    margin-bottom: 1.5em;
}

#map {
    width: 50%;
    height: 500px;
    border: thin solid black;
    margin-bottom: 2em;
}

#kickstarter {
    height: 420px;
    width: 220px;
    border: none;
    margin-top: 4em;
}

iframe {
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: #039;
    transition-duration: 0.25s;
    border-bottom: 1px dashed rgba(0,0,0,0.3);
    padding-bottom: .1em;
}

a:hover {
    color: #B85C00;
    border-bottom-style: solid;
}

p {
    width: 30%;
    font-size: 25px;
    margin: auto;
    text-align: justify;
    margin-bottom: 1em;
    line-height: 1.5em;
    font-family: 'PT Sans';
}

p::first-letter {
    font-size: 120%;
}

hr {
    width: 25%;
    border-width: 2px;
    border-style: solid none;
    height: 5px;
}

.spacer {
    height: 6.5em;
    margin-bottom: 2.75em;
}

.sweep {
    height: 2.5em;
    margin-top: 1em;
    margin-bottom: 2.5em;
}

#icons {
    list-style: none;
}

#icons li {
    display: inline-block;
    margin-right: 1em;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
    height: 3em;
    width: 3em;
    border: 5px solid;
    border-radius: 1.75em;
}

#icons li:hover {
    border-style: dotted;
    background-color: #D9E0D9;
    border-color: darkorange;
}

#icons a {
    border: none;
    display: block;
    padding: .35em .5em;
    border-color: #224;
    height: 100%;
}

#icons #github {
    background-image: url('image/logo/github/svg.svg');
    background-size: 90% 90%;
}

#icons #bitcoin {
    background-image: url('image/logo/bitcoin/svg.svg');
}

#icons #twitter {
    background-image: url('image/logo/twitter/svg.svg');
    background-size: 70% 70%;
}

#icons #mail {
    background-image: url('image/icon/mail/svg.svg');
    background-size: 65% 65%;
}    

#footer {
    margin-bottom: 1em;
}

img {
    border: 1px solid #444;
    margin: 12px;
}

.border {
    display: inline-block;
    margin: auto;
    clear: both;
    border: 1px solid #444;
    background-color: #EBF0FA;
    margin-bottom: 1em;
}
