span.footnote:before, a.footnote:before {
  content: '[';
}

span.footnote:after, a.footnote:after {
  content: "]";
}

span.footnote, a.footnote {
  font-size: .5em;
  position: relative;
  top: -1em;
}  
