table {
  width: 95%;
  margin: auto;
  margin-bottom: .15in;
  border: thin solid black;
}

thead {
  background-color: rgb(48, 88, 169);
  color: white;
}

td, th {
  border: thin dashed gray;
  text-align: center;
}

tr:hover {
  background-color: yellow;
  color: rgb(38, 48, 129);
}
