/*  
Skin Name: Gray
Version: 1.0
Description: Skin for iTheme2
*/

body {
	/*background: #d1d1d1 url(images/body-bg.png);*/
	color: #666;
}
a, a:visited {
	color: #000;
}
h1, h2, h3, h4, h5, h6,
dt, #content th {
	color: #000;
}
input[type=text], input[type=password], textarea {
	background: #ddd;
	border-color: #ccc;
}


/* =Panel background styles
----------------------------------------------- */

#featured, #content, .widget {
	background: #efefef;
}



/* =Content
----------------------------------------------- */

.entry-title,
.entry-title a {
	color: #000;
}


/* =Comments
----------------------------------------------- */

#comments {
	background: #ddd;
}
.commentlist {
	border-color: #ccc;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
}
.comment-content,
.commentlist li.pingback {
	border-color: #ccc;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.5);
	box-shadow: 0 1px 0 rgba(255,255,255,.5);
}

/* =Widgets
----------------------------------------------- */

/* Calendar Widget */
#wp-calendar tbody td {
	background: #ddd;
	border: 1px solid #efefef;
}

