/* Background color. */
body {
	background-color: #e4e7e7;
}
/* Link colors. */
a {
	color: #249191;
}
a:hover {
	color: #326363;
}
/* Border color for menu and columns. */
#c1,
#c2,
#c3,
.menu {
	border-color: #c8dddd;
}
/* Background color for all menu items. */
.menu li:hover > a,
.menu li ul li a,
.menu li.current-menu-ancestor a,
.menu li.current_page_ancestor a  {
	background-color: #c8dddd;
}
/* Background color for selected item in the menu. */
.menu li.current-menu-item > a,
.menu li.current-menu-item > a:hover,
.menu li.current_page_item > a,
.menu li.current_page_item > a:hover {
	background: #afcccc;
}
/* Background color for widgets. */
.comment-body,
.sticky,
.widget {
	background: #f2f4f4;
}
/* Wiget titles. */
.widget h2 {
	background: #dae4e4;
	color: #7e7e7e;
}
