html, body { margin: 0; padding: 0; }
#head #name { position: absolute; left: 15%; text-align: center; padding: 1em; }

#head, #name, #head a { background-color: #494339; color: #F8ECC2; font-face: Tahoma; margin: 0; }
#head a:hover { background-color: #499; color: #312; }

#head h1 { padding: 0; margin: 0; font-weight: normal; }
#head h1:first-child { border-bottom: 2px solid;  }

#display { position: absolute; width: 35%; top: 4.5em; left: 30%; }

#projects { position: absolute; top: 21em; width: 50%; left: 25%; }

img { border: none; }

#head ul { display: block; padding: 0; margin: 0; width: 900px; list-style: none; }
#head ul:after { clear: both; content: ''; display: block; }
#head li { float: right; margin: 0; padding-top: 1em; }
#head li a { padding: 1em; }

a { color: #229; text-decoration: none; }
