/* =Global
-------------------------------------------------------------- */

ul, ol {
	margin: 0 2.5em 1.7em 0;
}
blockquote {
	background: url("images/blockquote.gif") no-repeat top left;
	margin-right: 30px;
	margin-left: auto;
}

/* =Branding
-------------------------------------------------------------- */

#site-title,
#site-description {
	padding-right: 25px;
    padding-top: 10px;
}

/* =Layouts
-------------------------------------------------------------- */

/* Two-column */
#wrapper {
	background-image: url("images/bg-wrapper-rtl.jpg");
}
#inner-wrapper {
	background-image: url("images/bg-content-2col-rtl.png");
}

/* One-column, no sidebar; for attachments */
body.attachment #inner-wrapper {
	background-image: url("images/bg-content-1col-rtl.png");
}

/* =Main Navigation
-------------------------------------------------------------- */

#access {
	background-image: url("images/bg-menu-2col-rtl.png");
	float: right;
}
.attachment #access {
	background-image: url("images/bg-menu-1col-rtl.png");
}
#access ul {
	margin-right: 15px;
}
#access li {
	float: right;
}
#access ul ul {
	float: right;
	right: 0;
	margin-right: 0;
	left: auto;
	margin-left: auto;
}
#access ul ul ul {
	right: 100%;
	left: auto;
}

/* =Primary and Secondary Content Columns
-------------------------------------------------------------- */

/* For two-column layouts */
#primary,
#secondary {
	float: right;
}
#primary {
	margin-right: 0;
}
#secondary {
	margin-right: 17px;
}
#primary-bottom {
	background: url('images/bg-primary-bottom-rtl.png') no-repeat bottom right;
	margin-right: -40px;
}
#secondary-bottom {
	background: url('images/bg-secondary-bottom-rtl.png') no-repeat bottom right;
	margin-right: -10px;
}

/* For single-column layouts */

body.attachment #primary-bottom {
	background: url('images/bg-content-1col-bottom-rtl.png') no-repeat bottom right;
	margin-right: -70px;
}

/* =Posts, Pages, Attachments & Archive Pages - Titles and Metadata
-------------------------------------------------------------- */

.post-date {
	float: right;
}
.entry-header {
	background: url("images/bg-header-title.gif") no-repeat right top;
	float: right;
	padding: 15px 20px 15px 0;
}
.page-link a {
	margin-left: 4px;
	margin-right: auto;
}
#author-avatar {
	float: right;
	padding-right: 0;
	padding-left: 0;
}
#author-description {
	margin-right: 78px;
	margin-left: auto;
}
#author-link {
	text-align: left;
}

/* =In-Post Formatting
-------------------------------------------------------------- */

.entry-content p {
	margin: 0 10px 15px 0;
}
.entry-content table {
	margin: 0 0 24px -1px;
	text-align: right;
}
.entry-content .gallery .gallery-item,
#random-gallery .gallery-item {
	float: right;
}

/* =Post Formats
-------------------------------------------------------------- */

.post-format-icon {
	float: left;
}
.post-format-icon a {
	padding: 18px 30px 0 0;
}

/* Asides, Status and Quotes */
.format-status .entry-content {
	float: right;
	margin-right: 8px;
	margin-left: auto;
}
.format-status .entry-content p {
	margin-right: 0;
	margin-left: auto;
}
.format-status .status-avatar {
	float: right;
	margin: 0 10px 8px 8px;
}
.format-quote .entry-content cite {
	text-align: left;
}

/* Gallery */
.format-gallery .gallery-thumb {
	float: right;
	margin-left: 20px;
	margin-right: auto;
}


/* =Post Images & Attachments
-------------------------------------------------------------- */

.aligncenter {
	margin-right: auto;
	margin-left: auto;
}
.alignright,
.post-thumbnail {
	float: right;
	margin-left: 20px;
	margin-right: auto;
}
.alignleft {
	float: left;
	margin-right: 20px;
	margin-left: auto;
}
.attachment-post-thumbnail {
	text-align: right;
}

/* =Post Navigation
-------------------------------------------------------------- */

.nav-previous {
	background-image: url("images/nav-prev-rtl.gif");
	float: right;
	text-align: left;
}
.nav-next {
	background-image: url("images/nav-prev.gif");
	float: left;
}
.nav-previous a {
	padding-left: 35px;
	width: 135px;
}
.nav-next a {
	padding-right: 25px;
	padding-left: 0;
}
.image-attachment .nav-previous,
#comments .nav-previous {
	background: url("images/next-image.gif") no-repeat right center;
}
.image-attachment .nav-next,
#comments .nav-next {
	background: url("images/previous-image.gif") no-repeat left center;
}
.image-attachment .nav-previous a,
#comments .nav-previous a {
	padding-left: 15px;
}
.image-attachment .nav-next a,
#comments .nav-next a {
	padding-right: 15px;
}
.thumbnail-nav {
	margin-right: 10px;
}
.prev-thumb {
	float: right;
}
.next-thumb {
	float: left;
}


/* =Comments & Comments Form
-------------------------------------------------------------- */

#comments-title {
	background: none;
	text-align: left;
}
#comments ol {
	margin-right: 0;
	margin-left: auto;
}
#comments ul {
	margin-right: 0.425em;
	margin-left: auto;
}
#comments .comment-author {
	margin: 0 65px 0.85em 0;
}
#comments .children .comment-author {
	margin-right: 75px;
	margin-left: auto;
}
#comments .avatar {
	right: 10px;
	left: auto;
}
#comments .children .avatar {
	right: 25px;
	left: auto;
}
#comments .comment-content {
	margin-right: 45px;
	margin-left: auto;
}
#comments .children .comment-content {
	margin-right: 55px;
	margin-left: auto;
}
#comments .comment-content p {
	margin: 0 20px 15px 0;
}
#comments .reply {
	text-align: left;
}
#cancel-comment-reply-link {
	margin-right: 10px;
	margin-left: auto;
}

/* =Sidebar and Widgets
-------------------------------------------------------------- */

.widget-title {
	padding: 25px 15px 0 0;
}

/* Calendar Widget */
#wp-calendar tfoot #next {
	text-align: left;
}

/* Menu & Categories Widgets (With Sub-Items) */
.widget-area .sub-menu,
.widget-area .children {
	margin-right:  1.5em;
	margin-left: auto;
}

/* Author Widget */
.widget_authors img {
	float: right;
	padding-left: 10px;
	padding-right: 0;
}


/* =Footer
-------------------------------------------------------------- */

#colophon {
	background: url('images/bg-footer-rtl.jpg') no-repeat bottom left;
}

/* Two Supplementary Widget Areas */
#supplementary.two .widget-area {
	float: right;
	margin-left: 3.7%;
	margin-right: auto;
}
#supplementary.two .widget-area + .widget-area + .widget-area {
	margin-left: 0;
	margin-right: auto;
}


/* ="Random" Photos Gallery (appears at the bottom of image.php)
-------------------------------------------------------------- */

#random-gallery .random-gallery-title {
	background-position: right;
	padding: 25px 35px 0 0;
}
.random-photo {
	float: right;
	margin-left: 20px;
	margin-right: auto;
}
#wpstats {
	left: 0;
	right: auto;
}

/* =IE Styles
-------------------------------------------------------------- */

#ie7 .nav-previous a,
#ie8 .nav-previous a {
	padding: 15px 0 20px 8px;
}
#ie8 .post-format-icon {
	margin-left: 25px;
}
#ie7 .post-format-icon a,
#ie8 .post-format-icon a {
	padding-left: 25px;
}