#body { width: 800px; margin: auto; }

/*
#header { background: transparent url('indiefeed_reverse.png') no-repeat; height: 225px; width: 516px; }
*/
#header h1 { font-size: 60px; font-family: sans-serif; font-weight: normal; }
.sIFR-flash { visibility: visible; }
.sIFR-hasFlash h1 { visibility: hidden; margin: 0; padding: 0; margin-bottom: -17px; }
.sIFR-hasFlash .sIFR-alternate { display: none; }

#categories li { float: left; }

#categories { margin: 0; padding: 0; color: white; }
#categories li, #categories li img { width: 260px; height: 260px; }
#categories li { list-style: none; margin: 0; position: relative; padding: 0px; }
#categories h2 { text-align: center; margin: 0; font-size: 50px; z-index: 10; height: 50px; padding: 0;
                 display: none; }
#categories .entry { display: block; margin-top: 0; height: 115px; padding-top: 95px; }
#categories img { position: absolute; top: 0px; }
#categories .entry img { display: none; }
#categories h3 { margin: .25em 1em 0 2.25em; text-indent: -1em; font-weight: normal; font-family: Helvetica, Georgia; }
.track { font-style: italic; }

/*
#hiphop .entry { background: #1E4069 url('hiphop.jpg') no-repeat center 10px; }
#altrock .entry { background: #7C2E2B url('indiefeed_empty.png') no-repeat center 10px; }
#blues .entry { background: #5A1A64 url('indiefeed_empty.png') no-repeat center 10px; }
#indiepop .entry { background: #385E42 url('indiefeed_empty.png') no-repeat center 10px; }
#electronica .entry { background: #493DA4 url('indiefeed_empty.png') no-repeat center 10px; }
#poetry .entry { background: #F8FAB5 url('indiefeed_black_empty.png') no-repeat center 10px; color: black; }
#bigshed .entry { background: #FFBF75 url('indiefeed_black_empty.png') no-repeat center 10px; color: black; }
*/

#hiphop { background-image: url('background_hiphop.png'); }
#altrock { background-image: url('background_altrock.png'); }
#blues { background-image: url('background_blues.png'); }
#indiepop { background-image: url('background_indiepop.png'); }
#electronica { background-image: url('background_electronica.png'); }
#poetry { background-image: url('background_poetry.png'); }
#bigshed { background-image: url('background_bigshed.png'); }

#poetry, #bigshed { color: black; }

#navigation:after { content: ''; display: block; clear: both; }
#navigation, #navigation ul { color: #711; padding: 0; }
#navigation a { padding: .5em 1em .4em; text-decoration: none; font-family: Helvetica, Georgia; display: block; color: #711; border: 2px solid #888; }
#navigation a:hover { background-color: #CCC; }
#navigation li { background-color: #AAA; float: left; list-style: none; }
#navigation ul { display: none; position: absolute; z-index: 10; }
#navigation ul li { float: none; margin-top: -2px; }
#navigation li:hover ul { display: block; }
