<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Committee for Sensible Marijuana Policy</tmpl:var>
  <tmpl:var name="header">
    <link rel="stylesheet" type="text/css" href="thermometers.css" />
    <link rel="stylesheet" type="text/css" href="sidebar.css" />
  </tmpl:var>

  <tmpl:var name="content">
    <h2>Welcome!</h2>
    
    <p>On November 4, 2008, Massachusetts voters will have the chance to pass a ballot initiative decriminalizing the possession of small amounts of marijuana &mdash; removing the threat of jail time for possessing an ounce or less of marijuana for personal use. This initiative would save the commonwealth millions of dollars in law enforcement resources each year. But first, we need to collect more than 66,000 signatures from Massachusetts voters to qualify for the ballot &mdash; and we need your help!</p>

    <h2><a href="committees.html">Volunteer Committees</a></h2>
    
    <p>Signature-gathering can be an expensive and difficult process &mdash; so we're introducing an exciting new program to make sure that the medical marijuana initiative qualifies for the ballot and passes into law.</p>

    <p>We're asking all supporters in Massachusetts to commit to either (1) donating or raising $1,000, or (2) collecting 1,000 signatures.</p>

    <p>If only a small percentage of supporters commit to taking one of these actions, the signature drive will be fund itself &mdash; and the money saved can be devoted to the campaign to pass the initiative in 2008.</p>

    <p>Only a truly grassroots effort will accomplish the goal of decriminalizing the possession of small amounts of marijuana in Massachusetts, so we need all of our supporters to pitch in!</p>
    <p><a href="committees.html">Join the Finance Committee or Signature Committee today!</a></p>

    <div id="thermometers">
    <div id="sigs-therm" class="thermometer">
      <h3>Signatures Pledged</h3>
      <div class="therm">
        <div class="inner"> </div>
        <ul>
          <li>November<br/>100,000</li>
          <li>85,000</li>
          <li>68,000</li>
          <li>51,000</li>
          <li>34,000</li>
          <li>17,000</li>
          <li>0 &mdash; May</li>
        </ul>
      </div>
    </div>

    <div id="money-therm" class="thermometer">
      <h3>Money Pledged</h3>
      <div class="therm">
        <div class="inner"> </div>
        <ul>
          <li>November<br/>$450,000</li>
          <li>$375,000</li>
          <li>$300,000</li>
          <li>$225,000</li>
          <li>$150,000</li>
          <li>$75,000</li>
          <li>$0 &mdash; May</li>
        </ul>
      </div>
    </div>
    </div>

    <p>Want to see some of the <a href="commitments.html">generous Massachusetts residents who have already signed up to help us raise money and collect signatures</a>?</p>
  </tmpl:var>
</tmpl:template>
