/* =Menu
-------------------------------------------------------------- */

.menu {
	width: 100%;
}
.menu,
.menu li,
.menu li a {
	float: left;
}
.menu li:hover {
	display: block;
	z-index: 10;
}


/* =Widgets
-------------------------------------------------------------- */

.widget ul, .widget ol {
	border-top: solid 1px #dfdfdf;
	border-bottom: solid 1px #fff;
}
.widget li:first-child {
	border-top: solid 1px #fff;
}
