#Header {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center; 
  align: absmiddle;
  position:absolute;
	top: 10px;
	height:121px;
	background-color:#000;
	width: 99%;
	padding-bottom: 15px;
	padding-left: 5%;	
	border-bottom: 15px solid #a00;
	}

#Content {
	margin:190px 0px 0px 170px;
	padding:10px;
	/*
	background-image: url('images/TinyLogo.jpg');
  background-repeat: no-repeat; /*no-tiling background
  background-position:  center 50%;
  background-attachment: fixed;   */
}
	
#Menu {
	position:absolute;
	top:220px;
	left: 30px;
	width:150px;
	padding:10px 10px 110px 10px;
	background-color:#000;
	
	border:1px dashed orange;
	line-height:25px;
	
	background-image: url('bground3.jpg');
  background-repeat: repeat;
}

#DHome {
	position:absolute;
	top:10px;
	left:20px;
	width:165px;
	height:124px;
	padding:10px 10px 0px 25px;
	background-color:#000;
	
	border: none;	
}
