svg {
  font-family: serif;
  font-size: 15pt;
}

#catcher-pre {
  fill: rgb(255, 66, 66);
}

a {
  fill: blue;
}

#catcher {
  fill: rgb(192, 218, 198);
  fill-opacity: .5;
  stroke: rgb(192, 218, 198);
  stroke-opacity: 1;
}

.display-box {
  fill: rgb(175, 221, 250);
  fill-opacity: .75;
  stroke: rgb(7, 157, 250);
  stroke-width: .25%;
}

path {
  fill: rgb(251, 220, 154);
  stroke: rgb(166, 130, 52);
  stroke-width: .2%;
}

.names-box {
  text-anchor: middle;
}

.names-box tspan:first-child {
  text-shadow: .2em .2em;
  font-family: sans-serif;
  font-size: 110%;
  font-weight: bold;
}

.info-box {
  text-anchor: start;
  font-size: 13pt;
}

.vol-header {
    font-weight: bold;
}

.vol-display {
  fill-opacity: .9;
}

tspan {
  border: solid;
}

#target {
  stroke: rgb(251, 73, 73);
  fill: rgb(227, 225, 255);
}

#cities :hover {
  fill: red;
}

#coords {
  text-anchor: middle;
}

#coords-back {
  stroke: black;
  fill: white;
  fill-opacity: .75;
}
