AuthUserFile /home/wjholcomb/sites/.htpasswd
AuthName "Pass"
AuthType Basic
Require user mentor

AddDescription "Mentor Handbook Latex Sources" handbook_2007-2008
AddDescription "Mentor Handbook Generated PDF" Mentor_Handbook_2007-2008.pdf
AddDescription "Testing docbook and xsl:fo for typesetting" docbook_test
AddDescription "Cor generation mentorbook quotes" quotes
