#body {
  width: 741px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('combined_background.png');
  background-repeat: repeat-y;
  padding: 1em 10px 0 10px;
}

html, body {
  text-align: center;
  font-size: 13pt;
  color: #036;
}

#headertext {
  height: 100px;
  background-image: url('background_gradient_tile.png');
}

#headertext h1 {
  padding-top: 25px;
  margin: 0px 0 0 1em;
  font-size: 45pt;
  line-height: 40pt;
  text-align: left;
}

#navbar {
  border: 1px solid gray;
  border-left: none;
  border-right: none;
  clear-after: both;
  padding-left: 2em;
}

#navbar:after {
  content: ""; 
  height: 0; 
  clear: both;
  display: block;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #036;
}

#navbar a {
  display: block;
  float: left;
  padding: 0 .5em 0 .5em;
  margin: .25em 0 .25em -1px;
  border-right: 1px solid gray;
  border-left: 1px solid transparent;
}

#navbar a:last-child {
  border-right-color: transparent;
}

#navbar a:hover {
  background-color: #FC3;
  border-right-color: gray;
  border-left-color: gray;
  margin: -1px 0 0 -1px;
  padding: .25em .5em .25em .5em;
  border-top: 1px solid #FC3;
}

#content {
  border-bottom: 1px solid gray;
  margin-bottom: 0px;
  padding: .5em;
}

#footer {
  border-top: 2px solid gray;
  padding: .5em;
  width: 741px;
  margin: 0 auto 0 auto;
  color: #069;
  text-align: center;
}

#footer a:hover { color: #069; }
#footername { float: left; margin-top: .2em; }
#footercopy { float: right; }
img { border: none; }
