circle { fill: #746999; stroke: #333; stroke-width: 2; }
[class~=vertex] text { text-anchor: middle; font-size: 30px;}
[class~=active] circle { fill: #226933; stroke: #333; }
path { fill: none; stroke: #DDD; stroke-width: 3; stroke-linejoin: round; }
#arrowhead { overflow: visible; fill: black; }
#arrowhead path { stroke: black; stroke-width: 1pt; fill: black; }
line { stroke: black; marker-end: url('#arrowhead'); }
rect { stroke: black; fill: #95df9d; }
p { display: table-cell; vertical-align: middle; width: 100px; height: 100px; text-align: center; padding: 0; font-size: 20px;}
h2 { font-size: 20px; text-align: center; margin-top: 10px; }
[class~=message] p { height: 40px }
#messages rect { fill: #FF9640; stroke: #A64B00; }
#messages [class~=enter] rect { fill: #FFF040; }
#messages [class~=exit] rect { fill: #FF7373; }
