.node ul {
  padding-left: .5em;
}

.node ul li {
  padding: 0;
  margin: 0;
  padding-left: .5em;
  margin-left: 1.25em;
  text-indent: -.5em;
}

.node li.name {
  list-style: none;
  margin-left: 0;
}
