.short .form-item {
}

.short .form-item label {
}

.form-item .form-item, .form-item .form-text, .form-item .form-select {
  margin-left: 8em;
}

.long .form-item { text-align: right; }
.long .form-item label { text-align: left; }
.long .form-item * { margin-left: 0; }

input[type~='text'] { padding: 0 .25em; }
.inline-text { margin-left: 1em; }
