/*

	RTL for Clean Home

*/


caption, th, td {
	text-align: right;
	font-weight: normal;
}

/* Structure */

.header {
	float: right;
}
#logo {
	float: right;
}


/* Menu */

#nav {
	float: left;
}
#nav li {
	text-align: center;
	float: right;
}
#nav ul ul {
	top: 100%;
	left: 0;
	right: auto;
	float: none;
}
#nav ul ul a {
	text-align: left;
}
#nav ul ul ul {
	left: 100%;
	right: auto;
}


/* Content */

#blurb {
	float: right;
}
.content {
	float: right;
	border-left: 1px dotted #ccc;
	border-right: 0;
}
.post {
	padding: 0 0 0 30px;
}
.post .indent {
	padding-right: 10px;
}
.post .indent p {
	padding-right: 10px;
}
.navigation .alignright {
	float: left;
	margin-right: 10px;
}
.navigation .alignright {
	margin-left: 10px;
}
.navigation .alignleft {
	float: right;
	margin-left: 10px;
}
.post .aligncenter {
	margin: 0 auto;
	display: block;
}
.post ul {
	list-style: circle;
	margin: 0 25px 0 0;
}
.post ol {
	list-style: decimal;
	margin: 0 30px 0 0;
}
.post blockquote,
.comment blockquote {
	border-right: 5px solid #ccc;
	border-left: 0;
	margin: 15px 10px 0 30px;
	padding-right: 20px;
}
body.single .navigation {
	margin: 30px 30px 0;
}


/* Comments */

#comments cite {
	margin-right: 5px;
}
#comments cite a {
	margin-left: 5px;
}
#comments em {
	text-align: left;
}
#comments .avatar {
	float: right;
	padding-left: 5px;
}
#comments ol.commentlist li {
	border-left: 0;
	padding: 10px 10px 20px 5px;
}
#comments p {
	margin: 10px 20px 0;
}
#comments .comment-meta {
	float: left;
}
#comments ul.children {
	margin-right: 30px;
}


/* Sidebar */

#sidebar {
	float: left;
	margin: 0 0 25px 0;
}
#sidebar .block ul .children {
	padding: 0 8px 0 0;
}
#sidebar .block li a {
	background: transparent url(images/bullet_black.gif) no-repeat scroll 6px 52%;
	padding: 2px 15px 2px 0;
}
#sidebar .block li a:hover {
	background: #f7f7f7 url(images/bullet_red.gif) no-repeat scroll 6px 52%;
	background: rgba(255,255,255,0.5) url(images/bullet_red.gif) no-repeat scroll 6px 52%;
}
#sidebar .widget_recent_comments li {
	background: transparent url(images/bullet_black.gif) no-repeat scroll 6px 52%;
	padding: 2px 15px 2px 0;
}


/* Attachments */

body.attachment .content {
	border-left: none;
}