body { background: rgb(252, 249, 244) url('http://forim.org/sand_tile.jpg'); margin: 1.5em 10% 0; font-size: 13pt; }
h1, h2, h3 { text-align: center; }
a { color: rgb(127, 0, 0); text-decoration: none; }
a:hover { color: rgb(20, 85, 15); }

#header { text-align: center; }
#header img { border: 3px groove rgb(127, 0, 0); }

#navigation:after { content: ''; display: block; clear: both; }

#navigation { list-style: none; padding: 0; width: 75%; margin: 1em 12.5%; }
#navigation li, .announce { display: block; margin: 1%; padding: 0; border: 2px solid rgb(204, 153, 102);
                 background-image: url('http://forim.org/sand_tile_dark.jpg'); }
#navigation li { float: left; }
#navigation li { width: 28%; }
html > body #navigation li { width: 30%; }
#navigation a, .announce { display: block; width: 100%; font-size: 110%; padding: 1em 0; text-align: center; }
#navigation a:hover, a.announce:hover { background-color: rgb(255, 255, 238); color: #493615; background-image: none; }

.announce { border: 2px solid #4a5358; background: #C6DEEB; font-family: Tahoma; }
.announce { margin: .25em 20% 1em; width: 60%; }

#footer { text-align: center; }

hr { clear: both; }

h1, h2, h3 { font-family: "Bookman Old Style", "Book Antiqua"; font-weight: normal; font-variant: small-caps; color: rgb(85, 23, 8); }

.tightpage ul { padding: 0; }
.tightpage li { list-style: none; text-align: center; margin: .5em 0; }

#essays ol { list-style: none; }
#essays .place { margin-top: 1.5em; margin-left: -1em; }
#essays .year { margin-top: 2em; }
#essays li { margin: .5em 0; font-size: 100%; }

.address { text-align: center; }
.returnaddr { text-align: right; margin-right: 4em; }
.closing { margin-left: 75%; }

table { border-collapse: collapse; }
th, td { padding: .25em .5em; border: 1px solid; }

.minutes { line-height: 1.2em; }
.minutes ol { list-style: upper-roman; }
.minutes ol li { margin-top: .5em; }
.minutes ol ol { list-style: upper-alpha; }
.minutes ol ol li { margin-top: .25em; }
.minutes ol ol ol { list-style: decimal; }
.minutes ol ol ol li { margin-top: 0em; }
.minutes ol ol ol ol { list-style: lower-latin; }

form .field { margin-top: 2em; }
form label { float: left; width: 30%; text-align: right; padding-top: 1em; }
form .checkboxes label { float: none; display: block; width: 100%; text-align: left; padding-top: 0; }
form .checkboxes input { width: auto; display: inline; }
form input, form textarea { margin-left: 32%; border: 2px solid; background-color: transparent; width: 50%; font-size: 150%; padding: .1em .25em; }
form input { display: block; border-style: none none solid; }
form textarea { height: 5em; }
form .submit input { border-style: solid; }
