body { background-color: white; max-width: 750px; margin: auto; }
a { color: #334; }
#navigation:after, #header:after { content: ''; display: block; clear: both; }
#navigation { background-color: #CC9; list-style: none; clear: both; padding: .5em 1em .4em; }
#navigation li { float: left; margin-right: .25em; padding-right: .25em; font-weight: bold; border-right: 2px solid; }
#navigation li:last-child { border-right: none; }
#rightcol { float: right; max-width: 300px; }
#banner a { border: 1px solid; }
#header img { border: none; float: left; }
#mailform { margin-top: 1.5em; float: right; width: 225px; }
#mailform .text { display: block; width: 100%; }
#mailform label { font-size: 85%; display: block; }
