<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Marijuana: Myths &amp; Facts</tmpl:var>
  <tmpl:var name="content">
    <h1>Marijuana: Myths &amp; Facts</h1>
    <ul>
      <li><a href="#1"><b>Myth 1:</b> Marijuana has been scientifically proven to be really harmful to your health.</a></li>
      <li><a href="#2"><b>Myth 2:</b> Marijuana has no medicinal value.</a></li>
      <li><a href="#3"><b>Myth 3:</b> Marijuana use by kids is OK.</a></li>
      <li><a href="#4"><b>Myth 4:</b> Marijuana is highly addictive.</a></li>
      <li><a href="#5"><b>Myth 5:</b> Marijuana leads to harder drugs (the "gateway theory").</a></li>
      <li><a href="#6"><b>Myth 6:</b> Marijuana impairs memory and cognition.</a></li>
      <li><a href="#7"><b>Myth 7:</b> Marijuana causes crime.  Under the influence of marijuana, people become irrational, aggressive, and violent.</a></li>
      <li><a href="#8"><b>Myth 8:</b> Marijuana can cause infertility and retards sexual development in adolescents.</a></li>
      <li><a href="#9"><b>Myth 9:</b> Marijuana is more damaging to the lungs than tobacco.</a></li>
      <li><a href="#10"><b>Myth 10:</b> Marijuana use is a major cause of highway accidents.</a></li>
      <li><a href="#11"><b>Myth 11:</b> Marijuana-related hospital emergencies are increasing, particularly among youth.</a></li>
      <li><a href="#12"><b>Myth 12:</b> Marijuana is more potent today than in the past.</a></li>
      <li><a href="#13"><b>Myth 13:</b> Marijuana use can be prevented.</a></li>
    </ul>
    
    
    <h2 id="1">Myth #1: Marijuana use has been scientifically proven to be really harmful.</h2>
    
    <ul>
      <li><b>Fact #1</b> In 1972, after reviewing the scientific evidence, the National Commission on Marijuana and Drug Abuse concluded that while marijuana is not entirely safe, its dangers had been grossly overstated.</li>
      <li><b>Fact #2</b> In 1995, based on thirty years of scientific research, editors of the British journal Lancet (the British equivalent of New England Journal of Medicine) concluded that "the smoking of cannabis, even long term, is not harmful to health."</li>
    </ul>
    <p><a href="#">&uarr; return to top</a></p>
    
    <h2 id="2">Myth #2: Marijuana has no medicinal value.</h2>
    
    <ul>
      <li><b>Fact #1</b> Marijuana has been shown to be effective in reducing nausea induced by cancer chemotherapy, stimulating appetite in AIDS patients, and reducing intraocular pressure in people with glaucoma.</li>
    </ul>
    <p><a href="#">&uarr; return to top</a></p>
    
    <h2 id="3">Myth #3: Marijuana use by kids is OK.</h2>
    
    <ul>
      <li><b>Fact #1</b> Marijuana use by kids, like alcohol and tobacco, is not OK. Its use is illegal, and the effect of marijuana on kids in their developmental stage has not been studied. Common sense tells us that marijuana use by kids is not a good idea.</li>
      <li><b>Fact #2</b> Marijuana use by kids, coupled with other drug use and behavioral problems, can be a sign that a child needs professional attention.</li>
      <li><b>Fact #3</b> 90% of kids who try marijuana don't go on to use other drugs, and do not continue to use marijuana.</li>
    </ul>
    <p><a href="#">&uarr; return to top</a></p>
    
    <h2 id="4">Myth #4: Marijuana is highly addictive.</h2>
    
    <ul>
      <li><b>Fact #1</b> Most people who smoke marijuana smoke it only occasionally. A small minority of Americans --less than one percent - smoke marijuana on a daily or near-daily basis. An even smaller minority develops dependence on marijuana. Marijuana is not physically addictive.</li>
    </ul>
    <p><a href="#">&uarr; return to top</a></p>
    
    <h2 id="5">Myth #5: Marijuana leads to harder drugs (the "gateway theory").</h2>
    
    <ul>
      <li><b>Fact #1</b> Over 70 million people have tried marijuana. Most marijuana users never use any other illegal drug. Indeed, for the vast majority of people, marijuana is the last drug they try, not a "gateway" to other drugs. If it were a gateway drug and if it were so addictive, we would have more than 3 million heroin and cocaine addicts in the U.S.</li>
      <li><b>Fact #2</b> Marijuana is the most popular illegal drug in the United States today. Therefore, people who have used less popular drugs such as heroin, cocaine and LSD are likely to have also tried marijuana. </li>
    </ul>
    <p><a href="#">&uarr; return to top</a></p>
    
    <h2 id="6">Myth #6: Marijuana impairs memory and cognition.</h2>
    
    <ul>
      <li><b>Fact #1</b> Marijuana produces immediate, temporary changes in thoughts, perceptions, and information processing. The cognitive process most clearly affected by marijuana is short-term memory. In laboratory studies, subjects under the influence of marijuana have no trouble remembering things they learned previously. However, they display diminished capacity to learn and recall new information. This diminishment only lasts for the duration of intoxication.</li>
    </ul>
    <p><a href="#">&uarr; return to top</a></p>
    
    <h2 id="7">Myth #7: Marijuana causes crime. Under the influence of marijuana, people become irrational, aggressive, and violent. </h2>
    
    <ul>
      <li><b>Fact #1</b> Every serious scholar and government commission examining the relationship between marijuana use and crime has reached the same conclusion: Marijuana does not cause crime. The vast majority of marijuana users do not commit crimes. Almost all human and animal studies show that marijuana decreases aggression.</li>
    </ul>
    <p><a href="#">&uarr; return to top</a></p>
    
    <h2 id="8">Myth #8: Marijuana can cause infertility and retards sexual development in adolescents.</h2>
    
    <ul>
      <li><b>Fact #1</b> There is NO evidence that marijuana causes infertility in men or women. Most studies of humans have found that marijuana has no impact on sex hormones. In those studies showing an impact, it is modest, temporary, and of no apparent consequence for reproduction.</li>
      
      <li><b>Fact #2</b> There is NO scientific evidence that marijuana delays adolescent sexual development, has a feminizing effect on males, or a masculinizing effect on females. </li>
    </ul>
    <p><a href="#">&uarr; return to top</a></p>
    
    <h2 id="9">Myth #9: Marijuana is more damaging to the lungs than tobacco.</h2>
    
    <ul>
      <li><b>Fact #1</b> Moderate smoking of marijuana appears to pose minimal danger to the lungs.</li>
    </ul>
    <p><a href="#">&uarr; return to top</a></p>
    
    <h2 id="10">Myth #10: Marijuana use is a major cause of highway accidents.</h2>
    
    <ul>
      <li><b>Fact #1</b> There is no compelling evidence that marijuana contributes substantially to traffic accidents and fatalities. In driving studies, marijuana produces little or no car-handling impairment &mdash; consistently less than that produced by low to moderate doses of alcohol and many legal medications.</li>
      <li><b>Fact #2</b> People should not drive while under the influence of marijuana. At some doses, marijuana affects perceptions and psychomotor performance.</li>
    </ul>
    <p><a href="#">&uarr; return to top</a></p>
    
    <h2 id="11">Myth #11: Marijuana-related hospital emergencies are increasing, particularly among youth.</h2>
    
    <ul>
      <li><b>Fact #1</b> There is no lethal dose of marijuana. You cannot die from "binge smoking" like you can from binge drinking.</li>
      <li><b>Fact #2</b> The number of people in hospital emergency rooms who say they have used marijuana has increased. This does not mean that people come to the emergency room because of marijuana. Many more teenagers use marijuana than hard drugs like heroin and cocaine. As a result, when teenagers visit hospital emergency rooms, they report marijuana much more frequently than they report heroin or cocaine.</li>
      <li><b>Fact #3</b> In 1994, fewer than 2 percent of drug-related emergency room visits involved the use of marijuana alone.</li>
    </ul>
    <p><a href="#">&uarr; return to top</a></p>
    
    <h2 id="12">Myth #12: Marijuana is more potent today than in the past.</h2>
    
    <ul>
      <li><b>Fact #1</b> Marijuana is the same drug it has always been.</li>
      <li><b>Fact #2</b> Potency data from the early 1980s do not show an increase in the average THC content of marijuana.</li>
    </ul>
    <p><a href="#">&uarr; return to top</a></p>
    
    <h2 id="13">Myth #13: Marijuana use can be prevented.</h2>
    
    <ul>
      <li><b>Fact #1</b> There is no evidence that spending billions of dollars over the past 20 years for anti-drug messages has diminished young people's interest in trying marijuana.</li>
      <li><b>Fact #2</b> For most age groups, rates of marijuana use in the Netherlands are similar to those in the United States. However, for young adolescents, rates of marijuana use are LOWER in the Netherlands than in the United States.</li>
    </ul>
    <p><a href="#">&uarr; return to top</a></p>
    
    <hr />
    
    <p>For more information about "Marijuana Myths, Marijuana Facts" by Lynn Zimmer and John P. Morgan, published by the Lindesmith Center, please <a href="http://www.marijuanafacts.org" target="_blank">visit their website</a> or <a href="http://www.marijuanafacts.org/mmorder.html" target="_blank">order the book from their web site</a>.</p>
  </tmpl:var>
</tmpl:template>
  
