<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Kids and Marijuana</tmpl:var>
  <tmpl:var name="content">
    <h1>How to Talk to your Kids About Marijuana</h1>
    
    <p>Talking to anyone about marijuana can be difficult, especially given all the media and hysteria over the past 20 years. The important thing about talking with youngsters is to be honest. This gives you, as a parent and as an adult, credibility in your kids' eyes.</p>
    
    <p>Change the Climate, Inc. has relied on the expert advice of Marsha Rosenbaum, Ph.D., Director of the Lindesmith Center West, a drug policy institute in San Francisco. Dr. Rosenbaum is the author of many articles about kids and drugs, and she has generously allowed us to quote from her publications.</p>
    
    <h2>Kids, Marijuana and America</h2>
    
    <p>First, the United States is a drug culture. The American people and their children are perpetually bombarded with messages that encourage them to imbibe and medicate with a variety of substances. We routinely alter our states of consciousness through conventional means such as alcohol, tobacco, caffeine, and prescription medications. In this context, and acknowledging that legal-illegal distinctions are irrelevant to many adolescents, experimentation with mind-altering substances such as marijuana could be defined as "normal" (Shedler &amp; Block 1990; Newcomb &amp; Bentler 1988).</p>
    
    <p>In America, the desire to change one's level of awareness is anything but deviant. Instead, it is normal, and differs only methodologically. For teenagers, risk-taking goes with the territory. Couple this with availability and it should come as no surprise that teenagers are continuing to use marijuana, despite efforts at deterrence such as drug education.</p>
    
    <p>If marijuana use is defined as risky, it becomes attractive rather than unattractive to teenagers, and in this context its use is predictable.</p>
    
    <p>Today's teenagers know much about marijuana through direct experience, and information from family, friends and the media. It is part of youth culture.</p>
    
    <p>Teenagers know from their own experience and observation that marijuana use does not inevitably lead to the use of harder drugs. Therefore when such information is given, they discount both the message and the messenger.</p>
    
    <p>According to Brown (1997:40): "When young people recognize that they are being taught to follow directions, rather than to make decisions, they feel betrayed and resentful. As long as federal mandates force this charade, drug education programs and policies will continue to fail."</p>
    
    <h2>Drug Education Programs: What's Up?</h2>
    
    <p>Indeed, study after study shows that current drug education programs have no effect on drug use. Why? They lack credibility. Most programs focus on marijuana, which the programs overly demonize, hoping to frighten you people away from experimentation. Half of American teenagers try marijuana anyway, and once they learn the dire warnings are not true, they begin to mistrust everything about drugs adults tell them. And why shouldn't they? Why should they listen at all if they can't believe what we tell them?</p>
    
    <p>Our first priority ought to be gaining the trust of young people. We ought to offer a scientifically grounded education that allows them to learn all they can about drugs, alcohol and any other substance(s) they ingest.</p>
    
    <p>Young people will ultimately make their own decisions about drug use. When they do, they ought to have information from sources they trust to insure their safety.</p>
    <p>A new strategy for drug education requires a substitute set of basic assumptions and goals. Since total abstinence, though preferred, is not a realistic alternative, we must take a pragmatic rather than moralistic view of marijuana use. Such use is likely to happen, so instead of becoming indignant and punitive, we ought to assume the existence of drug use and strategize to minimize its negative effects. Harm reduction should replace zero tolerance.</p>
    
    <h2>Boomers, Kids and Marijuana</h2>
    
    <p>Most parents these days have experience with marijuana; after all, some 70 million people have smoked and over 10 million are occasional smokers. Therefore, it is no surprise that parents, most of whom are "baby boomers," struggle with reconciling their own marijuana use -- past or present -- and the potential or actual youthful experimentation by their own children.</p>
    
    <p>Change the Climate offers parents an opportunity to communicate and share ideas about marijuana, kids and parenting. <a href="forum/">Go to our bulletin board</a> to post your question or comment.</p>
    
    <p>Here are some comments from Marsha Rosenbaum, Ph.D., about her own experience as a "boomer" parent with kids.</p>
    
    <p>Boomers take parenting very seriously. We read books about it, ponder various parenting methods, and worry constantly that our children are psychologically and physically prepared for life in the 21st century.</p>
    
    <p>Boomers are anything but complacent about health. (We) started the health and fitness revolution in this country, and stigmatized cigarette smoking. Those who have even limited experience with drugs struggle over what to tell their children, not wanting to be dishonest or open the door to experimentation. Most wish we could tell our kids not to try drugs and the whole issue would magically disappear.</p>
    
    <p>The notion that we have the power to deter our children from experimentation with drugs (or sex, for that matter) is ludicrous. Instead of complacency about drugs, we are realistic. Most of us were teenagers in the 1960s and 70s, and many of us, including our President and Vice President, tried marijuana. Although the vast majority of us no longer use drugs, those who did know that despite recent fear-producing rhetoric, with moderate use marijuana remains the most benign substance on the drug scene, safer not only than cocaine and heroin but alcohol, pharmaceuticals, and certainly cigarettes.</p>
    
    <p>If boomers seem complacent about drugs, perhaps it is because they have correctly ascertained (largely from their own experience as teenagers) that despite their efforts they do not have total control over their children's actions. They have also made a realistic assessment of health risks and believe that if, despite admonitions to the contrary, their children are going to experiment with drugs, marijuana is the least harmful choice. If they have been quiet, it is because in the current climate, they are afraid to speak the truth...</p>
    
    <p>Marsha Rosenbaum's articles quoted here have been published in the Journal of Psychoactive Drugs, Vol. 30 (2), April-June 1998 as "Just Say Know" to Teenagers and Marijuana; and in the San Francisco Chronicle, January 8, 1999, p. A23; and "A Boomer Speaks Out About Kids and Drugs."</p>
    
    <h2>Questions?</h2>
    
    <p>If you have questions or concerns about how to talk with your children about marijuana, please post it <a href="forum/">in the forum</a> and others will respond, share ideas, and offer suggestions.</p>
    
    <p>NOTE: Change the Climate, Inc. does not offer counseling, family therapy or any medical/health care services. We urge you to be in contact with a medical professional to answer questions or concerns that you or family members may have about marijuana or other drugs.</p>
  </tmpl:var>
</tmpl:template>
  
