<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/"
               tmpl:iscontent="false">
  <tmpl:var name="news">
    <h2><img src="images/whats_new_header.gif" alt="What's New?" width="112" height="16" /></h2>
    <ul>
      <li><a href="tv/imagine.html">CTC TV Episode 6: "Imagine" - Watch Now!</a></li>
      <li><a href="news/2005/10/15/">Pot backers won't halt domestic violence ads</a></li>
      <li><a href="news/2005/09/22/viagra.php">Unusual Political Message: Pot Makes Better Lovers than Viagra</a></li>
      <li><a href="news/2004/12/2/mbta.php">Appeals court rules against MBTA on marijuana ad refusal</a></li>
      <li><a href="news/2004/10/26/norml.php">Marijuana Arrests For Year 2003 Hit Record High</a></li>
      <li><a href="news/2004/06/02/court.php">Change the Climate, ACLU, MPP and DPA win free speech case against Bush Administration!</a></li>
      <li><a href="campaigns/02_18_04/">Latest Marijuana Reform Ad Refused in Washington D.C., Lawsuit Filed</a></li>
      <li><a href="news/istook.php">Marijuana Ad On Metro Infuriates Lawmaker</a></li>
      <li><a href="bu-study/">Report: The Budgetary Implications of Marijuana Legalization in Massachusetts</a></li>
      <li><a href="news/">More News &raquo;</a></li>
    </ul>
    <h2><img src="images/get_involved.gif" width="112" height="15" alt="Get Involved!" /></h2>
  </tmpl:var>
</tmpl:template>
