/* Blue Colors Stylesheet */



/*-------------------------------------------------------------------------------------------*/
/* 1. SETUP */
/*-------------------------------------------------------------------------------------------*/

/* 1.1 Defaults */

body  { background: #fff url(blue/bodytile.jpg) repeat left top; }

/* 1.2 Hyperlinks */

a:link, a:visited  { color: #17517b; }
a:hover  {}



/*-------------------------------------------------------------------------------------------*/
/* 2. SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/

/* 2.1 Containers & Columns */


/* 2.2 Navigation */


/* 2.2.1 Drop-down menus */



/* CATEGORY NAVIGATION */

/* PAGES NAVIGATION */
#pagenav a  { border-bottom: 4px solid #9fcef1; }
#pagenav li.current_page_item a, #pagenav li.current-menu-item a, #pagenav li.current-menu-ancestor a, #pagenav li a:hover  { border-color: #17517b;  }
#pagenav li ul  { border-top: 1px solid #9fcef1; }
#pagenav li ul li  { border-color: #9fcef1; }
#pagenav li ul a:hover  { color: #fff!important; background: #17517b;  }
#pagenav li.rss a  { color: #17517b; background: url(blue/ico-rss.png) no-repeat right 4px; }



/* 2.3 Header */


/* 2.4 Content */


/* 2.5 Sidebar */


/* 2.6 Extended Footer */
#extended-footer  { background-color: #9fcef1; }
.one, .two  { border-color: #7ebdec; }

/* 2.7 Footer */



/*-------------------------------------------------------------------------------------------*/
/* 3. POSTS */
/*-------------------------------------------------------------------------------------------*/

.post .date  { background: url(blue/date.png) no-repeat left top; }

.post-meta li .body a:hover, .navigation a:hover  { color: #17517b; }


/* 3.1 Typographic Elements */

/* 3.2 Images */
.post img.attachment-post-thumbnail  { border: 5px solid #9fcef1; }
.entry img  { border: 5px solid #9fcef1; }

/* 3.3 Pagination / WP-Pagenavi */

.more_entries .wp-pagenavi a:link,
.more_entries .wp-pagenavi a:visited { color: #17517b; }
.more_entries .wp-pagenavi .current, 
.more_entries .wp-pagenavi .on,
.more_entries .wp-pagenavi a:hover { background: #9fcef1 !important; color: #17517b; }


/*-------------------------------------------------------------------------------------------*/
/* 4. WIDGETS */
/*-------------------------------------------------------------------------------------------*/

/* 4.1 Generic Widgets */
.widget h3  { border-bottom: 1px solid #17517b; }

.widget ul li a:link, .widget ul li a:visited { background: url(blue/bullet.png) no-repeat 10px 12px; border-bottom: 1px solid #9fcef1; }
.widget ul li a:hover  { color: #17517b; background: url(blue/bullet_hover.png) no-repeat 10px 12px; font-weight: bold; }

.widget_recent_comments li, .widget_twitter li  { border-bottom: 1px solid #9fcef1; } /* RESET LI STYLING FOR RECENT COMMENT & TWITTER */
.widget_recent_comments li a, .widget_twitter a  { color: #17517b!important; } /* RESET <A> STYLING FOR RECENT COMMENT & TWITTER */

/* RESET FOR CATEGORIES WITH COUNT and HEIRARCHY */
#container .widget_categories li  { background: url(blue/bullet.png) no-repeat 10px 12px; border-bottom: 1px solid #9fcef1; }
#container .widget_categories li:hover  { background: url(blue/bullet_hover.png) no-repeat 10px 12px; }

/* 4.2 Specific Widgets */

/* FEATURED POSTS */

.widget-bueno-featured li  { border-bottom: 1px solid #9fcef1; }
.widget-bueno-featured span.thumb img  { border: 5px solid #9fcef1; }
.widget-bueno-featured span.thumb img:hover  { border-color: #17517b; }

/* WIDGET FORMS */
input#s, input.field  { border: 1px solid #9fcef1; }
input#s:focus, input.field:focus  { border: 1px solid #17517b; }
input.submit  { background-color: #17517b; }

/* FLICKR */
#flickr a img  { border: #9fcef1 3px solid;}
#flickr a:hover img  { border:#17517b 3px solid; }

/* LIFESTREAM */
.widget_lifestream ul li  { border-bottom: 1px solid #9fcef1; }

/* TEXT WIDGET */

/* CALENDAR */
#wp-calendar th,#wp-calendar td{background:#9fcef1;}
#wp-calendar th  { color: #17517b; }

/* ADS */
#sidebar .ads125 { border: 1px solid #9fcef1; }

/* 4.3 Extended Footer Widgets */


/*-------------------------------------------------------------------------------------------*/
/* 5. COMMENTS */
/*-------------------------------------------------------------------------------------------*/

/* 5.1 Comments */


/* 5.2 Pingbacks / Trackbacks */

/* 5.3 Comments Form */
#commentform #submit  { background-color: #17517b; }

