#loginbox {
  border: 2px solid;
  width: 12em;
  display: table;
}

.line {
  display: table-row;
}

.label {
  display: table-cell;
  width: 30%;
  text-align: right;
  padding-right: .5em;
}

.field {
  display: table-cell;
  width: 58%;
}

.field input[type="text"], .field input[type="password"] {
  padding-left: .25em;
  padding-right: .25em;
}

.field input[type="submit"] {
  margin-left: 200%;
}
