#dynamicmenu {
  position: fixed;
  top: 4em;
  left: -2em;
  padding: 0;
}

#dynamicmenu a, #dynamicmenu .nolink, #dynamicmenu h2 { background-color: #EFE; }

/* #dynamicmenu > *:first-child { */
#dynamicmenu h2 { /* for IE */
  position: absolute;
  left: 102%;
  width: 1.5em;
  border: 2px solid;
}

#dynamicmenu ul { list-style-type: none; }

#dynamicmenu li { margin: -2px 0 -1px 0; }
#dynamicmenu li:first-child { margin-top: 0; }
#dynamicmenu li ul { margin-top: -2px; }
#dynamicmenu ul { margin: 0; }
#dynamicmenu ul ul { margin-left: 1.5em; }

#dynamicmenu a, #dynamicmenu .nolink {
  display: block;
  border: 2px dashed;
  padding: .25em;
}

#dynamicmenu a:hover, #dynamicmenu .nolink:hover { border: 2px solid; }
#dynamicmenu a:hover { background-color: #DED; }
