@import url('../styles/meyermenu.css');
@import url('../styles/meyermenu_arrows.css');

.meyermenu { font-family: sans-serif; font-weight: bold; }
.meyermenu.vertical.left { float: left; }
.meyermenu.vertical.right { float: right; }

.meyermenu li { background-color: white; }
.meyermenu li:hover { background-color: lightgray; border: 2px solid darkgray; }

.meyermenu.tab, .meyermenu.tab ul { background-color: white; }
