#rhode-island-img { left: 658px; top: 139px; }
#delaware-img { left: 618px; top: 187px; }
#kansas-img { left: 284px; top: 209px; }
#arkansas-img { left: 382px; top: 268px; }
#missouri-img { left: 367px; top: 200px; }
#minnesota-img { left: 350px; top: 55px; }
#illinois-img { left: 420px; top: 165px; }
#indiana-img { left: 467px; top: 174px; }
#mississippi-img { left: 426px; top: 291px; }
#iowa-img { left: 356px; top: 151px; }
#nebraska-img { left: 263px; top: 157px; }
#south-dakota-img { left: 266px; top: 108px; }
#north-dakota-img { left: 270px; top: 58px; }
#oregon-img { left: 19px; top: 61px; }
#colorado-img { left: 192px; top: 184px; }
#utah-img { left: 126px; top: 157px; }
#nevada-img { left: 58px; top: 141px; }
#california-img { left: 10px; top: 127px; }
#arizona-img { left: 102px; top: 239px; }
#new-mexico-img { left: 179px; top: 250px; }
#oklahoma-img { left: 270px; top: 258px; }
#texas-img { left: 214px; top: 267px; }
#wisconsin-img { left: 400px; top: 93px; }
#michigan-img { left: 428px; top: 71px; }
#washington-img { left: 44px; top: 20px; }
#montana-img { left: 139px; top: 38px; }
#idaho-img { left: 106px; top: 36px; }
#wyoming-img { left: 176px; top: 114px; }
#ohio-img { left: 502px; top: 162px; }
#kentucky-img { left: 450px; top: 217px; }
#district-of-columbia-img { left: 599px; top: 204px; }
#virginia-img { left: 527px; top: 200px; }
#west-virginia-img { left: 536px; top: 185px; }
#maryland-img { left: 573px; top: 189px; }
#new-jersey-img { left: 622px; top: 159px; }
#pennsylvania-img { left: 554px; top: 150px; }
#vermont-img { left: 564px; top: 55px; }
#new-hampshire-img { left: 530px; top: 33px; }
#maine-img { left: 653px; top: 43px; }
#connecticut-img { left: 638px; top: 140px; }
#massachusetts-img { left: 536px; top: 73px; }
#new-york-img { left: 562px; top: 96px; }
#tennessee-img { left: 442px; top: 254px; }
#north-carolina-img { left: 521px; top: 241px; }
#alabama-img { left: 469px; top: 288px; }
#georgia-img { left: 505px; top: 284px; }
#south-carolina-img { left: 535px; top: 277px; }
#florida-img { left: 483px; top: 350px; }
#alaska-img { left: 4px; top: 342px; }
#hawaii-img { left: 176px; top: 401px; }
#louisiana-img { left: 390px; top: 327px; }
#map-back, #map-cover, .map-image { border: none; }
#map-back { position: absolute; top: 0px; left: 0px; }
#us-map { position: relative; width: 750px; height: 464px; margin: 0 auto; }
.map-image { position: absolute; display: none; }
#map-cover { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; }