
  #background a { background-image: url('background_inactive.png'); }
  #background a:hover { background-image: url('background.png'); }
  #background.active { background-image: url('background_active.png'); }

  #universal_net_access a { background-image: url('universal_net_access_inactive.png'); }
  #universal_net_access a:hover { background-image: url('universal_net_access.png'); }
  #universal_net_access.active { background-image: url('universal_net_access_active.png'); }

  #scalable_employment a { background-image: url('scalable_employment_inactive.png'); }
  #scalable_employment a:hover { background-image: url('scalable_employment.png'); }
  #scalable_employment.active { background-image: url('scalable_employment_active.png'); }

  #pool_excess_capital a { background-image: url('pool_excess_capital_inactive.png'); }
  #pool_excess_capital a:hover { background-image: url('pool_excess_capital.png'); }
  #pool_excess_capital.active { background-image: url('pool_excess_capital_active.png'); }

  #reliable_virtual_reputations a { background-image: url('reliable_virtual_reputations_inactive.png'); }
  #reliable_virtual_reputations a:hover { background-image: url('reliable_virtual_reputations.png'); }
  #reliable_virtual_reputations.active { background-image: url('reliable_virtual_reputations_active.png'); }

  #open_data_network a { background-image: url('open_data_network_inactive.png'); }
  #open_data_network a:hover { background-image: url('open_data_network.png'); }
  #open_data_network.active { background-image: url('open_data_network_active.png'); }

  #declare_wwiii a { background-image: url('declare_wwiii_inactive.png'); }
  #declare_wwiii a:hover { background-image: url('declare_wwiii.png'); }
  #declare_wwiii.active { background-image: url('declare_wwiii_active.png'); }

  #title_text a { background-image: url('title_text_inactive.png'); }
  #title_text a:hover { background-image: url('title_text.png'); }
  #title_text.active { background-image: url('title_text_active.png'); }

  /* Size to use background image. Text hidden by jquery. */
  #navigation li a, #navigation li { display: block; width: 150px; height: 140px; background-repeat: no-repeat; }
