.full_featposts .featured_post {
	width:604px;
}
.featured_post img {
	display: inline;
}
.container .full_featposts span.date_bg {
	right: 4px;
}
span.comments {
	background-position: 0 10px;
	padding: 4px 4px 4px 20px;
}

/* Add left margin for narrow screen widths to prevent left column from butting against the edge of the screen. */
	.content_left,
	.footer_left,
	.fl{
		margin-left: 15px;
}
