/*
body > table > tbody > tr > td > table > tbody > tr > td:last-child > table { display: none; }
body > table > tbody > tr > td > table > tbody > tr > td:last-child > table ~ table { display: table; }
*/

/* body > table > tbody > tr > td > table > tbody > tr > td:last-child > table ~ table ~ table ~ table { background-color: red ! important; } */

/* main content cell */
body > table > tbody > tr > td { background-color: red ! important; }
body table { background-color: red; }

/*
body > table > tbody > tr > td > table > tbody > tr > td:first-child, body > table > tbody > tr > td > table > tbody > tr > td:last-child { display: table-cell; }

table, tr, td {
background-color: transparent;
border: none;
}

body {
background-color: BDF;
}

table table, table table table table {
border: none;
}

table table table {
border-style: 2px double rgb(34, 34, 136);
background-color: rgb(34, 34, 204);
}

table, tr, td, li, p, div, a, .btext, .blacktext10,
.blacktext12, .lightbluetext8, .orangetext15, .redtext, .text, .whitetext12, .nametext {
font-family: Verdana;
color: white ! important;
}

table, tr, td, li, p, div {
font-size: 12px;
}

.btext, .redbtext {
font-weight: bold;
}

a { text-decoration: underline; }
a:hover { }
a.navbar:active, a.navbar:visited, a.navbar:link { }
a.navbar:hover { }
a.redlink:active, a.redlink:visited, a.redlink:link { }
a.redlink:hover { }
.nametext { }
*/
