#leftcolumn { float: left; width: 350px; }
#rightcolumn { float: right; width: 410px; }

body {
  background: #1f2a3e url('myspace_back_back_tile.png');
  font-size: 12.5pt; font-family: verdana sans-serif; border-color: #5F5F80; margin: 0;
}

#body {
  width: 770px;
  background: #1E2941 url('http://odin.himinbi.org/gallery/main.php?g2_view=core.DownloadItem&amp;g2_itemId=8956') repeat-y;
  background: #1A0A0B url('red_velvet_dark.jpg');
  background: #1A0A0B;
  margin: auto; padding: 0 15px;
  border: 4px solid white;
  border: 4px solid black;
}

#intro, #navigation, #about, #contact, #url, #interests, #details, #network, #blog, #blurbs, #friends, #comments, #footer
 { background-color: #D2D2E6; border: 3px double #5F5F80; }
#intro { padding: .5em 1em; }
a { text-decoration: none; color: #6D6DBF; }

#navigation, #footer { padding: 0; margin: 0; font-size: 90%; margin-bottom: 2em; }
#navigation:after, #contact:after, #body:after, #maincontent:after, #footer:after
 { display: block; content: ''; clear: both; }
#navigation li, #footer li
  { list-style: none; padding: .5em .2em .25em .25em; float: left; border-right: 1px solid; }
#navigation li:last-child, #footer li:last-child { border-right: none; }
#contact li a:hover, #navigation li:hover, #friends td:hover, #footer li:hover { background-color: #6A6A8F; }
a:hover, #navigation li:hover, #friends td:hover a, #footer li:hover { color: #CCAE8F; }

h1, h2 { display: block; text-align: center; font-size: 150%; margin: .5em .5em 1em; border-bottom: 3px double; }
h1 { font-family: verdana; }
h2 { font-size: 110%; }
#about img { float: left; }
#about ul { list-style: none; margin-left: 150px; }
#about li { margin-bottom: .5em; }

#viewlinks { display: block; text-align: center; }

#contact, #url, #audioplayer, #interests, #details, #blurbs, #vplayer, #friends, #footer, #navigation
 { padding: 0; margin-top: 1em; }
#contact h1 { display: none; }
#contact ul { list-style: none; margin: 0; padding: 0; }

#contact li { width: 50%; }
#contact li a { display: block; padding: .25em .25em .25em 1em; }
#email, #befriend, #message, #addgroup { float: left; }
#forward, #favorite, #block, #rank { float: right; }

#url h1 { text-align: left; margin-top: .25em; margin-bottom: 0; }
#url div { margin: .75em .5em .5em 1em; }

#audioplayer { text-align: center; }

#interests p { margin: .25em .25em .75em .25em; }
#geninterest h2, #movinterest h2 { display: none; }

#details { display: none; }
#details h1 { margin-bottom: .5em; display: none; }
#details table { width: 100%; }

#network { padding: 2em 1em; text-align: center; display: none; }

#blog ul { list-style: none; margin: 0; padding: 0; }
#blog li { padding: .5em; border-bottom: 1px solid; }

#blurbs h1 { display: none; }
#blurbs { padding: .5em; }

#vplayer { margin-left: -90px; }

#friends { width: 600px; margin-left: -275px; }
#friends h1 { font-size: 130%; margin-bottom: .5em; }
#friends table { width: 100%; border-collapse: collapse; }
#friends td { width: 25%; border: 1px solid; text-align: center; }
#friends td a:first-child { display: block; }

#comments { width: 760px; margin-left: -360px; margin-top: 1em; }
#comments table { border-collapse: collapse; }
#comments td { border: 1px solid; padding: .5em; vertical-align: top; }
#comments .date { display: block; margin-bottom: 1.5em; }
#comments td:first-child { border-right: 3px double; }
#comments td:first-child a { display: block; text-align: center; }
/* #comments td:last-child { display: block; overflow: auto; } */
