.dialog { margin:0px auto; max-width:800px; color:black; }
.dialog .hd .c, .dialog .ft .c { font-size:1px; height:11px; }
.dialog .ft .c { height:14px; }
.dialog .hd { background:transparent url(../images/tl.png) no-repeat 0px 0px; margin-right:14px; }
.dialog .hd .c { background:transparent url(../images/tr.png) no-repeat right 0px; margin-right:-14px; }
.dialog .bd { background:transparent url(../images/ml.png) repeat-y 0px 0px; margin-right:6px; }
.dialog .bd .c { background:transparent url(../images/mr.png) repeat-y right 0px; margin-right:-6px; }
.dialog .bd .c .s { margin:0px 8px 0px 4px; background:#000 url(../images/ms.jpg) repeat-x 0px 0px; padding:1em; }
.dialog .ft { background:transparent url(../images/bl.png) no-repeat 0px 0px; margin-right:14px; }
.dialog .ft .c { background:transparent url(../images/br.png) no-repeat right 0px; margin-right:-14px; }

.gray .dialog .hd .c, .gray .dialog .ft .c { height:3px; }
.gray .dialog .hd, .gray .dialog .hd .c { background-image: url('../images/top.png'); }
.gray .dialog .hd .c { margin-left: 6px; }
.gray .dialog .ft, .gray .dialog .ft .c{ background-image: url('../images/bottom.png'); }
.gray .dialog .ft .c { margin-left: 6px; }
.gray .dialog .bd, .gray .dialog .bd .c, .gray .dialog .bd .c .s  { background: none #999; }
