@import url('navmenu.css');

a img { border: none; }

#header { background: #910000 url('../images/header_splash_mask.png') no-repeat top left; height: 140px; position: relative; }

#header img { height: 90px; margin-right: 10px; position: absolute; bottom: 5px; left: 20px; }
#header h1 { position: absolute; bottom: 5px; left: 100px; margin: .5em 0 0; color: white; }
#header a { color: white; }
h1 .indiefeed { color: #333; }
h1 .podcasts { color: #A33; font-size: 90%; margin-left: .5em; }
#header:after { content: ''; display: block; clear: both; }
#header { margin-bottom: 1.5em; }

#options { width: 800px; float: left; list-style: none; font-family: Helvetica, Georgia; margin: 0; }
#options > li { float: right; clear: right; }
#login { display: block; padding: .25em .5em; margin: 1em 2em; background-color: white; padding: 0; margin-top: -1.25em; font-size: 13px; }
#login ul { margin: 0; padding: 0; }
#login ul a:first-child { border-right: 2px solid #711; }
#login li { float: left; list-style: none; padding: 0; margin: 0; }
#login a { text-decoration: none; display: block; padding: .25em .5em; margin: 0; color: #711; }
#search h2 { text-transform: uppercase; font-weight: bold; color: white; font-size: 12pt; margin: 0 0 -.25em; text-align: right; }
#searchform { background: white url('../images/gray_gradient.png') repeat-x; padding: 0 .5em .25em; }
#searchform form { display: block; margin: .25em 0 0 0; }
#searchform input { border: none; padding: .25em; }
