table.diff {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
    font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
    border: 1px solid #CCC;
}

.diff td {
    text-align: left;
    font-family: Courier;
    font-size: 12px;
    padding: 1px 2px;
    white-space: pre;
}

.diff td.code {
    width: 100%;
    padding-left: 4px;
    border-color: red;
}

.diff td.column {
    text-align: right;
    min-width: 3em;
    background-color: #ECECEC;
    border-right: 1px solid #DDD;
    color: #AAA;
}

.diff tr.add {
    background: #DFD;
}

.diff tr.del {
    background: #FDD;
}
