DirectoryIndex batik.php

RewriteEngine on
RewriteOptions inherit

# Because of the DirectoryIndex, batik gets replaced with batik.php
# RewriteRule ^batik.phps?/(.*\.jar)$ http://www.ibiblio.org/maven/batik/$1 [R,L]
RewriteRule ^batik.phps?/(.*\.jar)$ http://www.ibiblio.org/maven/batik/$1 [R,L]
RewriteRule ^batik.phps?/(.*\.jar)$ http://www.signal42.com/mirrors/apache/$1 [R,L]

RewriteRule ^(.*\.jar)$ http://www.ibiblio.org/maven/$1 [R,L]
