/* =Quintus Archaic Colors
-------------------------------------------------------------- */
#page {
	background: #f2e2c1;
}
#access {
	background: #cfbd97;
}
#access .menu a {
	color: #111;
}
#access .menu a:hover {
	color: #5e191a;
}
#access input#s {
	background-color: #a28e67;
	border-color: #8d7c59;
}
#access .menu {
	border-color: #a28e67;
}
.content .page-title {
	color: #a28e67;
}
.content article {
	background: url(../images/ornament-archaic.png) center bottom no-repeat;
}
.entry-content {
	color: #111;
}
.entry-meta .entry-date {
	background: #a28e67;
	color: #f7f3ee;
}
.entry-meta .entry-date:hover {
	background: #5b211a;
}
footer.entry-meta {
	border-color: #e7d9b9;
}
footer.entry-meta .comments-link a {
	background: #5b211a;
	color: #f7f3ee;
}
footer.entry-meta .comments-link a:hover {
	background: #7c6c4b;
}
#comments .bypostauthor > .comment-body {
	background: #dfc89c;
}
#content nav div a {
	background: #a28e67;
	border-color: #8d7c59;
	color: #f7f3ee;
}
#content nav div a:hover {
	background: #8d7c59;
	border-color: #8d7c59;
}
.blog-footer {
	background: #411213;
}
.blog-footer a {
	color: #f7f3ee;
}