html { background: #ae8069 url('sand.tile.jpg') fixed; margin: 0; padding: 0; }
body {
  background: transparent url('footsteps.wide.png') no-repeat fixed top center;
  background-image: url('footsteps.wide.jpg'); /* no alpha, but faster */
  text-align: center; font-size: 12.5pt; line-height: 1.2;
  color: #0B2D2D; font-family: sans-serif; margin: 0; padding: 2em;
}
#body { max-width: 650px; margin: auto;
        background-color: rgb(249, 247, 214); border: 5px double #006B6B;
        padding: 1em; }
p, li { text-align: left; }
h1 { font-size: 20pt; }
h1, h2, h3 { text-align: center; }
h2 { margin: .25em auto; }
.image { text-align: center; }
hr { width: 75%; border: none; border-top: 3px double #006B6B; }
/*
.leftcol, .rightcol { width: 50%; float: left; }
*/
.cols:after, #intro:after, #host:after { display: block; content: ''; clear: both; }
a.button { display: block; margin: auto; text-decoration: none; background-color: #510606; color: #F7E9C2; border: 2px outset;
           padding: 5px 4px 3px; width: 8em; text-align: center; font-size: 110%; }
a.button:hover { border-style: inset; padding: 6px 2px 2px 6px; }
.image { margin: auto; border: 1px solid; padding: 7px; } 
.image img { border: 1px solid; display: block; }
#house .image { width: 312px; border-color: #006B6B; background-color: #C9BEAD; }
#house img { border-color: #FFE3B7; }
#tank .image { width: 352px; border-color: #006B6B; background-color: #65809B; }
#tank img { border-color: #3d1910; }
#house { float: right; margin: auto 1.5em; }
#no1 { padding-top: 1em; }
#intro p { font-size: 100%; line-height: 1.3; }
#intro { margin-bottom: 1em; }
#tank { float: left; margin-right: .5em; }
#host h3 { padding-top: .5em; }
#host ul { list-style: none; margin-left: 350px; }
#host li { text-indent: -.75em; margin-bottom: .2em; }
