<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">About the Committee for Sensible Marijuana Policy</tmpl:var>
  <tmpl:var name="header">
  </tmpl:var>
  <tmpl:var name="content">
    <h2>About the Initiative</h2>

    <p>Under current Massachusetts law, people arrested for simple possession of any amount of marijuana can face up to six months in jail and a fine of up to $500.</p>

    <p>In addition, if a person is arrested for marijuana possession, regardless of the amount, a Criminal Offender Record Information (CORI) report is generated &mdash; a black mark on his or her record that lingers long after the minor offense and jeopardizes the person's ability to obtain jobs, housing, and school loans. There are about 2.8 million CORI records on file &mdash; in a state with a population of six million!</p>

    <p>By passing this initiative, we can put an end to these unjust and costly policies.</p>

    <p>What would Massachusetts’ marijuana decriminalization initiative do?</p>

    <ul>
      <li>Amend the current criminal statutes so that adults possessing an ounce or less of marijuana for personal use would be charged with a civil infraction and fined.</li>
      <li>Remove the threat of a CORI report for minor marijuana possession charges.</li>
      <li>Maintain current penalties for selling, growing, and trafficking marijuana, as well as the prohibition against driving under the influence of marijuana.</li>
      <li>Save Massachusetts approximately $24.3 million per year in law enforcement resources that are currently wasted on low-level marijuana possession arrests, according to a <a href="http://www.dpfma.org/pdf/miron_report_03.pdf">2003 report by Harvard economist Jeffrey Miron</a>.</li>
    </ul>

    <p>Read the <a href="initiative.html">full text of the initiative</a>.</p>
  </tmpl:var>
</tmpl:template>
