<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Committee for Sensible Marijuana Policy Actions</tmpl:var>
  <tmpl:var name="content">
    <h2>Take Action</h2>
    
    <p>Would you please get involved in the campaign to pass a medical marijuana law in Massachusetts today?  Here are some ways you can help:</p>

    <ul>
      <li><a href="subscribe.html">Subscribe to e-mail alerts</a></li>
      <li><a href="committees.html">Volunteer to help raise funds or collect signatures</a></li>
      <li><a href="volunteer.html">Volunteer in other ways</a></li>
      <li><a href="register.html">Register to vote</a></li>
      <li><a href="tellafriend.html">Tell a friend</a></li>
      <li><a href="donate.html">Contribute</a></li>
    </ul>
  </tmpl:var>
</tmpl:template>
