<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Committee for Sensible Marijuana Policy Commitments</tmpl:var>
  <tmpl:var name="content">
    <h2>Commitments</h2>

    <h3>$1,000 Fundraising Members</h3>
    <p><em>Check back soon for a listing of people who have committed to raising or donating $1,000.</em></p>
    <h3>Signature-Collecting Volunteers</h3>
    <p><em>Check back soon for a listing of people who have committed to collecting 1,000 signatures.</em></p>
  </tmpl:var>
</tmpl:template>
