<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Contact the Committee for Sensible Marijuana Policy</tmpl:var>
  <tmpl:var name="content">
    <h2>Contact Us</h2>
    <p>You can reach <acronym title="Committee for Sensible Marijuana Policy">CSMP</acronym> at <a href="mailto:info@sensiblemarijuanapolicy.org">info@SensibleMarijuanaPolicy.org</a>. If your message requires a response, a staff member will respond to you as soon as possible.</p>

    <addr>
      <div>Committee for Sensible Marijuana Policy</div>
      <div>P.O. Box 130151</div>
      <div>Boston, MA 02113</div>
    </addr>
    <addr>
      <div>Phone: (617)901-7765</div>
    </addr>
  </tmpl:var>
</tmpl:template>
