.form input { padding: .1em .25em; }
.form li { margin-bottom: .25em; float: left; width: 100%; }
.form, .form ul { list-style: none; margin: 0; padding: 0; }
.form label { float: left; width: 6em; text-align: right; margin-right: .5em; }
.form input, .form textarea { width: 65%; }
.form textarea { height: 7em; }
.form ul { margin-left: 1.5em; }
.form .check, .form .radio, .form .submit { clear: left; }
.form .radio *, .form .check * { float: left; }
.form .radio input, .form .check input { width: auto; }
.form .radio label, .form .check label { width: 15em; text-align: left; margin-left: .5em; }
.form .radio label { width: 4em; }

.form li:after { display: block; content: ''; clear: both; }

.form .radio li { display: inline; float: left; }
.form .radio li:after { clear: none; display: inline; }
.form .submit input { width: 7em; margin-left: 9em; }

.form .required label, .form .required input { color: #600; }
.form .required input, .form .required textarea { background-color: #FCC; }
