<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Medical Marijuana's History</tmpl:var>
  <tmpl:var name="content">
    <h2>Medical Marijuana's History</h2>
    <p>You can learn about the history of state medical marijuana laws in the United States with the <a href="http://www.mpp.org/atf/cf/%7BFC4E88DF-6ACE-4AA6-851C-0688A929D3C5%7D/2006_sbs_report.pdf">comprehensive report on medical marijuana laws</a> provided by the <a href="http://mpp.org">Marijuana Policy Project</a>.</p>
  </tmpl:var>
</tmpl:template>
