AddDescription "Ethics in Computer Science" csc203
AddDescription "Data Structures" csc240
AddDescription "Advanced Programming" csc340
AddDescription "Unix Systems" csc350
AddDescription "Software Design" csc370
AddDescription "Programming Languages" csc410
AddDescription "Artificial Intelligence" csc424
AddDescription "Languages and Machines" csc445
AddDescription "Computer Graphics" csc646
AddDescription "Spacetime Physics" hon402
AddDescription "Early American History" hist201
AddDescription "Introductory Statistics" math347
AddDescription "Advanced Artificial Intelligence" cs360
AddDescription "Human-Computer Interaction" cs352
AddDescription "Psychological Inference" psy310
AddDescription "Quantitative Methods & Experimental Design" psy304b
AddDescription "Design and Analysis of Algorithms" cs310
AddDescription "Introduction to Robotics" cs390-01
AddDescription "Computational Methods" psy351
AddDescription "KSU HuRT <acronym title='Improvised Explosive Device'>IED</acronym> Search Interface" cs369
AddDescription "Multimedia Systems" cs395

