html, body {
  margin: 0;
  background-color: rgb(1, 4, 57);
  color: rgb(255, 224, 137);
  font-size: 13pt;
}

a {
  text-decoration: none;
  color: rgb(170, 255, 161);
  border-bottom: 1px dashed;
}

a img {
  border: none;
}

a:hover {
  color: rgb(255, 203, 161);
}

h1 {
  font-size: 45pt;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}


#main {
  padding-left: 2em;
  padding-right: 2em;
  border-collapse: collapse;
}

td {
  border-bottom: 2px dashed;
}

.pic {
  text-align: right;
  padding: .25em;
}
 
.pic img {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.pic .background {
  text-align: center;
  border: 2px solid black;
  background-color: white;
  padding: 3px;
  width: 100%;
}

.description {
  text-align: justify;
  border-top: 2px dashed transparent;
  border-left: 2px dashed;
  margin-left: 196px;
  padding-left: 2em;
  text-indent: -1.75em;
  padding-right: 1em;
  padding-bottom: .25em;
}

.title {
  font-weight: bold;
}
