caption, th, td {
	text-align: right;
}
#primary {
	float: right;
	margin: 0 0 0 -29.2434%;
}
#secondary-wrapper {
	float: left;
}
#content-wrapper {
	margin: 0 0 0 30.4%;
}
#content,
#main .widget-area {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.alignright {
	float: right;
}
.alignleft {
	float: left;
}
.aligncenter {
	margin-right: auto;
	margin-left: auto;
}
input#s {
	padding: 0.5em 2em 0.5em 0;
}
#branding hgroup {
	padding: 3em 0.5em 0 0;
}
#site-title a,
#site-title a:hover {
	margin: 0 -0.4em 0 0;
}
#site-description {
	padding: 0 1.9em .8em 0;
}

/* =Menu and Search Area
-------------------------------------------------------------- */

#access {
	float: right;
}
.menu {
	margin-right: 1em;
	margin-left: auto;
}
#access ul {
	padding-right: 0;
	padding-left: 0;
}
#access li {
	float: right;
}
#access ul ul {
	float: right;
	right: 0;
	left: auto;
}
#access ul ul ul {
	right: 100%;
	left: auto;
}
#access ul ul a {
	padding: .5em 1em .5em .5em;
}

/* =Content
-------------------------------------------------------------- */

.entry-date {
	border-left-width: 0;
	border-right-width: 5px;
	border-radius: 0 10px 10px 0;
	right: -5em;
	left: auto;
}
.entry-content ul,
.comment-content ul {
	margin-right: 16px;
	margin-left: auto;
}
.entry-content ol,
.comment-content ol {
	margin-right: 32px;
	margin-left: auto;
}
.entry-content table {
	margin: 0 0 25px -1px;
	text-align: right;
}
.entry-content blockquote,
.entry-content blockquote[class*=\"align\"] {
	margin-right: 15px;
	padding-right: 10px;
	padding-left: 0;
	margin-left: auto;
}
#content nav .nav-previous {
	float: right;
}
#content nav .nav-next {
	float: left;
	text-align: left;
}


/* =Images
-------------------------------------------------------------- */

img.alignright {
	margin-left: 1em;
	margin-right: auto;
}

img.alignleft {
	margin-right: 1em;
	margin-left: auto;
}


/* =Forms
-------------------------------------------------------------- */

input[type=text],
input#s {
	margin: 0.3em 0 0.3em 1em;
}


/* =Comments
-------------------------------------------------------------- */

#comments ol {
	margin-right: 0;
	margin-left: auto;
}
#comments ul {
	margin-right: 1.5em;
	margin-left: auto;
}
#comments .pingback .comment-content,
#comments .comment .comment-content {
	margin-right: 2em;
	margin-left: auto;
}
#comments .comment-author {
	padding-right: 50px;
	padding-left: 0;
}
#comments .comment .comment-meta {
	margin-right: 50px;
	margin-left: auto;
}
#comments .avatar {
	right: 0;
	left: auto;
}
#comments .children .avatar {
	right: 0;
	left: auto;
}
#comments .children .comment-content {
	margin-right: 55px;
	margin-left: auto;
}
#comments .comment-content ul,
#comments .comment-content ol {
	margin: 0 2.5em 1.7em 0;
}
.comment-reply-link {
	left: 0;
	right: auto;
}
#cancel-comment-reply-link {
	text-align: left;
}
#respond input[type=text] {
	margin: 0 5px 15px 0;
}


/* =Widgets
-------------------------------------------------------------- */

.widget-area .widget_search input {
	float: right;
}
.widget-area .widget_search input#s {
	float: right;
}
#wp-calendar tfoot #next {
	text-align: left;
}
.widget-area .sub-menu,
.widget-area .children {
	margin-right:  1.5em;
	margin-left: auto;
}
.widget_authors img {
	float: right;
	padding-left: 10px;
	padding-right: 0;
}


/* =Responsive Structure
-------------------------------------------------------------- */

@media (max-width: 1140px) {
	.entry-date {
	    border-left-width: 5px;
	    border-radius: 10px 0 0 10px;
	    border-right-width: 0;
	    right: -1.3em;
	}
	.entry-title {
		margin-right: 1.4em;
	}
}

@media (max-width: 860px) {
	#content .gallery-columns-3 .gallery-item {
		padding-left: 2%;
	}
}

@media (max-width: 650px) {
	.entry-date {
	    right: -0.6em;
	}
	.entry-title {
		margin-right: 1.6em;
	}
}

/* =IE Styles
-------------------------------------------------------------- */

#ie8 .entry-date {
	right: -5.2em;
	z-index: 9999;
}