/*=Global Elements
-------------------------------------------------------------*/

blockquote {
	background: url('images/quote-rtl.png') no-repeat 100% 0;
}
ul {
	margin: 0 1.5em 18px 0;
}
ol {
	margin: 0 1.5em 18px 0;
}


/* =Structure Framework
--------------------------------------------------------------*/

#container {
	background-image: url('images/container-bg-rtl.jpg');
	float: right;
}
#content {
	float: right;
}
#sidebar {
	float: left;
	padding-left: 20px;
	padding-right: 0;
}


/* =Menu
-------------------------------------------------------------- */

#access {
	float: right;
}
#access li {
	float: right;
}
#access ul ul {
	float: right;
	right: 0;
	left: auto;
}
#access ul ul ul {
	right: 100%;
	left: auto;
}


/* =Header
------------------------------------------------------------*/

#header {
	float: right;
}
#site-title {
	float: right;
}
#site-description {
	float: left;
	text-align: left;
}
a #site-title {
	padding-right: 20px;
	padding-left: 0;
}
a #site-description {
	padding-right: 0;
	padding-left: 20px
}


/* =Posts
-------------------------------------------------------------*/
.post,
.hentry {
	float: right;
}
.post-title {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	margin: -2px -25px 0 0;
	padding-right: 25px;
	padding-left: 0;
	border-left: none;
}
.featured-image-link {
	float: right;
	margin-left: 20px;
	margin-right: auto;
}


/* = Read More Links
-----------------------------------------------------*/

#content a.more-link {
	border-right: 1px solid rgba(0, 0, 0, 0.07);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}


/* =Content
-------------------------------------------------------------- */

#content table {
	border-right: 1px solid #c3d0df;
	margin: 0 0 24px -1px;
	text-align: right;
	border-left: none;
}
#content tr th,
#content thead th {
	border-left: 1px solid #c3d0df;
	border-right: none;
}
#content tr td {
	border-left: 1px solid #c3d0df;
	border-right: none;
}


/* =Images
-------------------------------------------------------------- */

#content .alignright,
#content img.alignright {
	float: right;
	margin-left: 24px;
	margin-right: auto;
}
#content .alignleft,
#content img.alignleft {
	float: left;
	margin-right: 24px;
	margin-left: auto;
}
#content .gallery .gallery-item {
	float: right;
}
.wp-caption {
	margin-right: 0;
	margin-left: auto;
}


/* =Entry
-------------------------------------------------------------- */

.sticky-label {
	float: left;
	margin: -250px 0 0 1px;
}
#post-info {
	float: right;
}


/* =Image.php
-------------------------------------------------------------- */

.media-image #comments {
	margin-left: auto !important;
	margin-right: auto !important;
}


/* =Comments
-------------------------------------------------------------- */

#comments {
	float: right;
}
#comments .comment-body blockquote {
	border-right: 5px solid #F6F8FC;
	margin: 0 35px 0 0;
	padding:0 10px 0 0;
	border-left: none;
}
.comment-meta {
	float: right;
}
.commentlist .comment-avatar {
	float: right;
	margin-left: 10px;
	margin-right: auto;
}
ul.children {
	margin-right: 0;
	margin-left: auto;
}
.commentlist li.depth-2,
.commentlist li.depth-3,
.commentlist li.depth-4,
.commentlist li.depth-5,
.commentlist li.depth-6 {
	margin-right: 35px;
	margin-left: auto;
}


/*=Comment Form
---------------------------------------------------*/

#respond,
#respond .comment-form-info,
#respond .comment-form-comment,
#respond .form-allowed-tags,
#respond .form-submit {
	float: right;
}


/*=Author Info
---------------------------------------------------*/

#entry-author-info {
	float: right;
}
#entry-author-info #author-avatar {
	float: right;
	margin: 0 0 0 25px;
}
#entry-author-info #author-description {
	float: left;
}


/*=Widgets
---------------------------------------------------*/

.widget li {
	background: url('images/pointer-rtl.gif') no-repeat 100% 10px;
	padding: 0 12px 0 0;
}
#searchform .search-input {
	background: #fff url('images/search.png') no-repeat 100% -33px;
	border-right-color: #999;
	padding: 8px 37px 8px 8px;
}
#searchform .search-input:focus {
	background-position: 100% -1px;
}
#wp-calendar caption {
	text-align: right;
}
#wp-calendar tfoot #next {
	text-align: left;
}


/* =Paged Navigation
-------------------------------------------------------------- */

.nav-newer {
	float: left;
	text-align: left;
}
.nav-older {
	float: right;
	text-align: right;
}


/* WP.com Styles
-------------------------------------------------------------- */

#authors li li {
	background: url('images/pointer-rtl.gif') no-repeat 100% 10px;
	padding: 0 12px 0 0;
}