@import url('site.css');
@import url('header.css');

#archive:after { content: ''; display: block; clear: both; }
#archive, #archive ul { list-style: none; margin: 0; padding: 0; }
#archive { margin-top: 1em; }
#archive > li { width: 32%; float: left; margin-left: 1%; margin-top: 1.5em; position: relative; }
.third { clear: left; }

.playbutton { float: right; }

#archive .player { position: absolute; bottom: 3px; }
#archive li li { margin-left: 0em; text-indent: -.5em; margin-right: 0; letter-spacing: -1px; }
#archive h2 { margin: 0 0 .25em; font-weight: normal; font-size: 14px; font-variant: small-caps; font-weight: bold; }
/*
#archive ul { border: 2px solid #333; padding: .5em; height: 4em; }
*/
#archive ul { height: 4.5em; margin-top: -10px; }
object { margin-top: .5em; }

#archive ul a { color: white; padding: 0; }
/*
#hiphop ul { background-color: #1E4069; }
#altmod ul { background-color: #7C2E2B; }
#blues ul { background-color: #5A1A64; }
#indiepop ul { background-color: #385E42; }
#electronica ul { background-color: #493DA4; }
#poetry ul { background-color: #F8FAB5; }
#bigshed ul { background-color: #FFBF75; }
#bigshed ul a, #poetry ul a { color: black; }
*/

#sponsors li { width: 220px; height: 220px; background-color: gray; }
