body { font-size: 17px; margin-bottom: 3em; }
html, body, #navbar { margin-top: 0; }
h1, h2, h3 { text-align: center; }
p, ul { max-width: 700px; line-height: 1.4; margin: 1em auto; }
p { margin: 1em auto; text-indent: .3in; }
a { text-decoration: none; border-bottom: 1px dashed; color: #4922EE; }
a:hover { text-decoration: underline; color: #21125F; }
.header h1, .header h2 { margin: auto .25em; }
.signature p { text-indent: 0em; margin: .1em 0 .1em 60%; }
blockquote p { text-indent: 0; }
blockquote .signature { margin-left: 25%; }
blockquote .signature:before { content: '- '; }
ol { list-style: decimal; }
ol ol { list-style: lower-alpha; }
ol ol ol { list-style: lower-roman; }
li p {  text-indent: 0; }
hr { width: 40%; }

object, img { display: block; margin: auto; }
object { width: 100%; }

#navbar li { float: left; display: block; border-width: 1px; border-style: solid solid solid none; }
#navbar li:first-child { border-left: 1px solid; }
#navbar a { display: block; padding: .5em 1em; border: none; }
#navbar a:hover { background-color: #BBB; }
#navbar:after { display: block; clear: both; content: ''; }
#navbar { list-style: none; margin-bottom: 2em; border: 1px solid white;  }

.a2a_dd { color: rgb(151, 19, 4); }

@media print {
  body {  max-width: 100%; font-size: 12pt; margin-top: 0; }
}
