/**
 * @package Brand New Day
 */
a:link,
a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #d7d8a7;
}
body {
	background-color: #3a6a8c;
	background-image:url('images/night.gif');
}
body,
td,
th {
	color: #fff;
}
h1,h2,h3,h4,h5,h6 {
	color: #d7d8a7;
}
h3.footer-widgettitle,
h3.footer-widgettitle a,
h3.footer-widgettitle a:visited {
	color: #c6c88a;
}
h3.widgettitle,
h3.widgettitle a {
	color: #103147;
}
hr {
	border-bottom-color: #caedf1;
}
small,
.commentmetadata {
	color: #d7d8a7;
}
table,
td,
th {
	border: 1px solid #333;
}
th {
	background-color: #103147;
	color: #fff;
}
.alt {
	background-color: #2d5c7d;
}
.bypostauthor {
	background-color: #2d5c7d;
}
.clouds {
	background-image:url('images/swirls-night.png');
	background-color: #214d6c;
}
.edit-link a.post-edit-link,
a.post-edit-link {
	background-color: #103147;
}
.edit-link a:hover,
a.post-edit-link:hover,
.post-comments a:hover,
.post-categories a:hover {
	background-color: #3f7896;
}
.footer-colophon {
	background-color: #eff0d3;
}
.footer-grass {
	background-image:url('images/grass-night.png');
	z-index: 50;
}
.footer-sidebar #wp-calendar {
	border: 1px solid #666;
}
.footer-sidebar #wp-calendar #today {
	background-color: #d7d8a7;
}
.footer-sidebar #wp-calendar td,
.footer-sidebar #wp-calendar th,
.footer-sidebar #wp-calendar {
	color: #666;
}
.footer-sidebar-wrapper {
	background-color: #eff0d3;
}
.footer-wrapper {
	color: #a4a659;
}
.footer-wrapper a,
.footer-wrapper a:visited,
.footer-wrapper a:hover,
.footer-wrapper a:active {
	color: #a4a659;
}
.left-sidebar .sun {
	left: auto;
	right: 100px;
}
.page_title {
	color: #103147;
}
.page_title a,
.page_title a:visited {
	color: #103147;
}
.page_title a:hover,
.page_title a:active {
	color: #103147;
}
.post-comments span,
.post-comments a {
	background-color: #103147;
}
.post-date {
	background-image:url('images/cloud-night.png');
}
.post-date a,
.post-date a:visited,
.post-date a:hover,
.post-date a:active {
	color: #d7d8a7;
}
.post-categories a {
	background-color: #3f7896;
}
#search {
	background-color: #3a6a8c;
}
#sidebar li .menu li.current-menu-item a,
#sidebar li .menu ul li.current_page_item a {
	background-color: #3f7896;
}
#sidebar .menu li.menu-item a:hover,
#sidebar .menu li.menu-item a:active,
#sidebar .menu li.page_item a:hover,
#sidebar .menu li.page_item a:active {
	background-color: #3f7896;
}
#sidebar .menu li.menu-item a,
#sidebar .menu li.page_item a,
#sidebar .menu li ul.menu li a {
	background-color: #103147;
}
#sidebar .menu ul.children li a {
	background-color: #28506c;
}
#sidebar #wp-calendar {
	border: 1px solid #103147;
}
.stars {
	width: 100%;
	height: 200px;
	position: absolute;
	background-repeat: repeat-x;
	background-image:url('images/stars.png');
	z-index: 1;
	left: 0px;
	top: -190px;
}
.sun {
	width: 500px;
	height: 200px;
	background-image:url('images/planets.png');
	background-repeat: no-repeat;
	position: absolute;
	z-index: 10;
	top: -190px;
	left: 100px;
}
.tagline {
	color: #d7d8a7;
}
.title,
.title a,
.title a:visited {
	color: #103147;
}
#wp-calendar {
	border: 1px solid #fff;
}
#wp-calendar #next a:link,
#wp-calendar #next a:visited {
	color: #103147;
}
#wp-calendar #prev a:link,
#wp-calendar #prev a:visited {
	color: #103147;
}
#wp-calendar td a:link,
#wp-calendar td a:visited {
	background-color: #103147;
	color: #fff;
}
#wp-calendar #today {
	color: #666;
	background-color: #d7d8a7;
}