/**
 * @package Brand New Day
 */
a:link,
a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #666;
}
body {
	background-color: #f0f0f0;
	background-image:url('images/winter.gif');
}
body,
td,
th {
	color: #555;
}
h1,h2,h3,h4,h5,h6 {
	color: #666;
}
h3.footer-widgettitle,
h3.footer-widgettitle a,
h3.footer-widgettitle a:visited {
	color: #30b6d4;
}
h3.widgettitle,
h3.widgettitle a {
	color: #666;
}
hr {
	border-bottom-color: #caedf1;
}
small,
.commentmetadata {
	color: #666;
}
table,
td,
th {
	border: 1px solid #333;
}
th {
	background-color: #666;
	color: #fff;
}
.alt {
	background-color: #e5e5e5;
}
.bypostauthor {
	background-color: #e5e5e5;
}
.clouds {
	background-image:url('images/swirls-winter.png');
	background-color: #cacbca;
}
.edit-link a.post-edit-link,
a.post-edit-link {
	background-color: #666;
}
.edit-link a:hover,
a.post-edit-link:hover,
.post-comments a:hover,
.post-categories a:hover {
	background-color: #30b6d4;
}
.left-sidebar .sun {
	left: auto;
	right: 0px;
}
.footer-colophon {
	background-color: #f8f8f8;
}
.footer-grass {
	background-image:url('images/grass-winter.png');
	z-index: 5;
}
.footer-wrapper {
	color: #999;
}
.footer-wrapper a,
.footer-wrapper a:visited,
.footer-wrapper a:hover,
.footer-wrapper a:active {
	color: #999;
}
.footer-sidebar-wrapper {
	background-color: #f8f8f8;
}
.footer-sidebar #wp-calendar #today {
	background-color: #666;
	color: #fff;
}
.footer-sidebar #wp-calendar td,
.footer-sidebar #wp-calendar th,
.footer-sidebar #wp-calendar {
	color: #666;
}
.left-sidebar .trees {
	left: auto;
	right: 0px;
}
.page_title {
	color: #30b6d4;
}
.page_title a,
.page_title a:visited {
	color: #30b6d4;
}
.page_title a:hover,
.page_title a:active {
	color: #30b6d4;
}
.post-comments span,
.post-comments a {
	background-color: #666;
}
.post-date {
	background-image:url('images/cloud-winter.png');
	color: #666;
}
.post-date a,
.post-date a:visited,
.post-date a:hover,
.post-date a:active {
	color: #666;
}
.post-categories a {
	background-color: #30b6d4;
}
#sidebar li .menu li.current-menu-item a,
#sidebar li .menu ul li.current_page_item a
{
	background-color: #30b6d4;
}
#sidebar .menu li.menu-item a,
#sidebar .menu li.page_item a,
#sidebar .menu li ul.menu li a {
	background-color: #666;
}
#sidebar .menu li.menu-item a:hover,
#sidebar .menu li.menu-item a:active,
#sidebar .menu li.page_item a:hover,
#sidebar .menu li.page_item a:active {
	background-color: #30b6d4;
}
#sidebar .menu ul.children li a {
	background-color: #7adddd;
}
#sidebar #wp-calendar {
	border: 1px solid #666;
}
#search {
	background-color: #30b6d4;
}
.sun {
	width: 571px;
	height: 396px;
	background-image:url('images/wintertree.png');
	background-repeat: no-repeat;
	position: absolute;
	z-index: 10;
	top: -350px;
	left: -10px;
}
.tagline {
	color: #fff;
}
.title,
.title a,
.title a:visited {
	color: #666;
}
.trees {
	width: 535px;
	height: 114px;
	background-image:url('images/backgroundtrees.png');
	background-repeat: no-repeat;
	position: absolute;
	z-index: 3;
	top: -105px;
	left: 0px;
}
#wp-calendar {
	border: 1px solid #666;
}
#wp-calendar td a,
#wp-calendar td a:visited {
	background-color: #30b6d4;
	color: #fff;
}
#wp-calendar #next a {
	color: #666;
}
#wp-calendar #prev a {
	color: #666;
}
#wp-calendar #today {
	color: #fff;
	background-color: #666;
}