/*Double Margin*/
#title { margin: 0 0 0 15px; }
#description { margin: 0 15px; }
ul#follow { margin: 5px 15px 0 0;}
div.category { margin-right: 15px; }
div.c-grav { margin-left: 15px; }
div.c-body { margin-right: 15px; }