/* Additional styles to fix broken Internet Explorer rendering.
 */
#navbar li { display: inline; }
#navbar li a { padding-top: 0; } /* any padding is applied twice to the third and fourth elements only */
#content { margin-top: 1em; }
