/**
 * Author: Will Holcomb <wholcomb@gmail.com>
 * Date: 07 May 2006
 *
 * This file contains some basic appearance aspects for the sunflower height test pages.
 * This information for not concern element positioning and may be removed without
 *  affecting the positions of items (other than widths).
 */

body {
  font-size: 13pt;
  text-align: justify;
  font-family: serif;
  line-height: 1.2;
}

#navbar {
  border-right: 2px solid;
  background: #3D4C5D url('sunflower') no-repeat;
  width: 300px;
}

#navbar img {
  border-bottom: 2px solid;
}

#navbar ul {
  list-style: none;
  margin: 268px 0 0 0;
  padding: .5em 0 0 0;
  border-top: 2px solid;
}

#navbar ul ul {
  margin: 0;
  border: none;
  padding: 0;
}

#navbar li { clear: both; }
#navbar li li { clear: none; }

#navbar a {
  display: block;
  text-decoration: none;
  padding: .25em .75em .25em .75em;
  margin: 0 0 5px .5em;
  color: white;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
}

#navbar ul ul a {
  float: right;
  border: 1px dashed;
  border-top: 1px solid #3D4C5D;
  margin: -6px 0 0 .5em;
}

#navbar a:hover {
  background-color: #8AADD3;
  color: black;
  border-top: 1px solid white;
  margin-left: 0em;
  padding-left: 1.25em;
}

#navbar ul ul a:hover {
  margin-left: .5em;
  padding-left: .75em;
  border-top: 1px dashed white;
}

#navbar .current {
  background-color: #CAD7E6;
  color: #222;
}

#content {
  padding-left: 1.5em;
  width: 500px;
  min-width: auto;
  max-width: 500px;
}
