table { width: 100%; border-collapse: collapse; }
td a { display: block; }
td { padding: .25em .5em; margin-bottom: 1px; }
tr:hover { background-color: rgb(255, 253, 185); }
tr:hover td { border-bottom: 1px solid; margin-bottom: 0; }
