body { max-width: 600px; margin: auto; font-family: Georgia, "Times New Roman"; line-height: 1.1em; background-color: #F7F7F7; font-size: 12.5pt; line-height: 1.2em; }

p {  text-indent: 1em; }
hr {  width: 70%; }

.chaptlist {  list-style: none; }
.chaptlist:after { content: ''; display: block; clear: both; }
.chaptlist li { float: left; margin-left: .5em; }

table.data { border-collapse: collapse; width: 100%; }
table.data, table.data th, table.data td { border: 1px solid; }
table.data th, table.data td { padding: .25em .5em; }
