body {
  background-image: url("../backgrounds/blue_five.jpg");
  background-color: #032E7C;
  color: #EBF3FF;
  text-align: justify;
  font-size: 13pt;
}

p {
  margin-left: 0.25in;
  margin-right: 0.25in;
  font-size: 13pt;
  color: #EBF3FF;
}

a:link, a:active {
  text-decoration: none;
  color: #FEC794;
}

a:visited {
  text-decoration: none;
  color: #D5CCBD;
}

a:hover {
  color: #E28507;
  background-color: #FEFCBA;
}

h1, h2, h3 {
  text-align: center;
}

hr {
  width: 70%;
  text-align: center;
}

/**
 * Workaround for Netscape, becasue the BODY rule is not
 *  catching text in the <th> or <td> and as long as I am
 *  using it I'll add something.
 */
th, td, caption {
  color: #EBF3FF;
  font-size: 13pt;
}  


