body {
/*  background-image: url("../backgrounds/light_clouds.gif");
 */
  background-color: #FDB3C9;
  color: #120460;
  text-align: justify;
  font-size: 13pt;
}

p {
  margin-left: 0.25in;
  margin-right: 0.25in;
}

a:link, a:active {
  text-decoration: none;
  color: #CD1D8F;
}

a:visited {
  text-decoration: none;
  color: rgb(184, 107, 107);
}

a:hover {
  text-shadow: 3px 3px 5px red;
  color: rgb(157, 152, 60);
}

h1, h2, h3 {
  text-align: center;
}

th, td {
  text-align: center;
}
