th, td {
  border: thin solid gray;
}

td.title a {
  display: block;
}

td.title:hover, td.title a:hover {
  background-color: rgb(255, 216, 202);
}

td.title, td.time, td.status {
  text-align: center;
}

td.description {
  text-align: justify;
}
