body {
  background-image: url("../backgrounds/orange_thatch_faded.jpg");
  background-color: #E8D8B4;
  color: #211701;
  text-align: justify;
  font-size: 13pt;
}

p {
  margin-left: 0.25in;
  margin-right: 0.25in;
}

a:link, a:active {
  text-decoration: none;
  color: #6D2828;
}

a:visited {
  text-decoration: none;
  color: #48398C;
}

a:hover {
  color: #A30932;
}

h1 {
  font-size: 26pt;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-size: 16pt;
}

hr {
  text-align: center;
}

h1, H2, H3 {
  text-align: center;
}

td {
  text-align: justify;
}

th {
  text-align: left;
  vertical-align: top;
}

.sub {
  position: relative;
  left: 10;
}

/**
 * Workaround for Netscape, becasue the BODY rule is not
 *  catching text in the <th> or <td> and as long as I am
 *  using it I'll add something.
 */
th, td, caption {
  color: #211701;
  font-size: 13pt;
}  


