
/*
Theme: Bueno.
RTL: yoav@automattic.com
*/

/*reset.css*/

.fl{float: right;}
.fr{float: left;}
.ar{text-align: left;}

body {
	direction:rtl;
	unicode-bidi:embed;
	font-family:arial, tahoma, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family:arial, tahoma, sans-serif;
}
h1,h2,h3 {
	font-family:arial, tahoma, sans-serif;
}
/*-------------------------------------------------------------------------------------------*/
/* 2. SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/
/* 2.1 Containers & Columns */
.col-left {
	float:right;
}
.col-right {
	float:left;
}
/* 2.2 Navigation */
.nav li,#header .menu li {
	float:right;
	width: auto;
}
/* 2.2.1 Drop-down menus */
.nav li ul, #header .menu li ul  {  left: auto; display:none; }
.nav li ul li a, #header .menu li ul li a  { padding: 0 10px 0 ; }
.nav li ul ul, #header .menu li ul ul  { margin: -26px  158px 0 0!important; }
.nav li:hover ul ul, .nav li:hover ul ul ul, .nav li:hover ul ul ul ul, .nav li.sfhover ul ul, .nav li.sfhover ul ul ul, .nav li.sfhover ul ul ul ul,
#header .menu li:hover ul ul, #header .menu li:hover ul ul ul, #header .menu li:hover ul ul ul ul, #header .menu li.sfhover ul ul, #header .menu li.sfhover ul ul ul, #header .menu li.sfhover ul ul ul ul {left: auto; display:none; }
.nav li:hover ul, .nav li li:hover ul, .nav li li li:hover ul, .nav li li li li:hover ul, .nav li.sfhover ul, .nav li li.sfhover ul, .nav li li li.sfhover ul, .nav li li li li.sfhover ul,
#header .menu li:hover ul, #header .menu li li:hover ul, #header .menu li li li:hover ul, #header .menu li li li li:hover ul, #header .menu li.sfhover ul, #header .menu li li.sfhover ul, #header .menu li li li.sfhover ul, #header .menu li li li li.sfhover ul { left: auto; display:block;}
.nav li:hover,.nav li.hover, #header .menu li:hover,#header .menu li.hover  { position:static; }
/* CATEGORY NAVIGATION */
#catnav a:link,#catnav a:visited {
	font-family: arial, tahoma, sans-serif;
}
#catnav li ul a:link,#catnav li ul a:visited {
	padding:0 10px 0 0;
}
/* PAGES NAVIGATION */
#pagenav a {
	font-family: arial, tahoma, sans-serif;
}
#pagenav li ul a:link,#pagenav li ul a:visited {
	padding:0 10px 0 0;
	font-family:arial, tahoma, sans-serif !important;
}
#pagenav li.rss a {
	padding-left: 25px;
	padding-right: 0;
}
/* 2.3 Header */
.site-title {
	font-family: arial, tahoma, sans-serif;
}
#description {
	padding:0 0 0 20px;
	font-family: arial, tahoma, sans-serif;
}
/* 2.6 Extended Footer */
.block {
	float:right;
	padding:0 0 0 6px;
}
.one, .two {
	margin:0 0 0 9px;
	border-right: none;
	border-left: 1px solid;
}
/* 2.7 Footer */
#footer {
	font-family: arial, tahoma, sans-serif;
}
img#wpstats {
	left:auto;
	display:none;
}
/*-------------------------------------------------------------------------------------------*/
/* 3. POSTS */
/*-------------------------------------------------------------------------------------------*/
#breadcrumb,.archive_header {
	font-family: arial, tahoma, sans-serif;
}
.post .date {
	right:-40px;
	left:auto;
}
.post-meta li {
	float:right;
	padding:10px 10px 7px 0;
}
.post-meta li .head {
	font-family: arial, tahoma, sans-serif;
}
.post-meta li .body,.post-meta li .body a:link,.post-meta li .body a:visited {
	font-style:normal;
}
/* 3.1 Typographic Elements */
.entry blockquote {
	font-style:normal;
}
.entry ul {
	padding:0 30px 0 0;
}
.entry ol {
	padding:0 30px 0 0;
}
.entry ol li {
	list-style-type:decimal;
}
.entry ol li ol li {
	list-style-type:decimal;
}
.entry table th,.entry table td {
	text-align:right;
}
.entry table th {
	font-family: arial, tahoma, sans-serif;
}
/* 3.3 Pagination / WP-Pagenavi */
.nav-previous {
	float:right;
}
.nav-next {
	float:left;
	text-align:left;
}
.navigation a:link,.navigation a:visited {
	font-style:normal;
}
.widget ul li a:link, .widget ul li a:visited {
	padding:0 25px 0 0;
}
/*-------------------------------------------------------------------------------------------*/
/* 4. WIDGETS */
/*-------------------------------------------------------------------------------------------*/
/* 4.1 Generic Widgets */
.widget ul ul {
	padding:0 15px 0 0;
}
.widget_recent_comments li,#twitter li {
	padding:6px 10px 6px 0;
}
/* 4.2 Specific Widgets */
/* FEATURED POSTS */
.widget-bueno-featured li {
	float:right;
}
.widget-bueno-featured span.thumb {
	float:right;
}
.widget-bueno-featured li.has-thumbnail .right {
	float:left;
}
/* WIDGET FORMS */
input#s,input.field {
	float:right;
	padding:5px 5px 5px 0;
}
input.submit {
	float:left;
}
/* ADS */
#sidebar .ads125 {
	padding:0 12px 12px 0;
}
.ads125 img {
	margin: 14px 0 0 16px;
}
/* 4.4 WordPress.com Widgets */
.widget_authors .avatar {
	margin:10px 0 0 6px;
}
/*-------------------------------------------------------------------------------------------*/
/* 5. COMMENTS */
/*-------------------------------------------------------------------------------------------*/
/* 5.1 Comments */
#comments .comment-head .avatar {
	float:right;
}
#comments .comment-head .avatar img {
	margin:0 0 0 10px;
}
#comments ul.children {
	margin:10px 25px 0 0;
}
#comments .cancel-comment-reply a,#comments .comment-reply-link {
	font-family: arial, tahoma, sans-serif;
}
/* 5.2 Pingbacks / Trackbacks */
.pinglist li {
	margin:0 20px 0 0;
}
/* 5.3 Comments Form */
#commentform label {
	font-family: arial, tahoma, sans-serif;
}
#commentform input.txt, #commentform input[type=text] { float: right; }
#commentform label { clear: left; } 

/* More CSS from color schemes files */

body  { background-position: right top; }
#pagenav li.rss a  {background-position: left 4px; }
.post .date  { background-position: right top; }

.widget ul li a:link, .widget ul li a:visited { background-position:290px center;  }
.widget ul li a:hover  {  background-position:290px center;  }
