/* =Dark Ribbon
-------------------------------------------------------------- */
.main-title {
	background: #434343 url(dark/main-title.png) no-repeat;
	border-bottom: 1px solid #363636;
}
.main-title .left-fold {
	background: url(dark/main-title-back.png) no-repeat;
}
.main-title .edge {
	background: url(dark/main-title-edge.gif) no-repeat;
}

.main-title h3 {
	text-shadow: 1px 1px #222;
}
.post-date {
	color: #111;
	text-shadow: 1px 1px #555;
}