/*  
Theme: Contempt
RTL by Yoav Farhi, yoav@automattic.com
*/

/* Begin Typography & Colors */
body {
	unicode-bidi:embed;
	direction:rtl;
	}

#topbar a, #topbar {
	text-align: left;
	padding-right: 0;
	padding-left: 5px;
}	

#pagebar li {
	float: right;
}

#pagebar a {
	float:left;
	border-right: 0;
	border-left: 1px #CECECE solid;
}

#page {
	text-align: right;
	font-size:1.1em;
	}

#content {
	float: right;
	padding: 0 45px 20px 0;
}
	
.commentlist .avatar {
	float: left;
}
/* End Typography & Colors */

#pagebar .children .children,
#pagebar .sub-menu .sub-menu {
	margin: 0;
}

#pagebar ul {
	right: -1px;
	left:auto;
	float: right;
}

#pagebar .children li, #pagebar .sub-menu li {
	border-right: 1px #e1e1e1 solid;
	border-left: none;
}
#pagebar ul ul {
	right: 100%;
	left: auto;
}

/* Begin Lists */

html>body .entry ul {
	margin-right: 0px;
	padding: 0 30px 0 0;
	padding-left: 0;
	padding-right: 10px;
	} 

html>body .entry li {
	margin: 7px 10px 8px 0;
	}

*:first-child+html>body .entry ul {   
	margin-right: 0;   
 	padding: 0 30px 0 0 ;   
	list-style: disc;   
	padding-right: 10px;   
}   

*:first-child+html>body .entry ul li {   
	margin: 7px  10px 8px 0;
}  

.entry ol {
	padding: 0 35px 0 0;
	}

#sidebar ul ul ul, #sidebar ul ol {
	margin: 0 10px 0 0;
	}

/* End Entry Lists */



/* Begin Form Elements */

#commentform input {
	margin: 5px 0 1px 5px;
	}


#commentform #submit {
	float: left;
	}
/* End Form Elements */



/* Begin Comments*/
.commentlist p {
	margin: 10px 10px 5px;
	}

#respond label {
	clear: left;
}
#respond input[type="text"] {
	float: right;
	margin-right: auto;
	margin-left: 6px;
}

/* End Comments */

.alignright {
	float: left;
	}
	
.alignleft {
	float: right;
	}

/* Begin Sidebar */
#sidebar
{
	margin: -60px 530px 0 0;
	}
/* End Sidebar */



/* Begin Calendar */

#wp-calendar #next a {
	padding-right: 0;
	padding-left: 10px;
	text-align: left;
	}

#wp-calendar #prev a {
	padding-right: 10px;
	padding-left: 0;
	text-align: right;	
}
/* End Calendar */



/* Begin Various Tags & Classes */

blockquote {
	margin: 15px 10px 0 30px;
	padding-left: 0;
	padding-right: 20px;
	border-left: 0;
	border-right: 5px solid #ddd;
	}

/* End Various Tags & Classes*/
