/**
 * Blueberry scheme for Fruit Shake
 */


/* =Global
----------------------------------------------- */

body, input, textarea {
	color: #333;
}
body {
	background: #455a9d url("../images/so-smooth-blueberry.png");
}
#page {
	background: #2b2b33;
}
#branding, #main, #colophon {
	background: #fff;
}

/* Headings */
hr {
	background-color: #c8d3e0;
}

/* Text elements */
pre {
	background: #eff1f6;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
}
ins {
	background: #fff9c0;
}
input[type=text],
textarea {
	border-color: #ddd;
}

/* Links */
a,
a:visited {
	color: #485faa;
}
a:focus,
a:active,
a:hover {
	color: #364d97;
}


/* =Header
----------------------------------------------- */

#branding {
	border-bottom: 4px solid #fff;
}
#site-title a {
	color: #666;
	border-right: 1px solid #c8d3e0;
}
#site-title a:focus,
#site-title a:hover,
#site-title a:active {
	color: #333;
}
#site-description {
	background: #e1ecf9;
	border-color: #c8d3e0;
	color: #869cb6;
}
#site-image img {
	border-color: #c8d3e0;
}


/* =Menu
----------------------------------------------- */

#access {
	background: #fff;
	border-top: 3px solid #fff;
}
#access div {
	border-top: 1px solid #c8d3e0;
}
#access ul {
	border-left: 1px solid #c8d3e0;
}
#access a {
	border-right: 1px solid #c8d3e0;
	color: #777;
}
#access ul ul {
	-moz-box-shadow: 0 2px 2px rgba( 191, 191, 182, 0.5 );
	-webkit-box-shadow: 0 2px 2px rgba( 191, 191, 182, 0.5 );
	box-shadow: 0 2px 2px rgba( 191, 191, 182, 0.5 );
}
#access ul ul a {
	background: #C8D3E0;
}
#access li:hover > a,
#access ul ul :hover > a {
	background: #C8D3E0;
}
#access ul ul :hover > a {
	background: #bbc6d3;
	color: #555;
}


/* =Content
----------------------------------------------- */

#main {
	background: #E1ECF9;
	border-color: #C8D3E0;
}
.page-title {
	border-top: 1px solid #C8D3E0;
}
.page-title span {
	color: #666;
}
.page-title a {
	color: #666;
}
.page-title a:focus,
.page-title a:hover,
.page-title a:active {
	color: #333;
}
#author-info {
	border-top: 1px solid #C8D3E0;
}
.hentry,
.page-header {
	background: #f7f6ff;
	border-top: 4px solid #f7f6ff;
	border-bottom: 1px solid #C8D3E0;
}
.entry-header {
	border-top: 1px solid #C8D3E0;
}
.entry-title a {
	color: #333;
}
.entry-title a:focus,
.entry-title a:hover,
.entry-title a:active {
	color: #000;
}
.entry-header .entry-meta {
	border-color: #C8D3E0;
	color: #666;
}
.entry-header .entry-meta a {
	color: #666;
}
.entry-header .entry-meta a:focus,
.entry-header .entry-meta a:hover,
.entry-header .entry-meta a:active {
	color: #333;
}
#main .entry-meta .entry-date-link {
	color: #869cb6;
}
#main .entry-meta .entry-date-link:hover,
#main .entry-meta .entry-date-link:focus,
#main .entry-meta .entry-date-link:active {
	color: #6f86a2;
}
.entry-content th {
	border-bottom: 1px solid #C8D3E0;
	color: #666;
}
.page-link a {
	background: #C8D3E0;
	color: #333;
}
.page-link a:focus,
.page-link a:hover,
.page-link a:active {
	background: #bbc6d3;
	color: #fff;
}
.comments-link.fruity a {
	background: #C8D3E0 url("../images/comment-arrow-blueberry.png") no-repeat 0 bottom;
	color: #333;
}
.rtl #main .comments-link.fruity a {
	background-image: url("../images/comment-arrow-blueberry-rtl.png");
}
.comments-link.fruity a:focus,
.comments-link.fruity a:hover,
.comments-link.fruity a:active {
	background-color: #bbc6d3;
	color: #fff;
}

/* Images */
#main img,
.wp-caption,
#main #gallery-1 img {
	background: #fff;
	border-color: #C8D3E0;
	-moz-box-shadow: 0 2px 2px rgba( 191, 191, 182, 0.5 );
	-webkit-box-shadow: 0 2px 2px rgba( 191, 191, 182, 0.5 );
	box-shadow: 0 2px 2px rgba( 191, 191, 182, 0.5 );
}
.wp-caption {
	color: #666;
}
dd.gallery-caption {
	color: #666;
}


/* =Aside Posts
----------------------------------------------- */

.home .format-aside .entry-meta,
.home .format-aside .entry-meta {
	border-top: 1px solid #C8D3E0;
	color: #666;
}
.home .format-aside .entry-meta a,
.home .format-aside .entry-meta a {
	color: #666;
}
.home .format-aside .entry-meta a:focus,
.home .format-aside .entry-meta a:hover,
.home .format-aside .entry-meta a:active,
.archive .format-aside .entry-meta a:focus,
.archive .format-aside .entry-meta a:hover,
.archive .format-aside .entry-meta a:active {
	color: #333;
}


/* =Link Posts
----------------------------------------------- */

.indexed .format-link {
	border-top-color: #C8D3E0;
}
.indexed .format-link .entry-header {
	border-top-color: #AFBAC7;
}
.indexed .format-link .entry-header {
	border-bottom: 1px solid #AFBAC7;
}
.indexed .format-link a{
	text-decoration: none !important;
}
.indexed .format-link a .entry-header {
	background: #C8D3E0;
	color: #333;
}
.indexed .format-link a .entry-header:hover,
.indexed .format-link a .entry-header:focus,
.indexed .format-link a .entry-header:active {
	background: #BBC6D3;
	color: #000;
}
.indexed .format-link .entry-content {
	color: #666;
}
.indexed .format-link .entry-content a {
	text-decoration: underline !important;
}
.format-link .entry-meta {
	border-top: 1px #e6dce6 solid;
}


/* =Image Posts
----------------------------------------------- */

.indexed .format-image {
	background: #2B2B33;
	color: #727290;
	border-bottom-color: #2e2e2e;
}
.indexed #main .format-image .entry-image {
	background: transparent;
	border: none;
	border-bottom: 1px solid #242631;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.indexed .format-image footer.entry-meta {
	border-top: 1px solid #242631;
	color: #636381;
}
.indexed .format-image .entry-meta a {
	color: #636381;
}
.indexed .format-image .entry-meta a:focus,
.indexed .format-image .entry-meta a:hover,
.indexed .format-image .entry-meta a:active {
	color: #fff;
}
.indexed #main .format-image img,
.indexed .format-image .wp-caption,
.indexed #main .format-image #gallery-1 img {
	background: #2e2e2e;
	border: none;
	-moz-box-shadow: 0 2px 2px rgba( 0, 0, 0, 0.25 );
	-webkit-box-shadow: 0 2px 2px rgba( 0, 0, 0, 0.25 );
	box-shadow: 0 2px 2px rgba( 0, 0, 0, 0.25 );
}
.format-image .more-link {
	color: #9090ab;
}
.format-image .more-link:hover,
.format-image .more-link:focus,
.format-image .more-link:active {
	color: #fff;
}


/* =Quote Posts
----------------------------------------------- */

.format-quote blockquote {
	color: #666;
}


/* =Status Posts
----------------------------------------------- */

.home .format-status .entry-meta,
.home .format-status .entry-meta {
	border-top: 1px solid #C8D3E0;
	color: #666;
}
.home .format-status .entry-meta a,
.home .format-status .entry-meta a {
	color: #666;
}
.home .format-status .entry-meta a:focus,
.home .format-status .entry-meta a:hover,
.home .format-status .entry-meta a:active,
.archive .format-status .entry-meta a:focus,
.archive .format-status .entry-meta a:hover,
.archive .format-status .entry-meta a:active {
	color: #333;
}


/* =Navigation
-------------------------------------------------------------- */

#content-nav {
	background: #fff;
	border-top: 1px solid #C8D3E0;
}
#content-nav a span {
	opacity: 0.8;
}


/* =Widgets
----------------------------------------------- */

.widget {
	background: #4470A9;
	border-bottom: 1px solid #2B5790;
	color: #f6f8ff;
}
.widget-title {
	border-top: 1px solid #2B5790;
	color: #f6f8ff;
}
.widget a {
	color: #c4cce9;
}
.widget a:hover {
	color: #ced5ee;
}
/* Calendar Widget */
#wp-calendar tbody td {
	background: #2E5990;
	border-color: #4470A9;
}
/* Flickr Widget (WP.com) */
.widget_flickr #flickr_badge_uber_wrapper a:hover,
.widget_flickr #flickr_badge_uber_wrapper a:link,
.widget_flickr #flickr_badge_uber_wrapper a:active,
.widget_flickr #flickr_badge_uber_wrapper a:visited {
	color: #c4cce9;
}
#supplementary {
	background: #4470A9;
}


/* =Comments
----------------------------------------------- */

#comments {
	background: #E1ECF9;
}
#comments-title {
	color: #869cb6;
}
.nocomments {
	color: #869cb6;
}
.commentlist {
	border-top: 4px solid #f7f6ff;
	border-bottom: 1px solid #C8D3E0;
}
.commentlist .pingback p {
	color: #666;
}
.commentlist .pingback a {
	color: #666;
}
.commentlist .pingback a:focus,
.commentlist .pingback a:hover,
.commentlist .pingback a:active {
	color: #333;
}
.commentlist li {
	background: #f7f6ff;
	border-color: #C8D3E0;
}
.comment-meta a {
	color: #666;
}
.comment-meta a:focus,
.comment-meta a:hover,
.comment-meta a:active {
	color: #364d97;
}
.comment-meta .comment-edit-link {
	color: #485faa;
}
.comment-edit-link:focus,
.comment-edit-link:active,
.comment-edit-link:hover {
	color: #364d97;
}
.commentlist > .bypostauthor,
.commentlist .children > .bypostauthor {
	background: #fffff9;
}

/* Comment Form */
#respond {
	background: #f7f6ff;
	border-top: 4px solid #f7f6ff;
	border-bottom: 1px solid #C8D3E0;
}
#reply-title {
	border-color: #C8D3E0;
}
.commentlist #respond {
	border-color: #C8D3E0;
}


/* =Footer
----------------------------------------------- */

#colophon {
	background: #E1ECF9;
}
#site-info {
	color: #869cb6;
}
#site-info a {
	color: #869cb6;
}
#site-info a:hover,
#site-info a:focus,
#site-info a:active {
	color: #6f86a2;
}


/* =404
----------------------------------------------- */

.error404 .post {
	background: #f7f6ff;
	border-top: 4px solid #f7f6ff;
	border-bottom: 1px solid #C8D3E0;
}

/* =WP.com
----------------------------------------------- */

.highlander-dark #respond .comment-subscription-form label {
	color: #869CB6;
}