/**
 * Dragon Fruit scheme for Fruit Shake
 */


/* =Global
----------------------------------------------- */

body, input, textarea {
	color: #333;
}
body {
	background: #bed3b6 url("../images/so-smooth-dragon-fruit.png");
}
#page {
	background: #282B27;
}
#branding, #main, #colophon {
	background: #fff;
}

/* Headings */
hr {
	background-color: #ccc;
}

/* Text elements */
pre {
	background: #f4f4f4;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
}
ins {
	background: #fff9c0;
}
input[type=text],
textarea {
	border-color: #ddd;
}

/* Links */
a,
a:visited {
	color: #1a8b95;
}
a:focus,
a:active,
a:hover {
	color: #147a83;
}


/* =Header
----------------------------------------------- */

#branding {
	border-bottom: 4px solid #fff;
}
#site-title a {
	color: #666;
	border-right: 1px solid #E0CBD0;
}
#site-title a:focus,
#site-title a:hover,
#site-title a:active {
	color: #333;
}
#site-description {
	background: #F9E4E9;
	border-color: #E0CBD0;
	color: #716E7E;
}
#site-image img {
	border-color: #E0CBD0;
}


/* =Menu
----------------------------------------------- */

#access {
	background: #fff;
	border-top: 3px solid #fff;
}
#access div {
	border-top: 1px solid #E0CBD0;
}
#access ul {
	border-left: 1px solid #E0CBD0;
}
#access a {
	border-right: 1px solid #E0CBD0;
	color: #777;
}
#access ul ul {
	-moz-box-shadow: 0 2px 2px rgba( 191, 191, 182, 0.5 );
	-webkit-box-shadow: 0 2px 2px rgba( 191, 191, 182, 0.5 );
	box-shadow: 0 2px 2px rgba( 191, 191, 182, 0.5 );
}
#access ul ul a {
	background: #E0CBD0;
}
#access li:hover > a,
#access ul ul :hover > a {
	background: #E0CBD0;
}
#access ul ul :hover > a {
	background: #d7d3c8;
	color: #555;
}


/* =Content
----------------------------------------------- */

#main {
	background: #F9E4E9;
	border-color: #E0CBD0;
}
.page-title {
	border-top: 1px solid #E0CBD0;
}
.page-title span {
	color: #666;
}
.page-title a {
	color: #666;
}
.page-title a:focus,
.page-title a:hover,
.page-title a:active {
	color: #333;
}
#author-info {
	border-top: 1px solid #E0CBD0;
}
.hentry,
.page-header {
	background: #FEFFF8;
	border-top: 4px solid #FEFFF8;
	border-bottom: 1px solid #E0CBD0;
}
.entry-header {
	border-top: 1px solid #E0CBD0;
}
.entry-title a {
	color: #333;
}
.entry-title a:focus,
.entry-title a:hover,
.entry-title a:active {
	color: #000;
}
.entry-header .entry-meta {
	border-color: #E0CBD0;
	color: #666;
}
.entry-header .entry-meta a {
	color: #666;
}
.entry-header .entry-meta a:focus,
.entry-header .entry-meta a:hover,
.entry-header .entry-meta a:active {
	color: #333;
}
#main .entry-meta .entry-date-link {
	color: #c5a3ab;
}
#main .entry-meta .entry-date-link:hover,
#main .entry-meta .entry-date-link:focus,
#main .entry-meta .entry-date-link:active {
	color: #b68f98;
}
.entry-content th {
	border-bottom: 1px solid #E0CBD0;
	color: #666;
}
.page-link a {
	background: #E0CBD0;
	color: #333;
}
.page-link a:focus,
.page-link a:hover,
.page-link a:active {
	background: #a6a69d;
	color: #fff;
}
.comments-link.fruity a {
	background: #E0CBD0 url("../images/comment-arrow-dragon-fruit.png") no-repeat 0 bottom;
	color: #333;
}
.rtl #main .comments-link.fruity a {
	background-image: url("../images/comment-arrow-dragon-fruit-rtl.png");
}
.comments-link.fruity a:focus,
.comments-link.fruity a:hover,
.comments-link.fruity a:active {
	background-color: #C6B1B6;
	color: #fff;
}

/* Images */
#main img,
.wp-caption,
#main #gallery-1 img {
	background: #fff;
	border-color: #E0CBD0;
	-moz-box-shadow: 0 2px 2px rgba( 191, 191, 182, 0.5 );
	-webkit-box-shadow: 0 2px 2px rgba( 191, 191, 182, 0.5 );
	box-shadow: 0 2px 2px rgba( 191, 191, 182, 0.5 );
}
.wp-caption {
	color: #666;
}
dd.gallery-caption {
	color: #666;
}


/* =Aside Posts
----------------------------------------------- */

.home .format-aside .entry-meta,
.home .format-aside .entry-meta {
	border-top: 1px solid #E0CBD0;
	color: #666;
}
.home .format-aside .entry-meta a,
.home .format-aside .entry-meta a {
	color: #666;
}
.home .format-aside .entry-meta a:focus,
.home .format-aside .entry-meta a:hover,
.home .format-aside .entry-meta a:active,
.archive .format-aside .entry-meta a:focus,
.archive .format-aside .entry-meta a:hover,
.archive .format-aside .entry-meta a:active {
	color: #333;
}


/* =Link Posts
----------------------------------------------- */

.indexed .format-link {
	border-top-color: #ECD7DC;
}
.indexed .format-link .entry-header {
	border-top-color: #D3BEC3;
}
.indexed .format-link .entry-header {
	border-bottom: 1px solid #D3BEC3;
}
.indexed .format-link a {
	text-decoration: none !important;
}
.indexed .format-link a .entry-header {
	background: #ECD7DC;
	color: #333;
}
.indexed .format-link a .entry-header:hover,
.indexed .format-link a .entry-header:focus,
.indexed .format-link a .entry-header:active {
	background: #F1DCE1;
	color: #000;
}
.indexed .format-link .entry-content {
	color: #666;
}
.indexed .format-link .entry-content a {
	text-decoration: underline !important;
}
.format-link .entry-meta {
	border-top: 1px #e6dce6 solid;
}


/* =Image Posts
----------------------------------------------- */

.indexed .format-image {
	background: #282B27;
	color: #818480;
	border-bottom-color: #2e2e2e;
}
.indexed #main .format-image .entry-image {
	background: transparent;
	border: none;
	border-bottom: 1px solid #242631;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0;
	padding: 0 0 4px;
	max-width: 100%;
}
.indexed .format-image .entry-header {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.indexed .entry-summary {
	padding: 1em 30px 0;
}
.indexed .format-image footer.entry-meta {
	border-top: 1px solid #242631;
	color: #646963;
	font-size: 11px;
	padding: 6px 30px;
}
.indexed .format-image .entry-meta a {
	color: #646963;
}
.indexed .format-image .entry-meta a:focus,
.indexed .format-image .entry-meta a:hover,
.indexed .format-image .entry-meta a:active {
	color: #fff;
}
.indexed #main .format-image img,
.indexed .format-image .wp-caption,
.indexed #main .format-image #gallery-1 img {
	background: #2e2e2e;
	border: none;
	-moz-box-shadow: 0 2px 2px rgba( 0, 0, 0, 0.25 );
	-webkit-box-shadow: 0 2px 2px rgba( 0, 0, 0, 0.25 );
	box-shadow: 0 2px 2px rgba( 0, 0, 0, 0.25 );
	padding: 5px;
}
.format-image .more-link {
	color: #91948f;
}
.format-image .more-link:hover,
.format-image .more-link:focus,
.format-image .more-link:active {
	color: #fff;
}


/* =Quote Posts
----------------------------------------------- */

.format-quote blockquote {
	color: #666;
}


/* =Status Posts
----------------------------------------------- */

.home .format-status .entry-meta,
.home .format-status .entry-meta {
	border-top: 1px solid #E0CBD0;
	color: #666;
}
.home .format-status .entry-meta a,
.home .format-status .entry-meta a {
	color: #666;
}
.home .format-status .entry-meta a:focus,
.home .format-status .entry-meta a:hover,
.home .format-status .entry-meta a:active,
.archive .format-status .entry-meta a:focus,
.archive .format-status .entry-meta a:hover,
.archive .format-status .entry-meta a:active {
	color: #333;
}


/* =Navigation
-------------------------------------------------------------- */

#content-nav {
	background: #fff;
	border-top: 1px solid #E0CBD0;
}
#content-nav a span {
	opacity: 0.8;
}


/* =Widgets
----------------------------------------------- */

.widget {
	background: #F23D60;
	border-bottom: 1px solid #D92447;
	color: #fee3e8;
}
.widget-title {
	border-top: 1px solid #D92447;
	color: #fee3e8;
}
.widget a {
	color: #f7c9d1;
}
.widget a:hover {
	color: #fbd4db;
}
/* Calendar Widget */
#wp-calendar tbody td {
	background: #db3051;
	border-color: #F23D60;
}
/* Flickr Widget (WP.com) */
.widget_flickr #flickr_badge_uber_wrapper a:hover,
.widget_flickr #flickr_badge_uber_wrapper a:link,
.widget_flickr #flickr_badge_uber_wrapper a:active,
.widget_flickr #flickr_badge_uber_wrapper a:visited {
	color: #f7c9d1;
}
#supplementary {
	background: #f23d60;
}


/* =Comments
----------------------------------------------- */

#comments {
	background: #F9E4E9;
}
#comments-title {
	color: #716E7E;
}
.nocomments {
	color: #716E7E;
}
.commentlist {
	border-top: 4px solid #FEFFF8;
	border-bottom: 1px solid #E0CBD0;
}
.commentlist .pingback p {
	color: #666;
}
.commentlist .pingback a {
	color: #666;
}
.commentlist .pingback a:focus,
.commentlist .pingback a:hover,
.commentlist .pingback a:active {
	color: #333;
}
.commentlist li {
	background: #FEFFF8;
	border-color: #E0CBD0;
}
.comment-meta a {
	color: #666;
}
.comment-meta a:focus,
.comment-meta a:hover,
.comment-meta a:active {
	color: #501A95;
}
.comment-meta .comment-edit-link {
	color: #7348AA;
}
.comment-edit-link:focus,
.comment-edit-link:active,
.comment-edit-link:hover {
	color: #501A95;
}
.commentlist > .bypostauthor,
.commentlist .children > .bypostauthor {
	background: #fffff9;
}

/* Comment Form */
#respond {
	background: #FEFFF8;
	border-top: 4px solid #FEFFF8;
	border-bottom: 1px solid #E0CBD0;
}
#reply-title {
	border-color: #E0CBD0;
}
.commentlist #respond {
	border-color: #E0CBD0;
}


/* =Footer
----------------------------------------------- */

#colophon {
	background: #F9E4E9;
}
#site-info {
	color: #c5a3ab;
}
#site-info a {
	color: #c5a3ab;
}
#site-info a:hover,
#site-info a:focus,
#site-info a:active {
	color: #b68f98;
}


/* =404
----------------------------------------------- */

.error404 .post {
	background: #FEFFF8;
	border-top: 4px solid #FEFFF8;
	border-bottom: 1px solid #E0CBD0;
}

