.pic { padding-right: 0; }

.hover {
  line-height: 0;
  padding: .5em;
  margin: .5em;
  padding-right: 0;
  margin-right: -2px;
  -moz-border-radius-topleft: .5em;
  -moz-border-radius-bottomleft: .5em;
  border: 2px solid transparent;
  border-right: none;
}

tr:hover .hover {
  border-style: 2px solid none;
  border-right: none;
}

tr:hover .description {
  border-top: dashed;
  border-left: solid;
}

tr:hover .hover, tr:hover .description {
  border-color: rgb(166, 135, 74);
}

tr:hover .hover, tr:hover .description {
  background-color: rgb(18, 75, 9);
}
