# svg in the DirectoryIndex causes a forward to the directory
# ToDo: Figure out how to have the index only if it is a file
DirectoryIndex index.php index.xhtml index.html index.svg php xhtml html utf-8 txt
