/*
"Reverse" light color scheme.
*/

body {
	color: #333;
	background: #fff url(images/bg-light.jpg) no-repeat center top;
	background-attachment: fixed;
}
.container {
	background: rgba(255, 255, 255, 0.6);
	background-image: none;
}
.lteIE6 .container {
	background: #fff;
}
h1,h2,h3,h4,h5,h6 {
	color: #333;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color: #333;
}
h3.sub,h2.sub {
	color: #888;
	border-color: #e6e6e6;
}
a {
	color: #428ce7;
}
a:hover, a:focus {
	color: #000;
}
p {
	color: #555;
}
h6.top {
	color: #555;
}
#top,
#top a {
	color: #666
}

/* Masthead */
#masthead h4 a {
	color: #000;
}
#masthead span.description {
	color: #555;
}
.double-border {
	background: url(images/double-border-light.png) repeat-x bottom;
}

/* Navigation */
#top div.main-nav {
	background: #fff;
}
#top div.main-nav a {
	border-right: 1px dotted #999;
	color: #333;
}
#top div.main-nav ul ul a {
	background: #fff;
	color: #333;
}
#top div.main-nav ul ul a:hover {
	color: #555;
}

/* Welcome Box  */
#welcome-content {
	color: #333;
}
div.colborder {
	border-color: #e6e6e6;
}

/* Posts */
.postmetadata {
	background: #fff;
	color: #333;
}
.postmetadata a:hover {
	color: #555;
}
.underlined {
	border-bottom: 1px solid #ccc;
}
.welcomebox {
	color: #333;
	text-shadow: none;
}

.nav-image-left, .nav-image-up, .nav-image-right {
	text-align: center;
	float: left;
	width: 25px;
	margin: 0 10px 0 2px;
}
.nav-image-left a, .nav-image-up a, .nav-image-right a {
	background: #eee;
	padding: 2px 48% 2px 48%;
	text-decoration: none;
	color: #000;
}
.nav-image-left a:hover, .nav-image-up a:hover, .nav-image-right a:hover {
	background: #000;
	color: #fff;
}
.nav {
	background: #555;
}
.nav:hover {
	background: #777;
}
.prev a, .next a {
	color: #eee;
}
.nav-interior .next {
	color: #000;
}
.nav-interior .prev {
	color: #000;
}
.comments-nav .next a {
	color: #428CE7;
}
.comments-nav .prev a {
	color: #428CE7;
}

/* Sidebar */
#sidebar ul li a,ul.txt li {
	color: #333;
	border-color: #e6e6e6;
}
#sidebar ul li a:hover,ul.txt li:hover {
	color: #000;
	background: #fff;
}
#sidebar ul li a span,ul.txt li,h4 a span {
	color: #696455;
}
#sidebar ul li.active a {
	color: #000;
}

/* Widgets */

/* Some widget link styles will need a little resetting for inline links */
#sidebar .widget_categories ul li a,
#footer .widget_categories ul li a,
#sidebar .widget_twitter ul li a,
#footer .widget_twitter ul li a {
	color: #428ce7;
}

/* Footer */
#footer-wrap {
	background: #fff;
}
#footer,
#footer p,
#footer h3 {
	color: #333;
}
#footer ul li a:hover,ul.txt li:hover {
	color: #000;
	background: #eee;
}
#footer ul li a span,ul.txt li,h4 a span {
	color: #696455;
}
#footer ul li.active a {
	color: #000;
}
#footer ul#recentcomments li.recentcomments a:hover {
	color: #000;
	background: #eee;
}
#footer ul#recentcomments li.recentcomments a span {
	color: #696455;
}

/* Floats & Images */
.advertisement .box {
	background: #e5ecf9;
}

/* Search */
#search #s {
	background: #f6f6f6 url('images/search.png') 0px center no-repeat;
	color: #222;
	border: 1px solid #ccc;
}
#search #s:hover {
	color: #0066cc;
	background: #fff url('images/search_blue.png') 0px center no-repeat;
}


/* Comments */
h3#comments {
	background: #fff;
}
h3#comments span.comments-subscribe {
	background-image: url("images/rss.png");
	color: #555ccc;
}
h3#respond {
	background: #fff;
}
ol.commentlist,
ol.commentlist li .comment-wrapper,
.lteIE6 ol.commentlist li .comment-wrapper {
	border-color: #999;
}
ol.commentlist li .avatar {
	border-color: #e6e6e6;
}
#commentform {
	border-color: #999;
	background: #fff;
}