/*
	A dark color scheme for Nishita
*/

/* =Reset + Typography
-------------------------------------------------------------- */

body {
	background: #121212;
	color: #727272;
}
a {
	color: #c2c2c2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #888;
}
hr {
	background: #181818;
	color: #181818;
	border: none;
}


/* =Header
-------------------------------------------------------------- */

#header {
	background: #1a1a1a;
}
#header-inner {
	background: #1f1f1f;
	border: 1px solid #272727;
}
#title h1 a {
	border-bottom: 2px solid #181818;
}


/* =Navigation Menu
-------------------------------------------------------------- */

#nav a,
div.menu ul a {
	border-top: 2px solid #1f1f1f;
}
#nav ul,
div.menu ul ul {
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
#nav ul a,
div.menu ul ul a {
	background: #1f1f1f;
}
#nav li:hover > a,
#nav ul :hover > a,
div.menu ul li:hover > a,
div.menu ul ul :hover > a {
	background: #272727;
	color: #c2c2c2;
	border-top: 2px solid #181818;
}
#nav ul li:hover > a,
#nav ul ul :hover > a,
div.menu ul ul li:hover > a,
div.menu ul ul ul :hover > a {
	background: #272727;
	color: #c2c2c2;
}
#nav li.current_page_item > a,
#nav li.current-menu-ancestor > a,
#nav li.current-menu-item > a,
#nav li.current-menu-parent > a,
div.menu ul li.current_page_item > a,
div.menu ul li.current-menu-ancestor > a,
div.menu ul li.current-menu-item > a,
div.menu ul li.current-menu-parent > a {
	background: #272727;
	border-top: 2px solid #181818;
	color: #c2c2c2;
}
#nav ul li.current_page_item > a,
#nav ul li.current-menu-ancestor > a,
#nav ul li.current-menu-item > a,
#nav ul li.current-menu-parent > a,
div.menu ul ul li.current_page_item > a,
div.menu ul ul li.current-menu-ancestor > a,
div.menu ul ul li.current-menu-item > a,
div.menu ul ul li.current-menu-parent > a {
	background: #272727;
}


/* =Photo
-------------------------------------------------------------- */

.photo {
	background: #1a1a1a;
}
.photo-inner {
	background: #1f1f1f;
	border: 1px solid #272727;
}
h2.photo-title {
	background: #1a1a1a;
	color: #888;
}
h2.photo-title a,
.content-title {
	color: #c2c2c2;
	background: #1f1f1f;
	border: 1px solid #272727;
}
.the-author {
	border-top: 1px solid #181818;
}


/* =Photo Meta
-------------------------------------------------------------- */

.photo-meta {
	background: #1a1a1a;
}
.photo-meta ul li {
	border-right: 1px solid #181818;
}
.photo-meta-inner {
	background: #1f1f1f;
	border: 1px solid #272727;
}


/* =Navigate
-------------------------------------------------------------- */

.navigate a,
.navigate-single div {
	background: #1a1a1a;
}
.navigate a span,
.navigate-single a {
	background: #1f1f1f;
	border: 1px solid #272727;
}


/* =Comments
-------------------------------------------------------------- */

#comments {
	background: #1a1a1a;
}
.comment-form-comment textarea {
	background: #1f1f1f;
	border: 1px solid #272727;
	color: #b2b2b2;
}
.byuser article {
	background: #1f1f1f;
	border: 1px solid #272727;
}


/* =Pages
-------------------------------------------------------------- */

.main {
	background: #1a1a1a;
}
.main-inner {
	background: #1f1f1f;
	border: 1px solid #272727;
}
h2.page-title {
	border-bottom: 2px solid #181818;
}


/* =Sidebars
-------------------------------------------------------------- */

#sidebar {
	background: #1a1a1a;
}
#sidebar-inner {
	background: #1f1f1f;
	border: 1px solid #272727;
}
.widget-title {
	border-bottom: 2px solid #181818;
}
.widget-area ul li ul li {
	border-bottom: 1px solid #181818;
}
#submit {
	background: #2f2f2f;
	border: 1px solid #474747;
	color: #b2b2b2;
}
#s, #searchsubmit {
	background: #1a1a1a;
	border: 1px solid #272727;
	color: #727272;
}
#wp-calendar tbody td a {
	background: #272727;
}


/* =Footer Widgets
-------------------------------------------------------------- */

#sidebar-footer-wrapper {
	background: #1a1a1a;
}
#sidebar-footer {
	background: #1f1f1f;
	border: 1px solid #272727;
}


/* =Post
-------------------------------------------------------------- */

div.post-body {
	border-right: 1px solid #181818;
}
div.post-body img {
	border: 1px solid #181818;
}
div.post table,
div.page table {
	border-bottom: 1px solid #181818;
}
div.post th,
div.page th {
	color: #727272;
}
div.post td,
div.page td {
	border-top: 1px solid #181818;
}


/* =Images
-------------------------------------------------------------- */

.wp-caption {
	background: #272727;
}
.gallery-item img {
	border: 2px solid #181818 !important;
}


/* =Search Results
-------------------------------------------------------------- */

.search-header,
.no-results-wrapper {
	background: #1a1a1a;
}
.search-header h1 {
	background: #1f1f1f;
	border: 1px solid #272727;
}
.no-results {
	background: #1f1f1f;
	border: 1px solid #272727;
}


/* =Sticky Posts
-------------------------------------------------------------- */

.sticky h2.photo-title,
.sticky .photo,
.sticky .photo-meta {
	background: #3a3a3a;
}
.sticky h2.photo-title a,
.sticky .photo-inner,
.sticky .photo-meta-inner {
	border: 1px solid #575757;
}


/*=WordPress.com
---------------------------------------------------------------*/

.widget_blog_subscription form {
	background: #1a1a1a;
}
#flickr_badge_wrapper tbody td {
	background: #1a1a1a;
}
#flickr_badge_wrapper {
	border: 1px solid #181818 !important;
}
.fan_box .connections {
	border-top: 1px solid #181818 !important;
}