.widget-title,
.widget-title span {
	background-image: url("images/green/widget-title-green-large-rtl.png");
}
body.sidebar-content-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title,
body.content-sidebar-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title span,
body.content-sidebar-sidebar .widget-title span,
body.sidebar-content-sidebar .widget-title span {
	background-image: url("images/green/widget-title-green-small-rtl.png");
}
#searchform #searchfield,
#searchform input.searchbutton {
	background-image: url("images/green/search-rtl.png");
}
#comments .comment-head {
	background-image: url("images/green/comment-head-rtl.png");
}