body {
	background-color: #fff;
	background-image: url(bgr-default.png);
}
.feat_background,
.featured_post span.date_bg {
	background: #fcfcfc;
	color: #333;
}
.featured_content a {
	color: #333 !important;
}
.widget {
	background-color: #fcfcfc;
	color: #333;
}
.widget a,
.widget h2,
.widget h3,
.widget li,
.widget p {
	color: #333 !important;
}
.widget h3 {
	border-bottom: 1px solid #EEE;
}
.comments-feat {
	color: #333 !important;
}
.menu li a:hover {
	background: #f5f5f5;
}
.menu li ul li {
	background:#f1f1f1;
	border:solid #f1f1f1;
}
.menu li:hover,
.menu li.sfhover1{
	background: #f1f1f1;
	color: #333;
}
.menu li.current_page_item a:hover,
.menu li:hover a {
	color: #333;
}
.menu li ul li ul li,
.menu li ul li ul li ul li,
.menu li ul li ul li ul li ul li {
	border: 1px solid #f1f1f1
}
.container-menu li a:hover,
.top_menu li.active a,
#pagenav li a:hover,
#pagenav li ul li,
#pagenav li:hover,
#pagenav li.sfhover1 {
	background: #f1f1f1;
}
#pagenav li ul li {
	border:solid #f1f1f1;
	border-width: 0 1px 1px;
}
#pagenav li ul li ul li,
#pagenav li ul li ul li ul li,
#pagenav li ul li ul li ul li ul li {
	border: 1px solid #f1f1f1
}
#comments .comment.bypostauthor .text-right {
	background: #ccc;
}
input#submit {
	background: #fcfcfc
}
.flickr img {
	border: 12px solid #f1f1f1
}
.flickr img:hover {
	border-color: #f1f1f1
}