<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">About the Michigan Coalition for Compassionate Care</tmpl:var>
  <tmpl:var name="header">
  </tmpl:var>
  <tmpl:var name="sidebar">
    <h2>Michiganders Support Medical Marijuana Access</h2>
    
    <p>An August 2003 poll found that 59% of Michigan voters support removing criminal penalties for the medical use of marijuana. And in each of five citywide medical marijuana votes, medical marijuana won in a landslide (with 62% in Flint in February 2007; with 63% in Traverse City an 61% in Ferndale in November 2005; with 74% in Ann Arbor in November 2004; and with 60% in Detroit in August 2004). It's time for the state to follow the lead of these cities and protect seriously ill patients from the threat of arrest and jail.</p>
  </tmpl:var>
  <tmpl:var name="content">
    <h2>About the Initiative</h2>

    <p>Right now, Michigan patients battling cancer, AIDS, and other life-threatening diseases face prison for trying to relieve their pain. By passing this initiative, we can stop this cruel and unnecessary policy.</p>

    <p>What would Michigan's medical marijuana initiative do?</p>

    <ul>
      <li>Allow terminally and seriously ill patients who find relief from marijuana to use it with their doctors' approval.</li>
      <li>Protect these seriously ill patients from arrest and prosecution for the simple act of taking their doctor-recommended medicine.</li>
      <li>Permit qualifying patients or their caregivers to cultivate their own marijuana for their medical use, with limits on the amount they could possess.</li>
      <li>Create registry identification cards, so that law enforcement officials could easily tell who was a registered patient, and establish penalties for false statements and fraudulent ID cards.</li>
      <li>Allow patients and their caregivers who are arrested to discuss their medical use in court.</li>
      <li>Keep commonsense restrictions on the medical use of marijuana, including prohibitions on public use of marijuana and driving under the influence of marijuana.</li>
    </ul>

    <p>Read the <a href="initiative.html">full text of the initiative</a>.</p>
  </tmpl:var>
</tmpl:template>
