#sidebar { width: 200px; }
#header h1.small { font-size: 30px; margin-top: .3em; }
.sIFR-hasFlash #header h2 { margin-top: -12px; }
#content, #navigation { display: inline-block; display: block; }
.thermometer .inner { left: 0; }
