<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/"
               xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
  <tmpl:var name="title">Michigan Coalition for Compassionate Care</tmpl:var>
  <tmpl:var name="header"></tmpl:var>
  <tmpl:var name="sidebar"></tmpl:var>
  <tmpl:hook class="org.himinbi.templ.XSLTHook">
    <xsl:template match="*[@id='navigation']/*"></xsl:template>
  </tmpl:hook>
  <tmpl:var name="content">
    <p>The Michigan Coalition for Compassionate Care website will be launching early next week. Please check back.</p>
    <p>If you have any questions or more immediate issues, please contact <a href="mailto:info@stoparrestingpatients.org">info@StopArrestingPatients.org</a>.</p>
  </tmpl:var>
</tmpl:template>
