<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Register to Vote in Michigan</tmpl:var>
  <tmpl:var name="content">
    <h2>Register to Vote</h2>
    <p>Michigan currently does not have a statewide voter registration system that allows online voter registration. You will need to print out a <a href="http://www.michigan.gov/documents/MIVoterRegistration_97046_7.pdf">voter registration form</a> and send it to your City or County Clerk's office. You can locate the appropriate mailing address on the second page of the voter registration form. You can <a href="http://www.michigan.gov/documents/MIVoterRegistration_97046_7.pdf">download and print out the form here</a>.</p>
  </tmpl:var>
</tmpl:template>
