#sidebar { float: right; margin: 0 0 10px; border: 3px double; padding: 0 .5em; background-color: #e8a9b3; padding-bottom: .5em; }
#sidebar { background-color: #0d443e; }
#sidebar, #sidebar a { color: #dbc2af; }
#sidebar p, #sidebar h2 { max-width: 185px; margin: auto; font-family: Tahoma, Georgia; font-size: 11pt; }
#sidebar h2, #sidebar h3 {
  font-weight: bold; font-family: Verdana, sans-serif; font-size: 12pt;
  border: 1px solid; border-style: solid none; margin: 0 0 .5em; padding: .25em .5em;
  text-align: center; }

#text { width: 66%; }
#sidebar h2, #text h2 { line-height: 1em; }
