<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Michigan Coalition for Compassionate Care Alerts</tmpl:var>
  <tmpl:var name="content">
    <p><em>Link to Kintera subscription form. Header is:</em></p>

    <p>To receive occasional e-mail alerts throughout MCCC's signature drive and campaign, please enter your e-mail address below. These alerts will keep you updated on our progress, and they will offer opportunities for you to help protect medical marijuana patients in Michigan.</p>
  </tmpl:var>
</tmpl:template>
