body {
  margin-left: 10%;
  margin-right: 10%;
}

p {
  text-indent: 3em;
  text-align: justify;
}

h1, h2, h3 {
  text-align: center;
}

.attrib {
  text-align: right;
  margin-right: 25%;
  display: block;
}

.poem, .address .line {
  text-indent: 0em;
  display: block;
  border: none;
}

.line2 {
  margin-left: 2em;
}

#column1 {
  float: left;
  width: 45%;
}

#column2 {
  margin-left: 46%;
}

.break {
  clear: both;
}

.reading, .disclaimer {
  text-indent: 0em;
  text-align: center;
  border: thin solid gray;
}

.disclaimer {
  font-style: italic;
}

.quote {
  border: groove;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1em;
}

.line {
  text-indent: 0em;
  border: thin solid green;
}

.line .actor {
  font-weight: bold;
  text-indent: 0em;
  float: left;
  text-align: right;
  width: 3em;
}

.line .text {
  text-indent: 0em;
  diplay: block;
  margin-left: 10%;
  clear: right;
}
