.v-option h3 {
	padding: 15px 40px 15px 15px;
	background-position: 90% 13px;
}
.v-option h3.open {
	background-position: 90% -27px;
}
.v-option span {
	float: left;
}
.v-option-body {
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
}
.v-field-d {
	float: left;
}
#vop-body .v-reset-button {
	float: left;
}
#vop-body .v-saveall-button {
	float: right;
}
.updated,.error {
	margin: 5px 0 2px 15px;
}