RewriteEngine on
RewriteOptions inherit

RewriteCond %{SERVER_NAME} !^trogdor\.mr$ [NC]
RewriteCond %{SERVER_NAME} !^invitees\.mr\.pcvs\.org$ [NC]

#RewriteRule ^(.*)$ http://invitees.mr.pcvs.org%{REQUEST_URI} [R,L]
RewriteRule ^(.*)$ http://invitees.mr.pcvs.org [R,L]

BrowserMatch ^Mozilla xhtml
<IfDefine xhtml>
  AddType application/xhtml+xml .html
</IfDefine>
