#sig {
  float: right;
  height: 8em;
}

html {
  background-color: rgb(240, 231, 219);
  font-size: 13pt;
  padding: 2em;
}

body {
  max-width: 800px;
}

pre {
  font-family: inherit;
}

h1, h2 { text-align: center; }
hr.subject { width: 25%; margin-left: 0; }

p {
  text-indent: 1.5em;
}

p, li {
  text-align: justify;
}

#senderaddress {
  margin-left: 68%;
}

.salutation {
  text-indent: 0;
}

a {
  color: rgb(38, 60, 208);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: rgb(120, 11, 32);
}

.button {
  border: 2px dashed rgb(110, 109, 120);
  background-color: rgb(174, 173, 190);
  padding-left: .2em;
  padding-right: .2em;
}

.button:hover {
  border: 2px solid rgb(110, 109, 120);
  background-color: rgb(220, 219, 240);
}

@media print {
  html, body, p { margin: 0; padding: 0; max-width: inherit; font-size: 12pt; }
  p { margin-bottom: .25em; }
  a { font-weight: normal; color: inherit; }
  acronym, .button { border: none; }
}
