/* Styles for the tabbed version */

@import url('tabbed.css');

body { max-width: 800px; margin: auto; display: block; padding-top: 5em; }
h1, h2 { text-align: center }
fieldset { float: left; padding: 1em; }
filedset:after { content: ''; display: block; clear: both; }
legend { float: left; width: 5em; text-align: right;
         padding-right: .5em; }
[type='submit'] { margin-left: 14em; }
form a { display: block; margin-left: 25%; margin-top: 1.5em; width: 50%;
         text-align: center; border: thin solid; text-decoration: none; }
form a:hover { color: green; border-color: green; }
body { margin: 1em 4em; max-width: 56em; font-size: 14pt; line-height: 1.3em; background-color: rgb(255, 245, 209); }
#toplist { max-width: 800px; font-family: 'Sansation', 'Liberation Sans'; }
.publication { font-style: italic; }
h1, h2, h3 { margin: 0; text-align: center; }
#name, #address { margin: 0; }
#name { float: left; font-size: 25px; font-family: Frontenac; margin-top: 1.5em; }
#address { float: right; width: 20em; }
ol { list-style-type: upper-roman; }
ul { list-style: disc; }
ul ul { list-style: square; }

#toplist .title:after { content: ':'; }

a, #htmltab a { text-decoration: none; color: rgb(11, 25, 120); }
a:hover, #htmltab a:hover { color: rgb(120, 32, 11); }

ol, ul { margin-left: .5em; padding-left: 0; }
li { padding-left: 1em; text-indent: -1em; }

@font-face {
  font-family: Coolvetica;
  src: url('.../font/coolvetica.ttf');
}

@font-face {
  font-family: 'Champagne & Limousines';
  src: url('.../font/Champagne & Limousines.ttf');
}

@font-face {
  font-family: 'Geo Sans Light';
  src: url('.../font/GeosansLight.ttf');
}

@font-face {
  font-family: 'Antipasto';
  src: url('.../font/Antipasto.ttf');
}

@font-face {
  font-family: 'Due Punto Zero';
  src: url('.../font/duepuntozero_regular.ttf');
}

@font-face {
  font-family: 'Redring 1969';
  src: url('.../font/REDRING_1969.ttf');
}

@font-face {
  font-family: 'Liberation Sans';
  src: url('.../font/LiberationSans-Regular.ttf');
}

@font-face {
  font-family: 'Sansation';
  src: url('.../font/Sansation_Regular.ttf');
}

@font-face {
  font-family: Frontenac;
  src: url('.../font/Frontenac/otf');
}

@media print {
  html, body { margin: 0; padding: 0; font-size: 12pt; line-height: 1.27em; max-width: 100%; }
  body { margin-left: .1in; }
  /* ol, ul { margin: 0; padding: 0; padding-left: 1em; } */
  ol { list-style-type: none; }
  ol li { margin-left: -1em; font-weight: bold; margin-top: .25em; }
  ul li { font-weight: normal; margin-top: 0; }
  a, #htmltab a { color: inherit; }
  acronym { border: none; }
  #name { font-size: 17px; margin-top: 1.5em; font-weight: bold; }
  #address { width: 13em; }
  #address * { font-size: 12pt; }
  /*#work { page-break-before: always; }*/

  .ui-widget-content { border: none; }
}

#address h2 {
    margin-bottom: .25em;
}

acronym {
    border-bottom: 2px dotted rgba(50, 50, 50, 0.25);
}

acronym:hover {
    border-bottom: 3px double rgba(50, 50, 50, 0.25);
}

.org {
    font-weight: bold;
    font-size: 105%;
}

.company {
    font-style: italic;
}
