html {
}

body {
  text-align: center;
}

.thumbnail {
  display: inline-table;
  float: left;
  border: thick groove gray;
  padding: .25em .25em .25em .25em;
  margin: .10em .10em 1em .10em;
  vertical-align: middle;
  height: 165px;
  width: 120px;
  text-align: center;
}

.thumbnail img {
  margin-top: auto;
  margin-bottom: auto;
  border: none;
}

.center {
  display: inline;
}

.thumbnail:hover {
  background-color: yellow;
}

.time, .thumblink, .origlink {
  text-align: center;
  font-size: 10pt;
}

.thumblink, .origlink {
  display: block;
}

.thumblink:before, .origlink:before {
  content: '[';
}

.thumblink:after, .origlink:after {
  content: ']';
}
