html, body {
  background-color: rgb(242, 218, 160);
  font-size: 13pt;
  text-align: justify;
}

h1 {
  text-align: center;
}

h2 {
  font-style: italic;
}

.content {
  width: 75%;
  background-color: rgb(244, 197, 130);
  border-style: dotted;
  border-width: .1em;
  border-color: rgb(112, 50, 90);
  margin: auto;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;

  -moz-border-radius: 1em;
}

@media print {
  html {
    font-size: 11pt;
  }
}

a {
  color: rgb(5, 141, 46);
  text-decoration: none;
  border-bottom: thin dotted gray;
}

a:hover {
  color: rgb(41, 49, 103);
  background-color: rgb(187, 184, 244);
}
