html, body {
  font-size: 13.5pt;
}

.id {
  float: left;
  min-width: 5em;
  text-align: right;
  font-weight: bold;
}

.id:after {
  content: ":";
}

#basic, #days, #contact {
  padding-top: .5em;
}

#contact .id {
  min-width: 16em;
}

#days .id {
  min-width: 12em;
}

#days ol {
  padding-top: 0px;
  margin-top: 0px;
  list-style-type: none;
}

#days ol .id {
  min-width: 13em;
}

.question  {
  clear: both;
}

.input {
}

.input * {
  width: 50%;
  vertical-align: middle;
  margin-left: .5em;
  background-color: rgb(255, 245, 236);
  color: rgb(7, 15, 105);
}

#survey .id {
  float: none;
  text-align: left;
}

input, textarea {
  padding-left: .25em;
}

#survey textarea {
  width: 95%;
  height: 120px;
  margin-bottom: 1em;
}
