.menu.primary li {
	position: static;
}
.menu.primary.custom-menu li {
	position: relative;
	zoom: 1;
}
.menu.primary.custom-menu li:hover {
	z-index: 2;
}
.menu.primary li a {
	display: block;
	padding-top: 32px;
	height: 48px;
}
#page {
	padding-left: 1px;
}
#footer {
	margin-left: -1px;
}
#title h1 {
	line-height: 1.2em;
	margin-top: -0.5em;
}