RewriteEngine on

RewriteCond %{REQUEST_URI} \.xhtml$

RewriteCond %{HTTP_USER_AGENT} MSIE [OR]

# A quality rating of 0 means unacceptable
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml\s*;\s*q=0\.?0*(\s|,|$)

RewriteRule .* - [T=text/html]
