/*
 Description: A dark color scheme for the Clean Home theme
*/


/* Global */

body {
	background: #111;
	color: #d5d5d5;
}
#wrapper {
	background: #161616;
	margin-bottom: 40px;
}
#footer {
	background: #070707;
	margin: 0px -30px;
	padding-bottom: 30px;
	width: 960px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
hr {
	border-top: 1px dotted #222;
}


/* Dotted Lines */

.content,
.header,
#blurb,
#footer,
body.single .navigation {
	border-color: #222;
}


/* Links */

#sidebar a:hover {
	color: #000;
}
.header a,
#blurb a,
.content a,
#sidebar a,
#footer a {
	color: #ddd;
	border-bottom: 1px dotted #888;
}
.header a:hover,
#blurb a:hover,
#footer a:hover,
.content a:hover {
	color: #aa1a00;
	border-bottom: 1px dotted #aa1a00;
}
#blurb a,
#blurb a:hover {
	text-decoration: none;
}
.content a:hover,
#footer a:hover {
	background: transparent;
}
#nav li a {
	color: #aaa;
}
#nav li a:hover,
#wrapper #nav li ul a:hover {
	color: #aa1a00 !important;
}
#footer a {
	border-color: #222;
}


/* Header */

#logo a {
	color: #ad5a00;
	text-shadow: 0 1px 0 #140f03;
}
#logo h2 {
	color: #777;
}
.header-image {
	border-color: #555;
}
#wrapper #nav li:hover ul a {
	color: #333;
}
#blurb {
	color: #888;
}
#nav ul li.current_page_item > a,
#nav ul li.current_page_parent > a,
#nav ul li.current_page_ancestor > a,
#nav ul li.current-cat > a,
#nav ul li.current-menu-ancestor > a,
#nav ul li.current-menu-item > a {
	background: #222;
	color: #444;
}


/* Content */

.post hr {
	margin-left: -20px;
	width: 640px;
}
#wrapper .post .post-meta a {
	color: #888;
}
#wrapper .post .post-meta a:hover {
	color: #eee;
}
.hentry .wp-caption {
	background: #444;
	border-color: #333;
}
.hentry img,
body.attachment .navigation img {
	background: #111;
	border-color: #0e0e0e;
}
.gallery a img {
	border-color: #444 !important;
}
.gallery a {
	border: none !important;
}
table {
	color: #000;
}


/* Sidebar */

#sidebar .block li,
#sidebar .block ul {
	border-color: #222;
}
#sidebar .widget_recent_comments li a,
#sidebar .widget_recent_comments li a:hover {
	border-bottom: 1px dotted #555;
	color: #aaa;
}


/* Comments */

ol.commentlist {
	margin-right: 20px;
}
#comments .bypostauthor.comment {
	background: #051d11;
}
#comments .comment {
	background: #000;
	background: rgba(0,0,0,.4);
}
#comments ol.commentlist li {
	border-color: #222;
}


/* Deco */

#wpstats {
	background-color: #c4ad04;
	padding: 2px;
	border: 1px solid #7a6c00;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
