/*  
Theme: Treba
RTL: Yoav Farhi, yoav@automattic.com
*/

body{
	unicode-bidi:embed;
	direction:rtl;
}
#content{
	float:right;
}
#header{
	margin-left:0;
	margin-right:20px;
}
#sidebar{
	float:right;
	margin-left:0;
	margin-right:10px;
}
#wrap{
	text-align:right;
}


/*************************************
 +Hn
 *************************************/
h2{
padding-right:0;
padding-left:5px;
}

/*************************************
 +Comments
 *************************************/

.alignright {
	float: left;
}

.alignleft {
	float: right;
}
.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
	float: right;
	margin-right: 0;
	margin-left: 5px;
}
