<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">GSMM May 10, 2007 Newsletter</tmpl:var>
  <tmpl:var name="header" additive="true">
    <link type="text/css" rel="stylesheet" href="indexlist.css" />
  </tmpl:var>
  <tmpl:var name="content">
    <h1><span class="marker">&#x25BC;</span> May 10, 2007 Newsletter</h1>
    <img src="../graphics/blue_linefade395.jpg" width="395" alt="" />

    <div class="author">Stuart Cooper, GSMM campaign manager</div>

    <p>In this issue:</p>

    <ol>
      <li><a href="#candidates">More candidates speak out for marijuana reform</a></li>
      <li><a href="#volunteer">Get involved this weekend</a></li>
      <li><a href="#donate">Got some spare change?</a></li>
    </ol>
      
    <ol>
      <li>
        <h3 id="candidates">More candidates speak out for marijuana reform</h3>
        <p>Last week, I told you about my encounter with Sen. John McCain (R-AZ) and his promise to stop the federal raids on medical marijuana patients if elected president.</p>
        <p>Gov. Bill Richardson (D-NM) was in town this week, and I met him when his campaign stopped in Hookset. After I thanked him for his compassion in signing New Mexico's medical marijuana bill last month, he said, "We must protect the seriously ill; we certainly must protect these people." When I asked him if he would end the federal raids on state medical marijuana patients, Gov. Richardson responded, "Yes, with the proper safeguards and protections."</p>
        <p>We're thrilled that we have elicited positive, public statements about medical marijuana access from two candidates in two weeks.</p>
        <p>And during an interview on C-SPAN last week, former Sen. Mike Gravel (D-AK) announced that he would end marijuana prohibition all together if he becomes president. A caller asked, "What do you think about legalizing marijuana?" Sen. Gravel replied, "The answer to that is real simple. I would legalize marijuana." You can watch the full C-SPAN interview with Sen. Gravel here.</p>
      </li>
      <li>
        <h3 id="volunteer">Get involved this weekend</h3>
        <p>Our campaign will be out in full force this weekend, because Joe Biden (D-DE), Chris Dodd (D-CT), and John Edwards (D-NC) will all be campaigning in the state &mdash; and we need your help!</p>
        <p>If you would like to meet one of these candidates and ask him to explain his position on medical marijuana, please contact me by e-mailing <a href="mailto:stuart@granitestaters.com">stuart@granitestaters.com</a>. If you can't come out in person, you can still help out by taking action on our Web site at <a href="www.GraniteStaters.com/action.html">www.GraniteStaters.com/action.html</a>.</p>
      </li>
      <li>
        <h3 id="donate">Got some spare change?</h3>
        <p>We need funding from supporters like you to run this campaign, so would you please visit <a href="http://www.GraniteStaters.com/donate.html">www.GraniteStaters.com/donate</a> to donate as much as you can? Our work is not fully funded at this point, so every dollar you give will help us turn up the heat on the presidential candidates. Without your generous donations, GSMM will be hard-pressed to maintain a robust campaign through the January 22, 2008 New Hampshire primary.</p>
        <p>Thank you for your continued support, and please look for weekly updates as the campaign heats up.</p>
      </li>
    </ol>
  </tmpl:var>
</tmpl:template>
