RewriteEngine on
RewriteOptions inherit

RewriteCond %{SERVER_NAME} ^ragnarok\.himinbi\.org$ [NC]

#RewriteRule ^(.*)$ http://www.himinbi.org/ragnarok%{REQUEST_URI} [R,L]
RewriteRule ^(.*)$ http://www.himinbi.org/doomfire%{REQUEST_URI} [R,L]
