<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Make a tax-deductible gift to Change the Climate</tmpl:var>
  <h1>Make a Tax-Deductible Gift</h1>
e
  <p>Change the Climate is a non-profit organization dedicated to telling the truth about marijuana. It is a campaign founded and supported by parents and business professionals to educate the public about the tremendous waste of tax dollars for the &quot;war on marijuana&quot;. Our goal is to tell the truth about marijuana and to &quot;de-demonize&quot; it so that someday politicans will support marijuana reform legislation.</p>
  <p>Change the Climate relies on outdoor advertising to educate the public and raise awareness about these important issues. These campaigns are funded and made possible by people like you who make tax deductible gifts to our organization. These funds are pooled and used to fund our advertising campaigns around the country. To date our supporters have made possible <a href="../campaigns/">three outdoor ad campaigns in Washington D.C. and one in Nevada</a>.</p>
  <p>We are asking for your support to make more of these public education and awareness campaigns possible. Become a Change Partner and make a tax deductible gift of $10, $25, $50, or more!</p>

  <p>You may contribute your gift <a href="https://www.groundspring.org/donate/index.cfm?ID=2862-0|1983-0">online using our secure server</a>, or mail by mailing a check or money order to:</p>
  <addr>
    <div>Change the Climate, Inc.</div>
    <div>P.O. Box 1004</div>
    <div>Greenfield, MA 01302</div>
  </addr>

  <p>We thank you for your support and interest in our organization!</p>
</tmpl:template>
