.node hr { width: 45%; margin: .75em auto 2.5em; }

.citation {
  font-family: sans-serif;
  font-size: 90%;
  text-align: right;
  padding-left: 15em;
  padding-bottom: .5em;
  border-bottom: 1px solid #AAA;
  margin-bottom: 2.5em;
}

.date {
  white-space: nowrap;
}

a.logo {
  display: block;
  border: 1px solid;
  text-decoration: none;
  font-family: sans-serif;
  padding: .1em;
  margin-bottom: .25em;
  font-size: 75%;
}
a.logo:after {
  content: '';
  display: block;
  clear: both;
}
a.logo span {
  display: block;
  float: left;
  padding: .25em .1em .15em;
  border: 1px #333;
}
a.logo .html, a.logo .css {
  padding-left: .25em;
  background-color: #888;
  color: white;
  width: 5.5em;
  border-style: solid solid solid none;
}
a.logo .wc {
  border-style: solid none solid solid;
}

acronym { border-bottom: none; text-decoration: none; }
