/* =Basics
-------------------------------------------------------------- */

body {
	direction: rtl;
	unicode-bidi: embed;
}
caption, th, td {
	font-weight: normal;
	text-align: right;
}
ul, ol {
	margin: 0 2.5em 1.7em 0;
}
blockquote {
	border-right: 7px solid #d1bfa6;
	border-left: none;
}
img {
	margin: 0 0 10px 10px;
}


/* =Accessibility
-------------------------------------------------------------- */

.screen-reader-text {
	position: absolute !important;
	clip: rect(0px 0px 0px 0px); /* IE6, IE7 */
	clip: rect(0px, 0px, 0px, 0px);
}
.skip,
.no-css {
	position: absolute !important;
	clip: rect(0px 0px 0px 0px); /* IE6, IE7 */
	clip: rect(0px, 0px, 0px, 0px);
}


/* =Layout Structure
-------------------------------------------------------------- */

#canvas {
	background: transparent url(images/header-design.jpg) top left no-repeat;
}
#site-title a {
	background: url(images/title-stroke.gif) bottom right repeat-x;
}


/* =Main Nav
-------------------------------------------------------------- */

#nav {
	background: url("images/nav-bg.gif") repeat-x scroll right top transparent;
	float: right;
}
#nav ul {
	padding-right: 0;
	padding-left: 0;
}
#nav li {
	float: right;
}
#nav a {
	margin: 0 0 0 3px;
}
#nav ul ul {
	float: right;
	right: 0;
	left: auto;
}
#nav ul ul ul {
	right: 100%;
	left: auto;
}


/* =Posts
-------------------------------------------------------------- */

#primary-content {
	float: right;
	margin: 70px 0 0 40px;
	padding: 0 0 0 20px;
}
.post-wrapper {
	background: url("images/border.gif") repeat-x scroll right bottom transparent;
}
#primary-content .date {
	background: url("images/border.gif") repeat-x scroll right center transparent;
}
#author-avatar {
	float: right;
}
#author-description {
	margin-right: 65px;
	margin-left: auto;
}
#author-link {
	text-align: left;
}
.format-aside .entry .avatar {
	float: right;
	margin: 2px 0 8px 8px;
}
.format-quote .entry p {
	border-right: 7px solid #d1bfa6;
	padding-right: 15px;
	padding-left: 0;
	border-left: none;
}
.format-quote .entry cite {
	text-align: left;
}
.format-gallery .gallery-thumb {
	float: right;
	margin-left: 20px;
	margin-right: auto;
}
.entry table {
	margin: 0 0 24px -1px;
	text-align: right;
}
.entry .gallery .gallery-item {
	float: right;
}
.page-link a {
	margin-left: 4px;
	margin-right: auto;
}
.nav-previous,
.previous-image {
	float:right;
}
.nav-previous a,
.previous-image a {
	background: transparent url(images/pagination-right.jpg) no-repeat center right;
	padding: 5px 30px 5px 0;
}
.nav-next,
.next-image {
	float: left;
}
.nav-next a,
.next-image a {
	background: transparent url(images/pagination-left.jpg) no-repeat center left;
	float: left;
	padding: 0 10px 0 20px;
}


/* =Attachments
-------------------------------------------------------------- */

.aligncenter {
	margin-right: auto;
	margin-left: auto;
}
.alignright,
.post-thumbnail {
	float: right;
	margin-left: 20px;
	margin-right: auto;
}
.alignleft {
	float: left;
	margin-right: 20px;
	margin-left: auto;
}
.attachment-post-thumbnail {
	text-align: right;
}
.wp-caption {
	margin-left: 15px;
	margin-right: auto;
}


/* =Widgets
-------------------------------------------------------------- */

#secondary-content {
	float: right;
}
#wp-calendar tfoot #next {
	text-align: left;
}
.widget-area .sub-menu {
	margin-right:  1.5em;
	margin-left: auto;
}
#searchform label {
	float: right;
}


/* =Social Icons
-------------------------------------------------------------- */

a.rss,
a.twitter,
a.facebook {
	text-decoration: none;
	text-indent:-9999px;
	float: right;
	clip: rect(0px 0px 0px 0px); /* IE6, IE7 */
	clip: rect(0px, 0px, 0px, 0px);
}


/* =Comments
-------------------------------------------------------------- */

#comments ol {
	margin-right: 0;
	margin-left: auto;
}
#comments ul {
	margin-right: 0.425em;
	margin-left: auto;
}
#comments .comment-author {
	margin: 0 57px 0.85em 0;
}
#comments .avatar {
	right: 10px;
	left: auto;
}
#comments .comment-body {
	margin-right: 40px;
	margin-left: auto;
}
#comments .comment-body p {
	margin: 0 20px 15px 0;
}
.comment-reply-link {
	margin: 0 20px 15px 0;
}
#cancel-comment-reply-link {
	margin-right: 10px;
	margin-left: auto;
}


/* =IE
-------------------------------------------------------------- */

#ie7 .page-link a {
	margin-right: 3px;
}
#ie7 #nav ul ul {
	left: 1px;
}

#ie7 .nav-previous a,
#ie7 .previous-image a,
#ie7 .nav-next a,
#ie7 .next-image a {
	padding-left: 30px;
}