/* This page is explained in inferno-css.html. Changes to it will cause
 *  possible confusion if the explanation is not updated.
 * -- wjh 2001/05/02
 */
body {
  background-image: url("../backgrounds/inferno.jpg");
  background-color: rgb(53, 51, 77);
  color: rgb(235, 234, 245);
  text-align: justify;
  font-size: 14pt;
}

p {
  margin-left: 0.25in;
  margin-right: 0.25in;
}

a:link, a:active {
  text-decoration: none;
  color: rgb(121, 121, 255);
}

a:visited {
  text-decoration: none;
  color: rgb(186, 176, 237);
}

a:hover {
  text-shadow: 3px 3px 5px red;
  color: rgb(245, 251, 134);
}

h1, h2, h3 {
  text-align: center;
}

th, td {
  text-align: center;
}



