RewriteEngine on
RewriteOptions inherit

RewriteCond %{SERVER_NAME} !^trogdor\.mr$ [NC]

#RewriteRule ^(.*)$ http://www.google.com/search?q="Stephanie+Horne" [R,L]
RewriteRule ^(.*)$ http://odin.himinbi.org/3and.net/shirts/steph.png [R,L]
