/* clear the floats for all our IE friends*/
.clear, li.comment { zoom: 1;}
/*IE doesn't like the top border on our navigation list items */
#nav ul li a { zoom: 1; padding-top: 4px; }
#nav ul li a:hover, #nav ul li:hover a, #nav ul li.current_page_item a, #nav ul li.current_page_parent a, #nav ul li.current_page_ancestor a, #nav ul li.current-cat a, #nav ul li.current-menu-ancestor a, #nav ul li.current-menu-item a, #nav ul li.current-menu-parent a { color: #772124; border-top: 0 !important; }
#nav ul ul :hover a { border-top: 0; padding-top: 4px; }