.group {
  list-style: none;
  margin-left: -1em;
}
a.tree-control {
  font-size: 80%;
  display: block;
  border: 1px solid;
  float: left;
  line-height: .75em;
  margin-top: .25em;
  width: .7em;
  text-align: center;
  margin-right: .5em;
  text-decoration: none;
  color: black;
  border: 1px dotted gray;
}
a.tree-control:hover {
  border-style: solid;
  background-color: #AAA;
}
a.tree-control span {
  display: block;
}
