/************************************************
*	Alternate Dark Color Scheme					*
************************************************/

body {
	background: #000000;
	color: #999999;
	}

/************************************************
*	Common									*
************************************************/

.linerule {
	border-color: #CCCCCC;
	}

/************************************************
*	Hyperlinks									*
************************************************/

a, a:visited {
	color: #FFFFFF;
	}
	
a:focus, a:hover, a:active {
	color: #FFFFFF;
	}

/************************************************
*	Header  									*
************************************************/

#header h1 {
	color: #FFFFFF;
	}
	
#header h1 a, #header h1 a:visited {
	color: #FFFFFF;
	}
	
#header h1 a:hover {
	color: #FFFFFF;
	}
	
.headerleft p {
	color: #FFFFFF;
	}
	
.headerright {
	background: #FFFFFF;
	}
#navicons img {
	background: #fff;	
}
	
/************************************************
*	Navbar      								*
************************************************/

#navbar {
	border-color: #FFFFFF;
	color: #FFFFFF;
	}
	
.ot-menu .current_page_item a {
	color: #FFFFFF !important;
	border-color: #FFFFFF;
	}

.ot-menu .current_page_item li a, .ot-menu li .current_page_item a {
	color: #000000 !important;
	background: #FFFFFF;
	}

.ot-menu a {
	border-color: #000000;
	}
	
.ot-menu li li a, .ot-menu li li a:visited {
	color: #FFFFFF;
	text-transform: none;
	text-shadow: none;
	border: none;
	}
	
.ot-menu a, .ot-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color: #999999;
	}
	
.ot-menu a:focus, .ot-menu a:hover, .ot-menu a:active {
	background:	none;
	border-color: #FFFFFF;
	color: #FFFFFF;
	outline: 0;
	}

.ot-menu li {
	background: none;
	}
	
.ot-menu li li {
	background: #000000;
	border: none;
	}
	
.ot-menu li li li {
	background: #000000;
	border: none;
	}
	
.ot-menu li:hover, .ot-menu li.sfHover {
	background:	none;
	border-bottom: none;
	outline: 0;
	}
	
.ot-menu li li:hover, .ot-menu li li.sfHover {
	background:	#FFFFFF;
	color: #000000;
	border: none;
	outline: 0;
	padding: 0px;
	}

.ot-menu li li a:focus, .ot-menu li li a:hover, .ot-menu li li a:active {
	background:	#FFFFFF;
	color: #000000;
	border-bottom: none;
	outline: 0;
	}

/*** ARROWS **/

.sf-sub-indicator {
	background:	url(images/arrows-ffffff.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
	}

/************************************************
*	Homepage 					     		    * 
************************************************/

	
#homepagetop {
	border-color: #FFFFFF;
	}
	
#homepagetop .textbanner {
	border-color: #FFFFFF;
	}
	
#homepagetop .featuredimage {
	background: #f5f5f5;
	}
	
#homepagetop .homewidgets ul li a {
	color: #FFFFFF;
	}
	
#homepagetop .homewidgets ul li a:hover {
	color: #999999;
	}
	
#content #homepagetop h3 {
	color: #666666;
	}
	
#content #homepagetop h3 a, #content #homepagetop h3 a:visited {
	color: #666666;
	}
	
#content #homepagetop h3 a:hover {
	color: #FFFFFF;
	}
	
#content #homepagetop h4 {
	border-color: #FFFFFF;
	}
	
#homepagetop p {
	color: #999999;
	}
	
#content #homepagetop .textwidget a:hover {
	color: #FFFFFF;
	}
	
.homepagecontent {
	background: #151515;
	}
	
#fcg {
	background: #F5F5F5;
	}
	
#fcg p {
	color: #FFFFFF;
	}
	
/************************************************
*	Content 					     		    * 
************************************************/

#content {
	border-color: #FFFFFF;
	}
	
#contentleft {
	}
	
#contentwide {
	}
	
#contentarchive .postimg {
	background: #151515;
	}
	
#content h1, #content h2 {
	color: #999999;
	}
	
#content h1 a, #content h2 a {
	color: #999999;
	}
	
#content h1 a:hover, #content h2 a:hover {
	color: #FFFFFF;
	}
	
#content h3, #content h4 {
	color: #FFFFFF;
	}
	
#content h3 a, #content h4 a {
	color: #FFFFFF;
	}
	
#content h3 a:hover, #content h4 a:hover {
	color: #999999;
	}
	
#content h5, #content h6 {
	color: #FFFFFF;
	}
	
#content h5 a, #content h6 a {
	color: #FFFFFF;
	}
	
#content h5 a:hover, #content h6 a:hover {
	color: #999999;
	}
	
#postblock {
	border-color: #dddddd;
	}

.postarea hr {
	color:#ddd;
	background-color:#ddd;
	}

blockquote {
	color: #CCCCCC;
	border-color: #C0C0C0;
	}

.posttitle {
	border-color: #FFFFFF;
	}
	
.homepagecontent .postmeta {
	border-color: #000;
}
		
#contentleft .postmeta ,#contentwide .postmeta {
	border-color: #fff;
	}
	
.postauthor p {
	color: #999999;
	}
	
code {
	color: #222222;
	background: #EAEAEA;
	}
	
/************************************************
*	Images  					     		    * 
************************************************/

.wp-caption {
	border-color: #DDDDDD;
	background-color: #f5f5f5;
	}
	
/************************************************
*	Sidebar Left 	        			     	* 
************************************************/

#sidebar_right h4, #sidebar_left h4 {
	border-color: #FFFFFF;
	}
	
/************************************************
*	Sidebar Widgets								*
************************************************/

#sidebar_right .widget ul, #sidebar_left .widget ul {
	color: #FFFFFF;
	}
	
#sidebar_right .widget ul li, #sidebar_left .widget ul li {
	color: #FFFFFF;
	}
	
#sidebar_right .widget ul li a, #sidebar_left .widget ul li a {
	color: #FFFFFF;
	border-color: #000;
	}
	
#sidebar_right .widget ul li a:hover, #sidebar_left .widget ul li a:hover {
	color: #999999;
	display: block;
	text-decoration: none;
	border-color: #FFFFFF;
	}

/************************************************
*	Footer Top									*
************************************************/

#footertopbg {
	background: #FFFFFF;
	}
	
#footertop {
	background: #FFFFFF;
	}
	
#footertop h4 {
	color: #000000;
	}
	
#footertop li {
	text-decoration: none;
	list-style-type: none;
	}
	
#footertop li a, #footertop li a:link, #footertop li a:visited {
	color: #000000;
	}
	
#footertop ul li a:hover {
	color: #666666;
	}
	
#footertop .textwidget {
	color: #666666;
	}
	
#footertop .textwidget a, #footertop .textwidget a:link, #footertop .textwidget a:visited {
	color: #000000;
	}
	
/************************************************
*	Footer Background							*
************************************************/

#footerbg {
	background: #FFFFFF;
	border-color: #CCCCCC;
	}

/************************************************
*	Footer  									*
************************************************/

#footer {
	color: #FFFFFF;
	}

.footertop {
	color: #999999;
	}
	
.footertop a {
	color: #999999;
	}
	
.footertop a:hover {
	color: #999999;
	}
	
.footerbottom {
	color: #999999;
	}
	
.footerbottom a {
	color: #999999;
	}
	
.footerbottom a:hover {
	color: #333333;
	}

/************************************************
*	Search Form									*
************************************************/

.postform {
	background: #F5F5F5;
	color: #222222;
	}
	
#cat {
	background: #000000;
	color: #222222;
	}
	
#searchbox {
	background: #FFFFFF;
	color: #999999;
	}
	
#searchbutton {
	background: #555555;
	color: #FFFFFF;
	}
	
#s {
	background: #F5F5F5;
	color: #222222;
	}
	
#searchsubmit {
	background: #151515;
	color: #666666;
	}
	
#submit {
	background: #151515;
	color: #666666;
	}
	
#author, #email, #url {
	background: #151515 !important;
	color: #666666;
	}
	
#comment {
	background: #151515 !important;
	color: #666666;
	}

/************************************************
*	Comments									*
************************************************/

.commentlist li .avatar {
	background: #FFFFFF;
	}
	
.reply a, .reply a:visited {
	background: #333333;
	color: #666666;
	}
	
.reply a:hover {
	background: #000000;
	color: #FFFFFF;
	}
	
.thread-alt {
	background: #000000;
	}
	
.thread-even {
	background: #151515;
	}
	
.depth-1 {
	border-color: #000000;
	}
	
.even, .alt {
	border-color: #222222;
	}

#commentform input[type=text],
#commentform textarea {
	border:1px solid #222;
	}	

#commentform #submit:hover {
	background: #151515;
}
#commentform code {
	background: #000;
	color: #999;
}
