html { background-color: white; }
body { max-width: 750px; margin: auto; background-color: rgb(243, 235, 221); padding: 2em; border-style: none solid; border-color: gray; }
.head h1, .head h2 { text-align: center; }
object { width: 100%; }
#example, #mirror { width: 48%; margin: 1em 0; height: 5em; border: 1px solid; font-size: 12.5pt; padding: .25em; }
#example { float: left; }
#mirror { float: right; }
pre { background-color: lightgray; padding: .25em; }
.code { max-height: 15em; overflow: auto; }
[data='blob.svg'] { height: 35px; }

a { text-decoration: none; border-bottom: 1px dashed gray; color: rgb(204, 102, 0); }
a:hover { border-bottom: 1px solid gray; color: rgb(224, 122, 10)}

.rowimage { max-width: 100%; display: block; }
img.rowimage { margin: 1em auto; border: 1px solid; }
object.rowimage { background-color: transparent; }

