/* =Logo and Navigation
-------------------------------------------------------------- */

#branding {
	float: right;
}
#access {
	float: left;
}
#access ul {
	padding-right: 0;
	padding-left: 0;
}
#access li {
	float: right;
}
#access a {
	margin: 0 0 0 1px;
}
#access ul ul {
	float: right;
	right: 0;
	left: auto;
}
#access ul ul ul {
	right: 100%;
	left: auto;
}


/* =Main Content Area Layout Structure
-------------------------------------------------------------- */

#sidebar {
	float: right;
}
#content {
	float: left;
}

/* =Featured Posts
-------------------------------------------------------------- */

.featured-post-header {
	background: url('images/title-swish-bg-rtl.png') no-repeat right bottom;
}
.featured-posts div.featured-post {
	float: right;
}
.feature-slider {
	float: left;
}
.feature-slider li {
	margin: 2px 5px 25px 0;
}
.feature-slider .post-link {
	float: right;
}

/* Featured Posts Entry */
.featured-post .entry-date,
.featured-post .featured-entry-title {
	margin: 0 53px 0 0;
}
.feature-slider-entry-info {
	float: left;
}

/* =Latest Posts and Archives
-------------------------------------------------------------- */

#latest-posts .latest-post,
.archive-posts .archive-post {
	float: right;
	margin: 0 0 0 15px;
}
.latest-post-title,
.archive-post-title {
	background-image: url("images/slider-lip-rtl.png");
	background-position: 167px -1px;
	padding: 8px 43px 0 0;
}
.archive-post .entry-date {
	padding: 3px 43px 0 0;
}
.archive-posts {
    padding-bottom: 15px;
}

/* =Post, Pages & Archive Pages - Content and Metadata
-------------------------------------------------------------- */

.entry-header {
	background: url('images/title-swish-bg-rtl.png') no-repeat right bottom;
}
.entry-header .entry-date,
.entry-header .entry-title {
	margin: 0 55px 0 0;
}

/* =In-Post Formatting
-------------------------------------------------------------- */

.entry ul,
.comment-body ul {
	margin-right: 16px;
	margin-left: auto;
}
.entry ol,
.comment-body ol {
	margin-right: 32px;
	margin-left: auto;
}
.entry table {
	margin: 0 0 25px -1px;
	text-align: right;
}
.entry blockquote,
.entry blockquote[class*="align"] {
	margin-right: 15px;
	padding-right: 10px;
	padding-left: 0;
	margin-left: auto;
}
.post-info .post-meta {
	float: right;
}
.post-info .comment-link {
	float: left;
}
#author-avatar {
	float: right;
	margin-left: 8px;
	margin-right: auto;
}
#author-link {
	text-align: left;
}

/* =Images and Embeds
---------------------------------------------------------------*/

.entry .alignright,
.entry img.alignright,
.entry .thumbnail-container {
	float: right;
	margin-left: 15px;
	margin-right: auto;
}
.entry .alignleft,
.entry img.alignleft {
	float: left;
	margin-right: 15px;
	margin-left: auto;
}
.entry .aligncenter,
.entry img.aligncenter {
	margin-right: auto;
	margin-left: auto;
}

/* =Attachment Pages
-------------------------------------------------------------- */

body .attachment .entry-title {
	text-align: right;
}
body.attachment .attachment-meta {
	text-align: right;
}

/* =Post Formats
-------------------------------------------------------------- */

/* Image Posts */
.format-image .entry .wp-caption {
	margin-right: auto;
	margin-left: auto;
}

.format-quote .entry blockquote cite {
	text-align: left;
}

/* =Post Pagination
-------------------------------------------------------------- */

.nav-previous {
	float: right;
}
.nav-next {
	float: left;
}

/* =Widget Areas and Sidebars
-------------------------------------------------------------- */
/* Widgets */

.widget-area ul ul {
	padding-right: 2px;
	padding-left: 0;
}

/* Calendar Widget */

#wp-calendar tfoot #next {
	text-align: left;
}

/* Authors Widget */

.widget_authors img {
	float: right;
	padding-left: 10px;
	padding-right: 0;
}

/* RSS Widget */

.widget_rss .widget-title {
	padding-right: 4px;
	padding-left: 0;
}

/* Menu & Categories Widgets (With Sub-Items) */
.widget-area .sub-menu,
.widget-area .children {
	margin-right:  15px;
	margin-left: auto;
}

/* =Footer
-------------------------------------------------------------- */

#footer-widget-area .widget-area {
	float: right;
	margin: 1.5% 0 0 1%;
	padding-right: 15px;
	padding-left: 0;
}
#site-generator {
	text-align: left;
}

/* =Comments
-------------------------------------------------------------- */

.nocomments {
	margin: 0 85px 15px 0;
}
#comments ol {
	margin-right: 0;
	margin-left: auto;
}
#comments ul {
	margin-right: 0.425em;
	margin-left: auto;
}
#comments .comment .comment-body {
	margin-right: 50px;
	margin-left: auto;
}
#comments .comment .comment-meta {
	left: 35px;
	right: auto;
}
#comments .avatar {
	right: 0;
	left: auto;
}
#comments .children .avatar {
	right: 0;
	left: auto;
}
#comments .children .comment-body {
	margin-right: 55px;
	margin-left: auto;
}
#comments .comment-body ul, 
#comments .comment-body ol {
	margin: 0 2.5em 1.7em 0;
}
#cancel-comment-reply-link {
	text-align: left;
}
#respond input[type=text] {
	margin: 0 5px 15px 0;
}

/* =Accessibility
-------------------------------------------------------------- */
