<?xml version="1.0" encoding="UTF-8" standalone="no" ?><tmpl:template xmlns="http://www.w3.org/1999/xhtml"               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">  <tmpl:var name="title">Contact Granite Staters for Medical Marijuana</tmpl:var>  <tmpl:var name="content">    <h1><span class="marker">&#x25BC;</span> Contact Us</h1>    <img src="graphics/blue_linefade395.jpg" width="395" alt="" />    <p>Granite Staters for Medical Marijuana is located in Manchester,&nbsp;NH.</p>        <addr>      <span>Granite Staters for Medical Marijuana</span>      <span>P.O. Box 357</span>      <span>Manchester,&nbsp;NH 03105</span>      <span>(603) 703-1411</span>    </addr>    <p>If you would like more information, please e-mail us at <a href="mailto:info@granitestaters.com">info@granitestaters.com</a>.</p>  </tmpl:var></tmpl:template>