form ul { list-style: none; padding: 0; }
form li:after { content: ''; clear: both; display: block; }
#content input, label { float: left; }
.text input { clear: right; width: 60%; }
.text label { clear: left; width: 6.15em; text-align: right; padding-right: .5em; }
/* .text .unlabeled { margin-left: 8.2em; } */
.checks input { clear: left; margin-left: 2.75em; margin-right: .5em; }
.checks label { clear: right; }
label.required { color: #722; }
input.required { background-color: #FEE; }
