#leftshadow, #center { float: left; }
#rightshadow { float: right; }
#leftshadow { margin-left: -15px; }
#rightshadow { margin-right: -15px; }
#navigation li.parent { margin-left: -3px; }
#navigation li.parent li { list-style: none; }
#navigation { margin: 0; margin-right: 1em; width: 200px; float: left; }
#navigation ul { margin-left: 10px; }

#leftshadow, #rightshadow, #navigation { height: expression(heightOf(this)); }

#content { margin-left: 225px; }

body { text-align: center; }
#body { width: 759px; border-width: 1px; border-style: none solid; text-align: left; }

#quicklinks form { height: 100%; }

.date { width: 8em; }

hr { clear: both; }

table { width: 500px; }

form ul, form li { margin: 0; min-height: 0; }
* html form ul, * html form li { height: 0; }
html .text label { clear: none; }
html .text input { width: 15em; float: left; clear: none; }
html form input, html form label { clear: none; }
