/* =Global */

body {
	background: #fff url(images/main-bg.gif) repeat-x right 200px;
}


/* =General Elements */

table {
	margin: .5em 0 1em;
	border-bottom: 3px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}
table td,
table th {
	text-align: right;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
}
input, textarea, select {
	background: transparent url(images/input-bg.png) no-repeat right top;
}


/* =Lists */

ul,
ol {
	margin: .4em 0 1em;
	line-height: 150%;
}
ul li,
ol li {
	margin-right: 2em;
}
dt {
	float: right;
	clear: right;
	width: 9em;
	text-align: left;
	font-weight: bold;
}
dd {
	margin: 0 10em 0 0;
	padding: 0 0 0.5em 0;
}
blockquote {
	background: transparent url(images/rtl-blockquote.png) no-repeat right top;
	margin: 10px 10px 10px 65px;
	padding: 20px 10px 10px 20px;
}


/* =Layout */

#main-wrap {
	clear: both;
	float: right;
}
#mid-wrap, #side-wrap {
	float: right;
}
#mid, #sidebar, #sidebar2 {
	float: right;
}

/* start ie 6/7 position relative + z-index bug-fix

#side-wrap, #mid-wrap {
	float: none;
	position: static;
}
#sidebar, #sidebar2 {
	position: static;
	float: right;
}
#mid {
	position: static;
	float: left;
}
end ie 6/7 position relative + z-index bug-fix */

/* clear sidebar/main sections, assuming sidebar is on the right */
div.clearcontent {
	clear: right;
}


/* =Menu */

#tabs {
	right: 0;
}
#tabs li {
	float: right;
}
#tabs a {
	float: right;
	padding: 4px 12px 6px;
	margin-left: 8px;
}


/* =Dropdowns */

#tabs ul ul {
	top: 29px;
	right: 0;
}
#tabs ul li ul a {
	width: 180px;
	height: auto;
	float: right;
}
#tabs ul ul li:hover {
	background: #09c6eb url(images/tab-subnav-active.gif) repeat-x right top;
}
#tabs ul li ul ul {
	right: 195px;
	top: 4px;
}


/* =Main */

ul.secondary-tabs {
	right: 0;
	padding-right: 12px;
	background: transparent url(images/mtab-bg.png) repeat-x right bottom;
}
ul.secondary-tabs li {
	display: inline;
	float: right;
}
ul.secondary-tabs a {
	float: right;
	background: url(images/mtab-left.png) no-repeat right -35px;
	padding-right: 6px;
	margin-left: 3px;
}
ul.secondary-tabs a span {
	float: right;
	background: url(images/mtab-right.png) no-repeat left -35px;
	padding-left: 6px;
}
ul.secondary-tabs a:hover {
	background-position: 0% -70px;
}
ul.secondary-tabs a:hover span {
	background-position: 100% -70px;
}
ul.secondary-tabs a.active, ul.secondary-tabs a.current {
	background-position: 100% 0px;
}
ul.secondary-tabs a.active span, ul.secondary-tabs a.current span {
	background-position: 0% 0px;
}


/* =Titles */

.post .postheader,
.attachment .postheader {
	margin-right: 74px;
}

/* =Post body */

.post .postbody,
.attachment .postbody {
	clear: right;
}
.post p.postcontrols,
.attachment p.postcontrols {
	float: left;
}
.post .tags,
.attachment p.postcontrols {
	float: right;
	padding-right: 5px;
}
.sharing {
	margin-right: 40px;
}


/* =Comments link */

a.comments,
.post p.postcontrols a.comments {
	background: transparent url(images/post-icons.png) no-repeat right top;
	padding-right: 19px;
}


/* =Comments */

li.comment {
	background: transparent;
	list-style-position: outside; /* ie 7 bugfix */
	display: block;
	position: relative;
	min-height: 110px;
}
li.comment .wrap {
	background: transparent;
}
li.comment .avatar {
	float: right;
	padding-right: 8px;
}
li.comment .details {
	display: block;
	margin-right: 12px;
}
li.comment.with-avatars .details {
	margin-left: 0px;
	margin-right: 108px;
	padding-right: 4px;
	-webkit-box-shadow: #EEE 4px 0px 5px;
	-moz-box-shadow: #EEE 4px 0px 5px;
	box-shadow: #EEE 4px 0px 5px;
}
li.comment .details .head {
	background: #f7f8f8 url(images/postinfo-bg.gif) repeat-x right bottom;
}
li.comment .details .text {
	background: transparent url(images/comment-bg.png) repeat-x right top;
}
li.comment .details.admincomment .text {
	background: #f0f0f0 url(images/comment-bg-admin.png) repeat-x right top;
}
div.act {
	left: 0;
	right: auto;
	top: 0;
}
#respond .required {
	right: 210px;
}
#respond label {
	right: 220px;
}


/* =Sidebars */

#sidebar .widget_categories ul ul {
	margin: 0px 5px 4px 0px;
}
#sidebar .widget_categories ul ul ul {
	margin: 0px 0 8px; /* lower bottom-padding for 2+ level menu */
}
/* 2nd level menu */
#sidebar .widget_categories ul li li {
	margin-right: 25px;
}
/* 3rd ... n levels */
#sidebar .widget_categories ul li li li {
	margin-right: 10px;
}
#sidebar .widget_categories ul li a {
	padding: 3px 8px 3px 5px;
}
#sidebar .widget_categories ul li a:hover {
	background-color: #efefee;
	color: #ac0003;
}
#sidebar .widget_categories ul li:hover {
	background-color: #efefee;
}
#sidebar .widget_categories ul li a {
	background: transparent url(images/b1.png) no-repeat right 5px;
	padding-right: 20px;
}
#sidebar .widget_categories ul li a:hover {
	background-position: right -95px;
}
#sidebar .box h2.title,
#sidebar2 .box h2.title {
	background: transparent url(images/side-box-top.png) no-repeat right bottom;
	padding: 4px 20px 4px 0;
}
#sidebar .box ul,
#sidebar2 .box ul {
	background: transparent url(images/side-box-bg.png) repeat-y right bottom;
}
#sidebar .box caption,
#sidebar2 .box caption {
	text-align: right;
}


/* =Widgets */

.widget_search {
	margin-left: 20px !important;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
}
.widget_search input.searchfield,
.widget_search input#s {
	right: 16px;
	left: auto;
}
.widget_search input.searchfield:focus,
.widget_search input#s:focus {
	color: #000;
}
.widget_search input.searchbutton,
.widget_search input#searchsubmit {
	margin: 0px -4px;
	left: 0px;
	right: auto;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
}
.widget ul ul {
	margin: 0 .8em 0 0;
	padding: 0;
}
#sidebar li.linkcat h2.title,
#sidebar2 li.linkcat h2.title {
	text-align: left;
}


/* =Recent Comments Widget */

.widget ul#recentcomments li {
	background: transparent url(images/post-icons.png) no-repeat left top;
	padding-left: 18px;
}

/* =Calendar Widget */

.widget_calendar table#wp-calendar caption {
	text-align: left;
}

/* =Misc */

.left {
	float: right;
}
.right {
	float: left;
}

/* =Images and Gallery */

.post .postheader {
	margin-right: 0;
}
.entry img.alignleft,
.attachment img.alignleft {
	margin-right: 0;
}
.entry img.alignright,
.attachment img.alignright {
	margin-left: 0;
}
.wp-caption.alignleft {
	margin-right: 0;
}
.wp-caption.alignright {
	margin-left: 0;
}


/* =Pagination */

ol#comments li.comment.depth-2,
ol#comments li.comment.depth-3,
ol#comments li.comment.depth-4,
ol#comments li.comment.depth-5,
ol#comments li.comment.depth-6,
ol#comments li.comment.depth-7,
ol#comments li.comment.depth-8,
ol#comments li.comment.depth-9 {
	margin-right: 14px;
	margin-left: 0;
}
ol#comments li.comment.with-avatars.depth-2,
ol#comments li.comment.with-avatars.depth-3,
ol#comments li.comment.with-avatars.depth-4,
ol#comments li.comment.with-avatars.depth-5,
ol#comments li.comment.with-avatars.depth-6,
ol#comments li.comment.with-avatars.depth-7,
ol#comments li.comment.with-avatars.depth-8,
ol#comments li.comment.with-avatars.depth-9 {
	margin-right: 96px;
	margin-left: 0;
}


/* =Footer Widgets */

ul#footer-widgets li.widget {
	float: right;
}
ul#footer-widgets li.widget li li {
	padding-right: 1em;
}
.aligncenter {
	margin-right: auto;
	margin-left: auto;
}
.alignleft {
	float: right;
	margin-left: 20px !important;
}
.alignright {
	float: left;
	margin-right: 20px !important;
}
.profile .avatar img {
	padding: 3px;
	margin: 0 0 6px 6px;
}
.profile .info {
	margin-right: 148px;
}


/* =Twitter list */

#comment_mail_notify {
	margin-left: 4px;
}

/* =Left Sidebar */

body.sidebar-content #page #main-wrap #mid-wrap,
body.sidebar-sidebar-content #page #main-wrap #mid-wrap {
	right: 34%; /* width of the sidebar */
}
body.sidebar-content #page #main-wrap #side-wrap,
body.sidebar-sidebar-content #page #main-wrap #side-wrap {
	right: 66%; /* width of the main column */
}
body.sidebar-content #page #main-wrap #mid,
body.sidebar-sidebar-content #page #main-wrap #mid {
	width: 66%; /* width of the main column */
	left: 66%;
}
body.sidebar-content #page #main-wrap #sidebar,
body.sidebar-sidebar-content #page #main-wrap #sidebar {
	width: 34%; /* width of the sidebar */
	left: 166%;
}
body.sidebar-content #sidebar ul li,
body.sidebar-content #sidebar2 ul li {
	margin-right: 1em;
	margin-left: 1.4em;
}

/* =Flexible Layout */

body.flexible #page {
	width: 95% !important;
}