body {
	background: #bbd5db;
}
a {
	color: #8b9898;
}
a:hover {
	color: #35a5aa;
}
#site-description {
	color: #bbd5db;
}
#access li:hover > a,
#access ul ul :hover > a,
#access .current_page_ancestor > a,
#access .current_page_item > a,
#access .current_page_parent > a,
#access .current-menu-ancestor > a,
#access .current-menu-item > a,
#access .current-menu-parent > a {
	color: #35a5aa;
}
#featured-posts-container,
#single-header,
#footer {
	background: #8b9898;
}
.featured-post .entry-date,
.featured-post .entry-date a,
.feature-slider .entry-date,
.feature-slider .entry-date a {
	color: #fff;
}
.archive-posts,
#latest-posts-container {
 	border-color: #f0fef5;
}
.latest-post-title a:hover,
.archive-post-title a:hover,
.entry-title a:hover {
	color: #8b9898;
}
.entry-date,
.entry-date a {
	color: #4e8492;
}
.entry .more-link,
.page-link a {
	background-color: #4e8492;
	color: #fff;
}
#nav-below a:hover {
	color: #8b9898;
}
#author-info-box a:hover {
	color: #8b9898;
}
#author-avatar img,
.widget_recent_comments img {
	border-color: #4e8492;
}
#author-info-title {
	color: #8b9898;
}
.format-quote .entry-wrapper {
	background: #8b9898;
}
.format-quote .entry,
.format-quote .entry-wrapper a,
.format-quote .entry blockquote p {
	color: #fff !important;
}
.widget-area a:hover {
	color: #35a5aa;
}
.widget-title,
.widget-title a {
	color: #8b9898;
}
.widget_search #searchsubmit,
#searchform #searchsubmit {
	background: #4e8492;
}
#wp-calendar th {
	color: #8b9898;
}
#wp-calendar tbody a {
	color: #bbd5db;
}
#wp-calendar tbody a:hover {
	color: #35a5aa;
}
#wp-calendar #today {
 	background: #8b9898;
}
#wp-calendar #prev a,
#wp-calendar #next a {
	color: #bbd5db;
}
#wp-calendar #prev a:hover,
#wp-calendar #next a:hover {
	color: #35a5aa;
}
.rss-date,
.widget_twitter .timesince,
#footer-widget-area .widget-title,
#footer-widget-area .widget-title a {
	color: #bbd5db !important;
}
#comments .avatar {
	background: #8b9898;
}
.bypostauthor .comment-body {
	background: #8b9898 !important;
}
.comment-reply-link {
	background-color: #4e8492;
	color: #fff;
}
.comment-reply-link:hover {
	background: #111;
}
#respond label,
#respond p.comment-subscription-form label {
	color: #4e8492;
}
#comment-nav-below a:hover,
#comment-nav-above a:hover {
	color: #8b9898;
}
#site-generator a:hover {
	color: #d8eaf9;
}