.post .date .bg {
	background-image: url(images/rtl/date.png); 
}
#main {
	background-image: url(images/rtl/main-bg.jpg); 
}
#main-top {
	background-image: url(images/rtl/main-top.jpg); 
}
#main-bot {
	background-image: url(images/rtl/main-bot.jpg); 
}
#rss-link {
	background-image: url(images/rtl/ico-rss.png); 
}
#sidebar h4 {
	background-image: url(images/rtl/widgettitle.jpg); 
	background-position:15px 0; 
}
#sidebar ul ul li {
	background-image: url(images/rtl/sidebar-list-arr.gif); 
}
#sidebar #searchform .field-place {
	background-image: url(images/rtl/searchform-field.gif); 
}
#respond #submit {
	background-image: url(images/rtl/button.gif); 
}