#__key, #__key ul { padding: 0; margin: 0; clear: both; }
#__key { position: absolute; right: 1em; top: 1em; cursor: pointer; }
#__key li { list-style: none; text-align: left; margin-top: -1px; }
#__key .__line { display: table; border: 1px solid; }
#__key li .__label { display: table-cell; width: 9em; overflow: hidden; }
#__key li li .__label { width: 7.5em; padding-left: 1.5em; }
#__key li li li .__label { width: 6em; padding-left: 3em; }
#__key li li li li { display: none; }
#__key .__label:hover { background-color: gray; }
#__key .__check { display: table-cell; }
#__key .__check, #__key .__label { padding: .25em; }
#__key li:after { content: ''; display: block; clear: both; }
