object, #dft { height: 450px; width: 100%; }
#holder, #dft { position: absolute; }
input { width: 2em; text-align: center; position: absolute; }
.weight { top: 71%; }
input[name=w_a] { left: 5.5%; }
input[name=w_d] { left: 9%; }
.event { left: 20.4%; }
input[name=a_b] { top: 19%; }
input[name=a_g] { top: 28%; }
input[name=a_n] { top: 37%; }
input[name=d_b] { top: 67.5%; }
input[name=d_g] { top: 76.5%; }
input[name=d_n] { top: 85.5%; }
.utility { left: 31.9%; }
.valence { left: 47.5%; }
input[name=u_b], input[name=v_b] { top: 6%; }
input[name=u_g], input[name=v_g] { top: 38.3%; }
input[name=u_n], input[name=v_n] { top: 71.3%; }
.preference { left: 71%; width: 7em; }
input[name=p_b] { top: 34%; }
input[name=p_g] { top: 49%; }
input[name=p_n] { top: 65%; }
.inhibition { left: 64.5%; }
input[name=i_bg] { top: 36%; }
input[name=i_gn] { top: 68.5%; }
input[name=i_bn] { left: 57%; top: 46%; }
.self.inhibition { left: 68.7%; }
input[name=i_bb] { top: 9%; }
input[name=i_gg] { top: 41.7%; }
input[name=i_nn] { top: 75%; }
input[name=t] { top: 37%; left: 80%; }
button { position: absolute; }
#calc { bottom: 9%; left: 5%; }
input[name=count] { bottom: 3%; left: 2%; }
#iter { bottom: 3%; left: 5%; }

#tableholder, #chart { margin-top: 500px; width: 50%; float: left; }
#tableholder { height: 400px; overflow: auto; }
#tableholder table { width: 100%; }
#tableholder th, #tableholder td { border: 1px solid; }
