body {
  background-image: url("../backgrounds/garlic_light.jpg");
  background-color: #E8D8B4;
  color: #211701;
  text-align: justify;
  font-size: 13pt;
}

p {
  text-indent: 0.25in;
  margin-left: 0.25in;
  margin-right: 0.25in;
}

a:link, a:active {
  text-decoration: none;
  color: #6D2828;
}

a:visited {
  text-decoration: none;
  color: #48398C;
}

a:hover {
  color: #A30932;
}

h1 {
  font-size: 26pt;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-size: 17pt;
}

h1, h2, h3 {
  text-align: center;
}

td {
  text-align: justify;
}

th {
  text-align: left;
  vertical-align: top;
}
