body {
  background-color: white;
  font-size: 13pt;
}

.page-header {
  background-color: #99CCFF;
  text-align: center;
  font-size: 15pt;
}

.header {
  background-color: #FFF0D0;
  font-size: 14pt;
  font-weight: bold;
}

.info {
  background-color: #DDDDDD;
}

.disclaimer {
  font-size: 10pt;
}

table {
  border: none;
}
