html, body {
  height: 100%;
  margin: 0;
}

#menu {
  height: 100%;
  float: left;
  width: 23%;
  overflow: auto;
}

iframe {
  float: right;
  width: 77%;
  height: 100%;
  border: none;
}

.stylesheet {
  display: block;
  padding-left: 1em;
  text-decoration: none;
  border-bottom: 2px solid white;
}

.stylesheet:hover, .stylesheet:focus {
  border-bottom: 2px solid blue;
}

.checked {
  background-color: lightgray;
}

#urlstyles, #location {
  margin-top: 1em;
  padding-top: .5em;
  border-top: 2px solid;
}

#location {
  text-align: center;
}

#location input {
  width: 90%;
  text-align: center;
}
