h1, h2, h3 {
  text-align: center;
}

h1 {  
  font-size: 60px;
}

h1 {  
  font-size: 60px;
  margin: 0;
  color: #C00;
}

h2 {
  font-size: 50px;
  color: #0C0;
}

h3 {
  margin-top: 0;
  font-size: 40px;
  font-style: italic;
  color: #00C;
}

body {
  font-size: 20px;
  text-align: justify;
}

ol {
  padding-left: 2em;
}
