body, html { margin-top: 0; }
a { text-decoration: none; color: #05A; }
a:hover { text-decoration: underline; color: #940; }
table { border-collapse: collapse; }
#body { width: 755px; margin: auto; }
#header img { border: none; display: block; }
#quicklinks:after { content: ''; display: block; clear: both; }
#quicklinks {
  background: transparent url('graphics/slogan_back_v2.jpg') repeat-x;
}
#quicklinks .first { display: table-cell; height: 32px; }
#quicklinks form { float: left; }
#quicklinks form div { float: left; margin-left: .25em; margin-bottom: -10px; }
#quicklinks p { text-align: right; margin: 0 .5em; padding: 0; font-family: Arial, sans-serif; font-size: 120%; color: #06B; }
#navigation { background-color: #069; list-style-image: url('graphics/arrow.jpg');
              width: 120px; padding: 1em .25em .5em 1.25em; margin-right: 1em;
              vertical-align: top; }
#quicklinks form div, #quicklinks p { padding-top: .2em; }
#navigation .parent { list-style-image: url('graphics/arrow_down_blue.jpg'); margin-left: .1em; }
#navigation .parent li { list-style-image: url('graphics/arrow.jpg'); }
#navigation a { color: white; font-size: 90%; font-weight: bold; display: block; padding: .35em 0; }
#navigation ul { padding-left: .75em; }
#navigation ul a { color: #FC0; }
#navigation a, h1, h2, h3 { font-family: Verdana, Arial, Geneva, sans-serif; }
h1, h2, h3 { color: #059; }
h1 { color: #06B; margin: .3em 0 -.4em .5em; font-size: 120%; }
h2, h3 { margin: .25em; padding: .25em .5em; border-bottom: 1px soild #069; font-size: 100%; }
.marker { font-size: 60%; }
.image, #navigation .parent li.image { list-style: none; margin-left: -1em; margin-bottom: -.5em; }
.image img { border: 1px solid; border-style: none solid; }
#jump { list-style: none; padding: 0; border: 1px #069; border-style: none solid; }
#jump li:last-child { margin-bottom: 0; }
#jump img { border: none; }
#center { display: table; }
#header, #quicklinks, #contentrow, #footer { display: table-row; }
#primary { display: table; width: 100%; }
#contenttable { display: table-row; }
#navigation, #content, #jump { display: table-cell; }
#content { vertical-align: top; }
#content p { padding: .05em .75em; }
#content addr { display: block; margin: .75em; }
#content addr span { display: block; }
#footer { background-color: #069; }
#footer .first { padding: .5em; }
#footer p { margin: 0; color: white; text-align: center; font-size: 90%; }
#footer a { color: #FC0; }
#body { display: table; }
#middle { display: table-row; }
#leftshadow, #rightshadow { display: table-cell; }
#leftshadow { width: 15px; background: transparent url('graphics/left_shadow.gif') repeat-y top right; }
#rightshadow { width: 15px; background: transparent url('graphics/right_shadow.gif') repeat-y top left; }
input { padding: .1em .25em; }

#center { border-width: 1px; border-style: none solid; }

table { width: auto; }
