<?xml version="1.0" encoding="UTF-8" standalone="no" ?><tmpl:template xmlns="http://www.w3.org/1999/xhtml"               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">  <tmpl:var name="title">Medical Mariuana Voter Guide</tmpl:var>  <tmpl:var name="content">    <h1><span class="marker">&#x25BC;</span> Voter Guide</h1>    <img src="graphics/blue_linefade395.jpg" width="395" alt="" />    <p>We are still in the process of finalizing our downloadable voter guide. As the campaign progresses, and the candidates solidify their positions, we will provide information about each of the candidate's views on medical marijuana. This page will be updated regularly as information develops.</p>    <p>Keep checking back for updates or <a href="http://www.kintera.org/site/lookup.asp?c=mjJTJ3MRIwE&amp;b=2626331">sign up for our e-mail updates</a>.</p>  </tmpl:var></tmpl:template>  