<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Granite Staters for Medical Marijuana</tmpl:var>
  <tmpl:var name="content">
    <h1><span class="marker">&#x25BC;</span> Home</h1>
    <img src="graphics/blue_linefade395.jpg" width="395" alt="" />
    
    <p>Have you ever wished that medical marijuana would become a prominent issue in presidential politics? It's about to.</p>
    
    <p>Granite Staters for Medical Marijuana is a yearlong effort to influence the presidential candidates to take strong, public, positive positions on medical marijuana during the presidential primary campaign in New Hampshire, which is the first state to hold a primary (on January 22, 2008).</p>
    
    <p>Thanks to Granite Staters for Medical Marijuana's persistence during the 2004 primary, the medical marijuana issue became a mainstream part of the campaign dialogue and received extensive nationwide press coverage in outlets from <cite>The Washington Post</cite> to CNN's "Inside Politics." Our work was praised in the largest newspaper in the state, the <cite>Union Leader</cite>, where John DiStaso wrote: "Of all the special interest groups so far involved in the primary campaign, advocates of medical marijuana have been the most active and most visible to this point."</p>
    
    <p>Our work during the last primary resulted in six of the nine Democratic presidential candidates taking positive positions on medical marijuana (including U.S. Sen. John Kerry, who went on to win the Democratic nomination).</p>
    
    <p>And now we're ready to do it again &mdash; but we need your help!</p>
    
    <p>If you live in New Hampshire and want to be part of our campaign, please e-mail us at <a href="mailto:info@granitestaters.com">info@granitestaters.com</a> today!</p>
    
    <p>As the campaign unfolds, this site will be updated regularly with new information on the candidates' positions, statements, and campaign events. Please check back regularly!</p>
  </tmpl:var>
</tmpl:template>
  
