html {
  background-color: rgb(206, 235, 203);
  font-size: 13pt;
}

/* IE seems to need this or else it does the default font */
td {
  font-size: 13pt;
}

.member {
  border: collapse;
}

a {
  text-decoration: none;
  color: rgb(64, 64, 187);
}

a:hover {
  color: rgb(129, 46, 46);
}

.city, .state, .zip {
  display: inline;
}

.state {
  padding-right: 1em;
}

.address, .phone {
  margin-left: .5em;
}

.household {
  padding: .5em 1em .5em 1em;
  margin: .25em;
  border: medium dashed black;
}