IndexIgnore ..
IndexOptions +SuppressHTMLPreamble +ScanHTMLTitles

RewriteEngine on

RewriteCond %{REQUEST_URI} !\.py$
RewriteRule ^.*$ http://hoenir.himinbi.org/2003/06/24/day-one/ [R,L]
# Redirect 301 / http://hoenir.himinbi.org/2003/06/24/day-one/

<FilesMatch "ljml$">
    AuthUserFile /home/wjholcomb/sites/.htpasswd
    AuthName "private pass"
    AuthType Basic
    Require user will
</FilesMatch>
