.arrow-box { /* Inserted by sorting script to hold arrow */
  margin-left: .5em;
  margin-right: .5em;
  padding-left: .25em;
  padding-right: .25em;
  width: 1em;
  border: thin dashed gray;
}

.arrow-box:hover {
  cursor: pointer;
  border: thin solid gray;
  background-color: yellow;
}

#active-arrow {
  color: white;
  background-color: black;
}
