.image-radio-option td span {
	display: block;
	margin: 5px 0 0;
}
.image-radio-option .layout {
	float: left;
	margin: 0 20px 1.5em 0;
}
body.rtl .image-radio-option .layout {
	float: right;
	margin: 0 0 1.5em 20px;
}
