/* Background color. */
body {
	background-color: #e2e4e9;
}
/* Link colors. */
a {
	color: #b91313;
}
a:hover {
	color: #e81e1e;
}
/* Border color for menu and columns. */
#c1,
#c2,
#c3,
.menu {
	border-color: #c9d1dc;
}
/* Background color for all menu items. */
.menu li:hover > a,
.menu li ul li a,
.menu li.current-menu-ancestor a,
.menu li.current_page_ancestor a {
	background-color: #c9d1dc;
}
/* Background color for selected item in the menu. */
.menu li.current-menu-item > a,
.menu li.current-menu-item > a:hover,
.menu li.current_page_item > a,
.menu li.current_page_item > a:hover {
	background: #b6c0cf;
}
/* Background color for widgets. */
.comment-body,
.sticky,
.widget {
	background: #f2f3f4;
}
/* Wiget titles. */
.widget h2 {
	background: #dcdfe2;
	color: #7e7e7e;
}
