.menu,
#header,
#c1,
#c3,
.post-pages,
.post-meta,
.post-nav,
#comments,
.navigation,
#footer {
	display: none;
}
body {
	font-size: 12pt;
}
a {
	color: #520;
	font-weight: bold;
	text-decoration: underline;
}
#wrap,
#c2,
.post {
	background: none;
	border: 0;
	float: none !important;
	margin: 0; padding: 0;
	overflow: visible;
	width: auto;
}
.print-view {
	display: block;
}
.sep {
	page-break-after: always;
}
