#image { fill: none; stroke-width: 22; }
#form { stroke: black; }
#block { stroke: white; }
#starsbg { fill: #BBB; stroke: #999; stroke-width: .1; }
#stars { fill-opacity: .9; stroke-width: .1; }
#starsbg, #stars { display: none; }
text { text-anchor: middle; font-size: 204px; display: none; font-family: sans-serif;
       opacity: .5; fill: white; stroke: black; }
