/*
	A dark color scheme for Chateau
*/
body {
	background: #191819;
	color: #a19090;
}
input[type=text],
.post-password-required input[type=password],
textarea {
	background-color: #000;
	border: 1px solid #393838;
	color: #a19090;
	padding: 3px 5px;
}
#menu li {
	background-color: #191819;
}
#menu a {
	border-bottom: 1px solid #191819;
	border-top: 1px solid #191819;
	color: #999;
}
#menu .current-menu-item > a,
#menu .current_page_item > a,
#menu .current-page-ancestor > a {
	border-bottom-color: #ccc;
	border-top-color: #ddd;
	color: #b34040;
	font-weight: bold;
}
#menu a:hover ,
#main-title #site-title a,
#main-title #site-title a:hover,
.post-title h1,
.post-title a,
.post-info .post-com-count a,
.post-info a:hover,
.format-image .post-info a,
.post-extras .post-edit-link,
.post-extras a:hover,
.post-entry a,
.post-entry a:hover,
.post-entry .more-link,
.post-entry .more-link:hover,
#author-description a,
.more-posts .page-title em,
#error404 a:hover,
#more-posts-inner a,
#more-posts-inner a:hover,
#nav-below a:active,
#nav-below a:hover,
#nav-below a,
#calendar_wrap table td a,
#calendar_wrap table td a:hover,
.sidebar-widget a,
.sidebar-widget a:hover,
#comments #respond h3,
#comments li.pingback a,
.comment-text p a,
.comment-text table a,
.comment-text .reply-link a,
.comment-text .reply-link a:hover,
.comment-text .edit-comment a,
#comments li.byuser .comment-author,
.comment-author a,
.comment-date a,
#comments li a:hover,
#comments h3,
#copyright a:hover,
#comment-nav-above a,
#comment-nav-below a {
	color: #fff;
}
.post-info,
.post-extras,
.post-extras p a,
.post-entry,
.post-entry p,
.post-entry li,
.post-entry h4,
.post-entry h5,
.post-entry h6,
.wp-caption .wp-caption-text,
.gallery-caption,
.wp-caption .wp-caption-text:before,
.post-entry cite,
.more-posts .page-title,
.more-posts .notice,
#more-posts-inner article,
.comment-author,
.comment-text p,
#comments li.pingback .comment-text .edit-comment a,
#calendar_wrap table td,
#error404 span {
	color: #a19090;
}
.post-entry hr {
	background-color: #3e3e3e;
}
#main-title #site-description {
	color: #858585;
}
#search #s {
	background-color: transparent;
	border: 1px solid;
	border-color: #393838;
	color: #777;
}
#search #s:focus {
	border-color: #393838;
	color: #777;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#main-image {
	border-top: 1px dotted #3e3e3e;
}
#main-image img {
	border: 1px solid #3e3e3e;
}
#content {
	border-left: 3px double #3e3e3e;
}
.single .post {
	border-bottom: 1px solid #3e3e3e;
}
.post-title h1 {
	border-bottom: 1px solid #3e3e3e;
}
.post-date {
	color: #ccc;
}
.post-date em {
	background: #191819;
}
.post-date span {
	color: #ccc;
}
.post-extras strong {
	border-bottom: 1px solid #3e3e3e;
}
.post-entry h3,
#comments .comment-text h3 {
	border-bottom: 1px dotted #3e3e3e;
	color: #c9774a;
}
.entry-format,
.more-posts h2.entry-format {
	background-color: #191819;
	color: #ccc;
}
.post-entry img {
	border: 1px solid;
	border-color: #3e3e3e;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.post-entry pre,
.comment-text pre {
	background: #0d0c0d;
}
.post-entry blockquote,
.comment-text blockquote {
	border-bottom: 1px solid #6a685d;
	border-top: 1px solid #545244;
}
.post-entry blockquote p:first-child,
.comment-text blockquote p:first-child {
	border-top: 1px solid #6a685d;
}
.post-entry blockquote p,
.comment-text blockquote p {
	border-right: 1px solid #545244;
	color: #C9774A;
}
.post-entry tr.alternate td,
.comment-text tr.alternate td {
	background: #252325;
}
.post-entry table,
.comment-text table {
	border: 1px solid #3e3e3e;
}
.post-entry tr td,
.comment-text tr td {
	border-top: 1px solid #3e3e3e;
}
.post-entry ins,
.comment-text ins {
	background: #0d0c0d;
}
.post-meta {
	border-top: 1px solid #3e3e3e;
}
.more-posts .page-title,
.more-posts .notice {
	border-bottom: 1px solid #3e3e3e;
	border-top: 1px solid #3e3e3e;
}
#more-posts-inner span {
	border-bottom: 1px solid #3e3e3e;
}
#comments h3 {
	border-bottom: 1px solid #3e3e3e;
}
#comments h3 span {
	background: #191819;
}
#comments li {
	border-top: 4px solid #3e3e3e;
}
.comment-date a:hover {
	color: #a19090 !important;
}
.comment-text {
	border-bottom: 1px solid #191819;
	border-top: 1px dotted #3e3e3e;
}
.comment-text p a:hover {
	color: #fff !important;
}
#comments li.byuser .comment-text {
	border-top-color: #b8b8b8;
}
#comments li.bypostauthor {
	border-top: 4px solid #ccc;
}
#commentform input[type="text"],
#commentform textarea {
	background: #000;
	border-bottom: 1px solid #dadada;
	border-left: 1px solid #999;
	border-right: 1px solid #dadada;
	border-top: 1px solid #999;
	padding: 2px;
	width: 98%;
}
#commentform input[type="text"]:focus,
#commentform input[type="text"]:hover,
#commentform textarea:focus,
#commentform textarea:hover {
	background: #f7f7f7;
	border-bottom: 1px solid #dadada;
	border-left: 1px solid #999;
	border-right: 1px solid #dadada;
	border-top: 1px solid #999;
}
#comments #respond h3 {
		border-bottom: 1px solid #3e3e3e;
}
.sidebar-widget h1 {
	color: #8d8767;
}
.sidebar-widget h1 a{
	color: #8d8767;
}
.sidebar-widget li {
	border-bottom: 1px solid #3e3e3e;
	color: #a19090;
}
#subscribe-item h1 {
	color: #c9774a;
}
#recent-comments em {
	color: #999;
}
.sidebar-widget p {
	color: #333;
}
#calendar_wrap caption {
	background: #242424;
	border: 1px solid #3e3e3e;
}
#calendar_wrap table {
	border: 1px solid #3e3e3e;
}
#calendar_wrap table th {
	border-bottom: 1px solid #3e3e3e;
	color: #333;
}
.content-sidebar #content {
	border-right: 3px double #3e3e3e;
}
#nav-below a {
	background: #242424;
	border-color: #3e3e3e #2d2b2d #2d2b2d #3e3e3e;
}
#nav-below a:hover {
	border-color: #555 #3a383a #3a383a #555;
}
#copyright a:hover {
	border-color: #000;
}
#error404 h1 {
	color: #fff;
}
#error404 p {
	color: #a19090;
}
#error404 a {
	color: #675f34;
}
.highlander-dark #respond form,
#respond #comment-form-post-to {
	background-color: transparent!important;
}
#respond #comment-form-post-to label {
	color: #fff!important;
}
.format-image .post-info {
	border-bottom: 1px solid #3e3e3e;
	border-top: 1px solid #3e3e3e;
}