AddCharset UTF-8 .html .php

DefaultType text/plain

<FilesMatch "mutt.aliases">
  AuthUserFile /home/wjholcomb/sites/.htpasswd
  AuthName "aliases pass"
  AuthType Basic
  Require user will
</FilesMatch>
