body, html { padding: 0; margin: 0; background-color: #421D20; text-align: center; font-size: 12.5pt; font-family: "Times New Roman", serif; }
#header { height: 459px; background: transparent url('apple_blossoms.png') no-repeat;
   margin-left: -170px; padding-left: 440px; margin-bottom: -335px; padding-top: 10px; }
#header h1 { float: right; margin-left: -100px; margin-right: 10px; }
#body { width: 775px; margin: 0 auto; background-color: #FFFCED; text-align: left; position: relative; }
h1 { width: 500px; font-size: 40pt; float: right; margin: 0; padding: 0; text-align: center; font-family: sans-serif; font-weight: normal; }
h1.small { font-size: 30px; margin-top: -.3em; }
.sIFR-alternate { display: none; }
h1 .sIFR-flash { margin-bottom: -10px; }
#content { margin-left: 26%; width: 73%; z-index: 5; }
#body:after, #main:after { content: ''; display: block; clear: both; }
#navigation { float: left; clear: left; margin-top: 280px; width: 25%; z-index: 5; }
#navigation { list-style: none; margin-left: 0; padding: 0; }
#navigation li { padding: .2em 0; border-left: 4px solid #ccc5ad; }
#navigation a { text-decoration: none; font-size: 13pt; padding: .3em .1em .2em 1em; font-family: Verdana, sans-serif; display: block; color: #007; background-color: #f7efd2; border: none; text-indent: -.5em; }
#navigation a:hover { color: #700; background-color: #FED; }
#content h2 {
  font-family: Georgia, "Times New Roman", Times, serif; font-size: 19pt;
  border-bottom: 1px solid #ccc5ad; padding-left: .5em; line-height: .75em;
  margin: 2em 3em -.25em 0; font-weight: normal; }
a { text-decoration: none; border-bottom: 1px dotted; color: #007; }
a:hover { color: #700; border-bottom-style: solid; }
#footer { padding: 1em .25em .5em; text-align: center; border-top: 3px double; }
addr { display: block; margin-bottom: 1em; }
