body, html { padding: 0; margin: 0; background-color: white; font-size: 12.5pt; font-family: "Times New Roman", serif; }
#body { width: 775px; margin: 0 auto; background-color: #FFFCED; border: 1px #333; border-style: none solid; }

#header { height: 165px; background: #314C81 url('michigan_stamp.small.jpg') no-repeat 5px 5px;
   margin-left: -70px; padding-top: 5px; border-bottom: 2px solid #333; }
#header h1, #header h2 { width: 575px; font-size: 50px; float: right; text-align: center; font-family: sans-serif; font-weight: normal; }
#header h1, #header h2 { margin: 0; }
#header h2 { font-size: 24px; font-style: italic; margin-top: .5em; }
#header a { color: #F4DFAD; text-decoration: none; border: none; }
#header h1.small { font-size: 25px; margin: -.2em 0 -.25em; }
.sIFR-hasFlash #header h1.small { font-size: 30px; margin: -20px 0; }
.sIFR-flash { visibility: visible; }
.sIFR-hasFlash h1, .sIFR-hasFlash #header h2 { visibility: hidden; margin: 0; padding: 0; margin-bottom: -20px; }
.sIFR-hasFlash #header h2 { font-size: 26pt; margin-top: -18px; line-height: 1.1em; margin-bottom: -50px; }
.sIFR-hasFlash .sIFR-alternate { display: none; }

#content:after, #navigation:after { content: ''; display: block; clear: both; height: 0; }

#navigation { width: 100%; }
#navigation, #navigation ul { list-style: none; margin: 0; padding: 0; z-index: 30; border-bottom: 1px solid #333; }
#navigation a { display: block; padding: .5em .75em; clear: none; font-weight: bold; margin-left: -1px; text-decoration: none; border: 1px solid; border-style: none solid; color: #314C81; font-family: Verdana, sans-serif; font-size: 10pt; }
#navigation li { float: left; }
#navigation, #navigation a, #navigation li:hover ul a, #navigation li.hover ul a { background-color: #F4DFAD; color: #314C81; }
#navigation li:hover a, #navigation li.hover a, #navigation li:hover ul a:hover, #navigation li.hover ul a:hover { background-color: #314C81; color: #F4DFAD; }
#navigation ul { position: absolute; }
#navigation ul li { float: none; }

#content { padding: 0 1em; }

#content h2 {
  font-family: Georgia, "Times New Roman", Times, serif; font-size: 19pt;
  border-bottom: 1px solid #ccc5ad; padding-left: .5em; line-height: .75em;
  margin: 1em 3em -.25em 0; font-weight: normal; }
a { text-decoration: none; border-bottom: 1px dotted; color: #007; }
a:hover { color: #700; border-bottom-style: solid; }
#footer { padding: 1em .25em .5em; text-align: center; border-top: 3px double; }
address { display: block; margin-bottom: 1em; }
address span { display: block; }
