<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Michigan Coalition for Compassionate Care</tmpl:var>
  <tmpl:var name="header">
    <link rel="stylesheet" type="text/css" href="form.css" />
  </tmpl:var>
  <tmpl:var name="content">
    <h2>Volunteer Committees</h2>

    <p>Thank you for your interest in joining the Finance or Signature Committee for this campaign. The <a href="commitments.html">dedicated efforts of activists like yourself</a> will be crucial to passing a medical marijuana initiative here in 2008.</p>

    <p>To get started, simply fill out the form below to commit to either the fundraising or signature-gathering goal, and please be sure to check off whether you would like your name displayed on our Web site or would prefer to remain anonymous. Once you volunteer to help out, a campaign staff member will contact you within one business day to explain the next steps. Thank you again for your support!</p>

    <form id="committees" action="mail_form.php" method="post">
    <ul class="form">
      <li class="required">
        <label>First Name:</label>
        <input type="text" name="first name" />
      </li>
      <li class="required">
        <label>Last Name:</label>
        <input type="text" name="last name" />
      </li>
      <li class="required">
        <label>Address:</label>
        <input type="text" name="address" />
      </li>
      <li>
        <label>Apt/Suite:</label>
        <input type="text" name="apartment" />
      </li>
      <li class="required">
        <label>City:</label>
        <input type="text" name="city" />
      </li>
      <li class="required">
        <label>State:</label>
        <input type="text" name="state" />
      </li>
      <li class="required">
        <label>Zip Code:</label>
        <input type="text" name="zip" />
      </li>
      <li>
        <label>Country:</label>
        <input type="text" name="country" />
      </li>
      <li class="required">
        <label>E-mail:</label>
        <input type="text" name="email" />
      </li>
      <li class="required">
        <label>Home Phone:</label>
        <input type="text" name="home phone" />
      </li>
      <li>
        <label>Work Phone:</label>
        <input type="text" name="work phone" />
      </li>
      <li>
        <label>Mobile Phone:</label>
        <input type="text" name="mobile phone" />
      </li>
      <li class="check">I commit to:
      <ul>
        <li>
          <input type="checkbox" name="committment" value="donate $1000" />
          <label>Raising/donating $1,000</label>
        </li>
        <li>
          <input type="checkbox" name="committment" value="collect signatures" />
          <label>Collecting 1,000 signatures</label>
        </li>
      </ul></li>
      <li class="radio">Please keep my name anonymous:
      <ul>
        <li>
          <input type="radio" name="anonymous" value="yes" selected="selected"/>
          <label>Yes</label>
        </li>
        <li>
          <input type="radio" name="anonymous" value="no" />
          <label>No</label>
        </li>
      </ul></li>
      <li class="submit"><input type="submit" value="Submit" /></li>
    </ul>
    </form>
  </tmpl:var>
</tmpl:template>
