<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Michigan Coalition for Compassionate Care</tmpl:var>
  <tmpl:var name="header">
    <link rel="stylesheet" type="text/css" href="thermometers.css" />
    <link rel="stylesheet" type="text/css" href="sidebar.css" />
  </tmpl:var>

  <tmpl:var name="content">
    <h2>Welcome!</h2>
    
    <p>The Michigan Coalition for Compassionate Care (MCCC) is a grassroots organization devoted to passing a medical marijuana initiative in Michigan in November 2008. Currently, seriously ill people who use marijuana for medical purposes face the same penalties as those who use marijuana recreationally.</p>

    <p>On November 4, 2008, Michigan voters could have a chance to vote to protect Michigan's medical marijuana patients from arrest and jail. But the voters will not have that chance unless we collect more than 300,000 signatures to get the initiative on the ballot &mdash; and that's where you come in!</p>

    <h2><a href="committees.html">Volunteer Committees</a></h2>
    
    <p>Signature-gathering can be an expensive and difficult process &mdash; so we're introducing an exciting new program to make sure that the medical marijuana initiative qualifies for the ballot and passes into law.</p>

    <p>Michigan law requires that we collect 304,101 signatures in six months to get the medical marijuana initiative on the ballot. Because validity rates for signatures hover around 55%, this means we actually need to collect nearly 550,000 raw signatures to qualify.</p>

    <p>Because it costs us a dollar for every signature, we need the help of both generous donors and committed volunteers to make this happen. If only 450 supporters commit to either donating or raising $1,000 and only 100 supporters commit to collecting 1,000 signatures as volunteers, the drive will fund itself &mdash; and the money saved can be devoted to the actual campaign to pass the initiative in 2008.</p>

    <p>Only a truly grassroots effort will accomplish the ultimate goal of protecting medical marijuana patients in Michigan from the threat of arrest and jail, so we need all of our supporters to pitch in!</p>

    <p><a href="committees.html">Join the Finance Committee or Signature Committee today!</a></p>
  </tmpl:var>
</tmpl:template>
