<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Help the Michigan Coalition for Compassionate Care</tmpl:var>
  <tmpl:var name="header">
    <link rel="stylesheet" type="text/css" href="form.css" />
  </tmpl:var>
  <tmpl:var name="content">
    <h2>Volunteer to Help MCCC</h2>

    <p>If you live in Michigan and would like to volunteer for the campaign, please fill out the form below and a member of the campaign team will contact you shortly.</p>

    <form id="volunteer" action="mail_form.php" method="post">
    <ul class="form">
      <li class="required">
        <label>First Name:</label>
        <input type="text" name="first name" />
      </li>
      <li class="required">
        <label>Last Name:</label>
        <input type="text" name="last name" />
      </li>
      <li class="required">
        <label>Address:</label>
        <input type="text" name="address" />
      </li>
      <li>
        <label>&nbsp;</label>
        <input type="text" name="apartment" />
      </li>
      <li class="required">
        <label>City:</label>
        <input type="text" name="city" />
      </li>
      <li>
        <label>State:</label>
        <input type="text" name="state" value="Michigan" disabled="disabled" />
      </li>
      <li class="required">
        <label>Zip:</label>
        <input type="text" name="zip" />
      </li>
      <li class="required">
        <label>E-mail:</label>
        <input type="text" name="email" />
      </li>
      <li class="required">
        <label>Home Phone:</label>
        <input type="text" name="home phone" />
      </li>
      <li>
        <label>Work Phone:</label>
        <input type="text" name="work phone" />
      </li>
      <li>
        <label>Mobile Phone:</label>
        <input type="text" name="mobile phone" />
      </li>
      <li class="submit"><input type="submit" value="Submit" /></li>
    </ul>
    </form>
  </tmpl:var>
</tmpl:template>
