/* =Blue Ribbon
-------------------------------------------------------------- */
.main-title {
	background: #0b516d url(blue/main-title.png) no-repeat;
	border-bottom: 1px solid #333;
}
.main-title .left-fold {
	background: url(blue/main-title-back.png) no-repeat;
}
.main-title .edge {
	background: url(blue/main-title-edge.gif) no-repeat;
}

.main-title h3 {
	text-shadow: 1px 1px #083547;
}
.post-date {
	color: #083547;
	text-shadow: 1px 1px #24627c;
}