@charset "utf-8";

body { font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; }

#logo { float:left; display:inline; margin:24px 0 0 3px; }
#logo a, #logo a:visited { font-size:26px; }

#menu a, #menu a:visited { padding:21px 30px 14px; }
#menu .current_page_item a, #menu .current_page_item a:visited,
#menu .current-cat a, #menu .current-cat a:visited
  { padding-bottom:22px; background:url(img/header_menu_arrow.gif) no-repeat center bottom; }

#menu a:-moz-any-link { padding:20px 30px 14px; }
#menu .current_page_item a:-moz-any-link, #menu .current-cat a:-moz-any-link
  { padding-bottom:21px; background:url(img/header_menu_arrow.gif) no-repeat center bottom; }

.post_meta { margin:33px 0 0 0; }

.post_content a.more-link, .post_content a.more-link:visited 
  { padding:2px 0 2px 45px; }

.page_navi a, .page_navi a:visited, .page_navi a:hover, .page_navi span.current,
.page_navi span.pages, .page_navi span.extend, .page_navi span.current, .page_navi span.dots
 { padding:11px 0 8px; margin:0 3px 0 0; line-height:100%; }

#headline p { font-weight:normal; }

#copyright li { padding:3px 0 0 13px; }

.search_tag { padding:5px 0 2px 24px; }
.search_tag:-moz-any-link { padding:4px 0 2px 24px; }
#entries_rss { padding:4px 0 2px 18px; }

#comment_header li { padding:7px 10px 4px; }
#add_comment a { padding:3px 0 0 20px; }
#comment_feed a { padding:3px 0 0 20px; }
.comment-act { background:url(img/arrow2.gif) no-repeat left 3px; }

