html {
    background-color: white;
    background-image: url('http://odin.himinbi.org/gallery/d/48449-1/swan_header.png');
    background-attachment: fixed;
    background-position: -60px 15px;
    background-repeat: no-repeat;
}

body {
    max-width: 650px;
    margin: auto;
}

#header {
    display: block;
    margin: 40px auto;
}

.info, .info img {
    display: block;
    margin: 2em auto 8em;
    border: none;
}

h2 {
    font-size: 40px;
    text-align: center;
}

.number:after {
    content: ':';
}
