@import url('site.css');
@import url('header.css');

table { border-collapse: collapse; width: 100%; }
th, td { border: 1px solid; padding: .25em .5em; text-align: center; }
td { height: 50px; }
.thumbnail, .player { padding: 0; }
.pathholder { border-bottom: none; }
.player { border-left: none; padding-top: .25em; }
.thumbnail { border-top: none; border-right: none; }
.thumbnail img { height: 100px; margin-top: -50px; }
.details { text-align: left; margin-left: 50px; display: none; }
.details, .details ul { list-style: none; }
.details ul { padding-left: 0; }
.details li { margin: .25em 0; }
.buy li { margin-left: 2em; }
a { text-decoration: none; }
.commentopts li { float: left; padding-top: 1em; }
.commentopts a { display: block; padding: .25em .75em; }
.selecting { opacity: .75; color: #AAA; }
.selected { color: black; }
.rating { cursor: pointer; }
.gcpick .rating { background: transparent url('gc_logo.sm.png') no-repeat center center; }
.gcpick span { position: relative; top: .8em; }
.pager { list-style: none; padding: 0; margin: 0; clear: both; }
.pager:after, .details ul:after { content: ''; display: block; clear: both; }
.pager li { float: right; }
.pager a { display: block; padding: .25em .5em; height: 1em; margin-left: -1px; border: 1px solid; }
.buy .itunes { list-style-image: url('http://promonet.iodalliance.com/img/service_icon_4.gif'); }
.buy .emusic { list-style-image: url('http://promonet.iodalliance.com/img/service_icon_13.gif'); }
.buy .rhapsody { list-style-image: url('http://promonet.iodalliance.com/img/service_icon_1.gif'); }
.buy .galleryac { list-style-image: url('http://promonet.iodalliance.com/img/pbl_icon.gif'); }
.buy .napster { list-style-image: url('http://promonet.iodalliance.com/img/service_icon_2.gif'); }
.buy .groupietunes { list-style-image: url('http://promonet.iodalliance.com/img/service_icon_96.gif'); }
.up, .down { font-size: 50%; position: relative; color: #AAA; }
.active { color: black; }
.up { top: -.5em; right: -.25em; }
.down { top: .3em; right: .25em; }
.share li { float: left; }
.share a { padding: .25em .5em;  }
.share img { border: none; }
#navigation { width: 10em; float: right; }
#navigation, #navigation ul { list-style: none; }
#navigation ul { padding-left: 0em; }
#navigation li { text-indent: -.5em; padding-left: .75em; }
.rss { display: block; width: 4.5em; }
.rss img { border: none; height: 1.25em; margin-right: .2em; }
.rss span { display: inline-block; padding: .1em .35em; background-color: #F60; color: white; position: relative; top: -.4em;
            border-width: 1px; border-style: solid; border-color: #FFC8A4 #7D3302 #3F1A01 #FF9A57; }
.rss span:hover { background-color: #A40; }
.gclogo { float: left; height: 30px; margin-right: .25em; border: none; }
