#navmenu { float: left; margin: 18px 180px 0 0; }
#navmenu:after { content: ''; display: block; clear: both; }
#navmenu, #navmenu ul { color: white; padding: 0; }
#navmenu ul a { color: #711; }
#navmenu a, #navmenu span
 { padding: .3em .5em .2em; text-decoration: none; font-size: 12px;
   display: block; }
#navmenu > li:first-child { border-left: none; }
#navmenu > li:last-child { border-right: none; }
#navmenu a:hover { }
#navmenu li { float: left; list-style: none; border: 1px solid #888; border-style: none solid; }
#navmenu ul { display: none; position: absolute; z-index: 10; background-color: white; }
#navmenu ul li { border-width: 2px; float: none; margin: -2px -2px 0; }
#navmenu li:hover ul { display: block; }
