html, body { font-size: 15px; margin: 0; }
body { background: black url('../images/fading_stripes.tile.png') repeat-x scroll 0px 140px; }
#main { width: 855px; background: transparent url('../images/top_bg.png') no-repeat; padding-left: 55px; padding-top: 50px; }
#content { background: white url('../images/top_bg.png') no-repeat -55px -50px; padding-top: 20px; width: 770px; }
a { color: #A33; text-decoration: none; }
a:hover { color: #411; }
#footer { text-align: center; margin-top: 1em; }

#leftmenu, #main { float: left; }
#leftmenu li { list-style: none; font-size: 13px; margin-top: 1em; }
#leftmenu li li { margin-left: .5em; }
#leftmenu ul { margin: 0; padding: 0; }
#leftmenu a { color: white; display: block; padding: .25em 40px .25em .5em; }
#leftmenu li li a { color: white; display: block; padding: .25em 40px .25em .5em; margin: 0 15px; }
#leftmenu li li a { background-color: transparent; }
#leftmenu span { color: white; display: block; margin: -10px 0 -10px -10px; }
#leftmenu { margin-right: -70px; margin-top: 30px; }

#content h1 { color: #711; font-size: 40px; font-family: "Verdana"; margin: 0; }
#content h1, #content p { margin-left: 100px; margin-right: 20px; }
