/*  
Skin Name: Black
Version: 1.0
Description: Skin for iTheme2
*/

body,
button,
input,
select,
textarea {
	color: #aaa;
}
a, a:visited {
	color: #97dffc;
}
h1, h2, h3, h4, h5, h6,
dt, #content th {
	color: #fff;
}
input[type=text], input[type=password], textarea {
	background: #444;
	border-color: #555;
}
ins, pre {
	color: #333;
}


/* =Panel background styles
----------------------------------------------- */

#featured, #content, .widget {
	background: #222;
	border: solid 1px #323232;
}


/* =Menu
----------------------------------------------- */

#access {
	border: solid 1px #000;
	background: #000 url(images/nav-bar-bg.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), to(#151515));
	background: -moz-linear-gradient(top,  #4b4b4b,  #151515);
	background: linear-gradient(-90deg, #4b4b4b, #151515);
}
#access > div > ul > li,
#access div.menu > ul > li.current_page_item:first-child,
#access div.menu > ul > li.current-menu-item:first-child,
#access li.menu-item-home.current_page_item,
#access li.menu-item-home.current-menu-item {
	border-color: #000;
}
#access div.menu > ul > li:first-child > a,
#access li.menu-item-home a {
	background-position: -41px center;
}


/* =Content
----------------------------------------------- */

.entry-title,
.entry-title a {
	color: #fff;
}


/* =Comments
----------------------------------------------- */

#comments {
	background: #2f2f2f;
}
.commentlist {
	border-color: #222;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.comment-content,
.commentlist li.pingback {
	border-color: #222;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.1);
	box-shadow: 0 1px 0 rgba(255,255,255,.1);
}


/* =Widgets
----------------------------------------------- */

.widgettitle,
.widgettitle {
	color: #fff;
	border-top: solid 1px #989898;
	border-bottom: solid 1px #000;
	background: #3e3e3e url(images/widgettitle-bg.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#3e3e3e));
	background: -moz-linear-gradient(top,  #757575,  #3e3e3e);
	background: linear-gradient(-90deg, #757575, #3e3e3e);
	text-shadow: 0 -1px 0 rgba(0,0,0,.7);
}
.widget li {
	border-color: #333;
}

/* Calendar Widget */
#wp-calendar thead th {
	color: #fff;
}
#wp-calendar tbody td {
	background: #323232;
	border: 1px solid #222;
	color: #ccc;
}


/* =Images
----------------------------------------------- */
img[class*="align"],
img[class*="wp-image-"],
#content .gallery a img,
.avatar,
.gallery-thumb img,
.image-attachment img,
.attachment-large-feature,
.attachment-small-feature {
	background: #333;
	border: solid 1px #444;
}

