/*
Theme: Neutra
RTL: yoav@automattic.com

*/
body {
	direction: rtl;
	unicode-bidi :embed;
}
dl dd {
	margin: 0 10px 0 0;
}
.floatleft {
	float: right;
}
.floatright {
	float: left;
}
.icon {
	margin-left: 8px;
	margin-right: 0;
}
.nomarginright {
	margin-left: 0px !important;
}
.nomarginleft {
	margin-right: 0px !important;
}
.noborderight {
	border-left: none !important;
}
.noborderleft {
	border-right: none !important;
}
.nopaddingright {
	padding-left: 0px !important;
}
.nopaddingleft {
	padding-right: 0px !important;
}

a.target-blank, a[target="_blank"] {
	background-image: url(images/ico-icons-rtl.png);
	background-position: left 5px;
	padding: 0 0 0 25px;
}
a.happy-face {
	left: 10px;
	right: aitp;
	background-image: url(images/ico-icons-rtl.png);
	background-position: 100% -63px;
}
/* ----- Header ----- */
#header #logo {
	float: right;
	margin: 0 0 0 50px;
}
#header #logo p {
	margin: -9px 0 0 0;
}
#header #menu {
	float: right;
	margin: 18px 0 0 50px;
}
#header #menu ul li {
	float: right;
}
#header #menu ul li ul { /* L1 */
	right: 1px;
	left: auto;
}
#header #menu ul li:hover ul {
	border-right: 1px solid #CCC;
	border-left: 2px solid #CCC;
}
#header #menu ul li:hover ul li ul { /* L2 */
	right: 130px;
	left: auto;
}
#header #menu ul li:hover ul li:hover ul {
	border-right: 1px solid #CCC;
	border-left: 2px solid #CCC;
}
#header #search {
	float: left;
}
#header #search form#searchform input.ipt-keywords {
	padding: 5px 25px 3px 0;
	background-image: url(images/bg_search-rtl.png);
}
/* ----- Left content ----- */
#left {
	float: right;
}
.postcontent, .results {
	padding: 0 185px 0 0;
}

#left h2.title {
	background-image: url(images/bg_post_border.png);
	background-position: right bottom;
	padding: 0 185px 15px 0;
}
#left p a.more-link {
	background-image: url(images/ico-icons-rtl.png);
	background-position: right -22px;
	margin: 0 15px 0 0;
	padding: 0 20px 0 0;
}
#left ul li, #left ol li {
	padding: 0 30px 0 10px;
}
#left address, #left kbd {
	font-family: Trebuchet MS, Verdana, Arial, serif;
}
#left ul.post-categories li {
	padding: 0 0 0 10px;
}
#left .postmetadata span.date {
	background: url(images/ico-icons-rtl.png) no-repeat right -36px;
	padding: 0 20px 0 0;
}
#left .postmetadata span.category {
	background: url(images/ico-icons-rtl.png) no-repeat right -48px;
	padding: 0 20px 0 0;
}
#left .postmetadata span.comments {
	background: url(images/ico-icons-rtl.png) no-repeat right -11px;
	padding: 0 20px 0 0;
}
#left .postmetadata span.tags {
	background: url(images/ico-icons-rtl.png) no-repeat right -22px;
	padding: 0 20px 0 0;
}
#left .navigation {
	padding: 0 185px 0 0;
}

/* ----- Right content ----- */
#right {
	float: left;
}
#right h2 {
	background-position: left center;
	padding: 0 0 0 20px;
}

/* ----- Comments and trackbacks ----- */
#comment-template p.do-you-comment {
	float: right;
}
#comment-template p.trackback {
	float: left;
}
#commentlist .comment-avatar {
	float: right;
	padding-right: 20px;
	padding-left: 0;
}
#commentlist .comment-body {
	margin-right: 115px;
	margin-left: 0;
}
#commentlist .date {
	text-align: left;
}
#commentlist .comment-text {
	padding-left: 10px;
	padding-right: 0;
}
ul.children {
	margin-right: 30px;
	margin-left: 0;
}
/* highlight author comment */
form#respond p.logged-as {
	text-align: left;
}
form#respond input {
	border-left: 2px solid #CCC;
	border-right: 1px solid #CCC;
}
form#respond textarea {
	border-left: 2px solid #CCC;
	border-right: 1px solid #CCC;
}
form#respond p.btt-submit-wrap {
	text-align: left;
}
#trackbacks ol li {
	padding-right: 0;
}

/* ----- Footer ----- */
#footer {
	text-align: right;
}

/* ----- Safari ----- */
@media all and (-webkit-min-device-pixel-ratio:0) {
	#left .postmetadata span.tags {
		background: url(images/ico-icons-rtl.png) no-repeat right -24px;
	}
}