RewriteEngine on
RewriteOptions inherit

RewriteCond %{SERVER_NAME} !^trogdor\.mr$ [NC]
RewriteCond %{SERVER_NAME} !^studs\.mr\.pcvs\.org$ [NC]

#RewriteRule ^(.*)$ http://studs.mr.pcvs.org%{REQUEST_URI} [R,L]

AddCharset UTF-8 .html .php

BrowserMatch ^Mozilla xhtml
<IfDefine xhtml>
  AddType application/xhtml+xml .html
</IfDefine>
