body {
	background-color: #e0e4ed;
}
a:link,
a:visited {
	color: #2d4567;
}
h1,
h2,
h3,
h4,
h5,
h6,
.post .title a:hover {
	color: #2d4567;
}
#header {
	background-color: #3d577a;
}
#navigation ul.rss li a{
	background-image: url(blue/ico-rss.png);
}
.nav li ul {
	background-color: #2d4567;
}
.nav li ul li {
	border-bottom: 1px solid #14263e;
	border-top: 1px solid #5675a0;
}
.nav li:hover > a,
.nav a:hover,
.nav li.current_page_item a:link,
.nav li.current_page_item a:visited,
.nav li.current_page_ancestor a:link,
.nav li.current_page_ancestor a:visited,
.nav li.current-menu-item a:link,
.nav li.current-menu-item a:visited,
.nav li.current-menu-ancestor a:link,
.nav li.current-menu-ancestor a:visited {
	background-color: #2d4567;
}
.nav li ul li a:hover,
.nav li ul li.current_page_item a:link,
.nav li ul li.current_page_item a:visited,
.nav li ul li.current-menu-item a:link,
.nav li ul li.current-menu-item a:visited {
	background-color: #14263e !important;
}
#logo .site-description {
	color: #e0e4ed;
}
#footer-secondary,
#footer {
	background-color: #d6d9e7;
}
#footer,
#footer a:link,
#footer a:visited {
	color: #333;
}
.post .meta .post-date,
.post .meta ul,
#footer-secondary .footer-secondary-headings {
	background-color: #677c97;
}
.post .meta .post-date .bg,
#footer-secondary .footer-secondary-headings .bg,
#commentform label .bg {
	background-image: url(blue/bg-postdate.png);
}
.post .meta ul li {
	color: #c1d0e3;
}
.widget h3 a {
	color: #2d4567;
}
#wp-calendar td {
	color: #203754;
}
#wp-calendar th {
	background-color: #8ba2c0;
}
#wp-calendar th {
	color: #fff;
}
.widget_twitter ul li a {
	color: #2d4567
}
.widget_rss ul li a {
	color: #2d4567
}
a.button,
a.comment-reply-link,
#commentform #submit,
.widget input.submit,
#contact-page ol.forms li.buttons .submit,
.widget #searchsubmit,
.widget_blog_subscription input[type="submit"],
#searchsubmit {
	/*Background*/
	background: #3a506c; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #677c97),
					color-stop(1, #3a506c)
				);
	background: -moz-linear-gradient(
					center top,
					#677c97 20%,
					#3a506c 100%
				);
	border: 1px solid #3a506c;
	border-bottom-color: #3a506c;
}
a.button:hover,
a.button.hover,
a.button.active,
a.comment-reply-link:hover,
#commentform #submit:hover,
.entry input[type="submit"]:hover,
.widget input.submit:hover,
.widget #searchsubmit:hover,
.widget_blog_subscription input[type="submit"]:hover,
#searchsubmit:hover {
	/*Background*/
	background: #3f5a7e; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #677c97),
					color-stop(1, #3f5a7e)
				);
	background: -moz-linear-gradient(
					center top,
					#677c97 20%,
					#3f5a7e 100%
				);
}