a:hover,
.featured-post .showcase-heading a:hover,
#branding #logo a:hover,
#content .post-title a:hover,
.post-info a:hover,
.post-utility a:hover,
.single .post-navigation a:hover,
#access li:hover > a,
#access ul ul :hover > a,
#access .current_page_item a:hover {
	color: #b02cc4;
}
.widget-title,
.widget-title span {
	background-image: url("images/purple/widget-title-purple-large.png");
}
body.sidebar-content-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title,
body.content-sidebar-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title span,
body.content-sidebar-sidebar .widget-title span,
body.sidebar-content-sidebar .widget-title span {
	background-image: url("images/purple/widget-title-purple-small.png");
}
#wp-calendar #today {
	background: #d480de;
}
#searchform #searchfield,
#searchform input.searchbutton {
	background-image: url("images/purple/search.png");
}
#tab-tags a:hover,
#comments .bypostauthor .comment-head,
#comments .comment-author-admin .comment-head {
	background-color: #b02cc4;
}
#secondary-tabs {
	background-image: url("images/purple/tabs-bg.png");
}
#secondary-tabs li {
	background-image: url("images/purple/tabs-c.png");
}
#secondary-tabs ul li a {
	background-image: url("images/purple/tabs.png");
}
#comments .comment-head {
	background-image: url("images/purple/comment-head.png");
}
#site-description {
	color: #d480de;
}
.alt-text {
	color: #b02cc4;
}