a:hover,
.featured-post .showcase-heading a:hover,
#branding #logo a:hover,
#content .post-title a:hover,
.post-info a:hover,
.post-utility a:hover,
.single .post-navigation a:hover {
	color: #888;
}
.widget-title,
.widget-title span {
	background-image: url("images/grey/widget-title-grey-large.png");
}
body.sidebar-content-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title,
body.content-sidebar-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title span,
body.content-sidebar-sidebar .widget-title span,
body.sidebar-content-sidebar .widget-title span {
	background-image: url("images/grey/widget-title-grey-small.png");
}
#searchform #searchfield,
#searchform input.searchbutton {
	background-image: url("images/grey/search.png");
}
#tab-tags a:hover {
	background-color: #eee;
}
#secondary-tabs {
	background-image: url("images/grey/tabs-bg.png");
}
#secondary-tabs li {
	background-image: url("images/grey/tabs-c.png");
}
#secondary-tabs ul li a {
	background-image: url("images/grey/tabs.png");
}
#comments .comment-head {
	background-image: url("images/grey/comment-head.png");
}
#comments .bypostauthor .comment-head,
#comments .comment-author-admin .comment-head {
	background-color: #7b7b7b;
}
#site-description {
	color: #aaa;
}
.alt-text {
	color: #999;
}
.tag-cloud a:hover,
.block-widget-tag-cloud a:hover {
	background-color: #eee;
}