.widget-title,
.widget-title span {
	background-image: url("images/pink/widget-title-pink-large-rtl.png");
}
body.sidebar-content-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title,
body.content-sidebar-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title span,
body.content-sidebar-sidebar .widget-title span,
body.sidebar-content-sidebar .widget-title span {
	background-image: url("images/pink/widget-title-pink-small-rtl.png");
}
#searchform #searchfield,
#searchform input.searchbutton {
	background-image: url("images/pink/search-rtl.png");
}
#comments .comment-head {
	background-image: url("images/pink/comment-head-rtl.png");
}