a:hover,
.featured-post .showcase-heading a:hover,
#branding #logo a:hover,
#content .post-title a:hover,
.post-info a:hover,
.post-utility a:hover,
.single .post-navigation a:hover,
#access li:hover > a,
#access ul ul :hover > a,
#access .current_page_item a:hover {
	color: #db2f5e;
}
.widget-title,
.widget-title span {
	background-image: url("images/pink/widget-title-pink-large.png");
}
body.sidebar-content-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title,
body.content-sidebar-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title span,
body.content-sidebar-sidebar .widget-title span,
body.sidebar-content-sidebar .widget-title span {
	background-image: url("images/pink/widget-title-pink-small.png");
}
#wp-calendar #today {
	background: #ff7888;
}
#searchform #searchfield,
#searchform input.searchbutton {
	background-image: url("images/pink/search.png");
}
#tab-tags a:hover {
	background-color: #eb5266;
}
#secondary-tabs {
	background-image: url("images/pink/tabs-bg.png");
}
#secondary-tabs li {
	background-image: url("images/pink/tabs-c.png");
}
#secondary-tabs ul li a {
	background-image: url("images/pink/tabs.png");
}
#comments .comment-head {
	background-image: url("images/pink/comment-head.png");
}
#comments .bypostauthor .comment-head,
#comments .comment-author-admin .comment-head {
	background-color: #fe5d86;
}
#site-description,
.alt-text {
	color: #eb5266;
}