.indexlist h2, #news h2 { font-weight: normal; margin: .5em 1em 0; padding: 0; }
.indexlist .publication, #news .publication { float: left; width: 50%; }
.indexlist .date, #news .date, { float: right; }
.indexlist a { display: block; border: 2px solid #DDD; border-style: solid none; padding-bottom: .5em; }
.indexlist a:hover { background-color: #BBF; text-decoration: none; }
#news { margin-top: 1em; }
