body {
  padding: 0;
  background-color: rgb(243, 232, 247);
}

a {
  text-decoration: none;
}

table {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

td {
  border: thin dashed gray;
  height: 1em;
}

#sample {
  width: 90%;
}

.display {
  font-size: 2.5em;
  text-align: center;
  border: groove;
  margin-left: auto;
  margin-right: auto;
}

#controls input[type="text"], #controls input[type="submit"] {
  width: 49%;
}

#controls select {
  width: 95%;
}

#controls {
  width: 100%;
  height: 4.25em;
}

#rule-control, #properties-control {
  float: left;
  width: 30%;
}

#status {
  width: 35%;
  float: right;
}

