<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">The Politico - Richardson "Risk"</tmpl:var>
  <tmpl:var name="header" additive="true">
    <link type="text/css" rel="stylesheet" href="indexlist.css" />
  </tmpl:var>
  <tmpl:var name="content">
    <h1><span class="marker">&#x25BC;</span> News</h1>
    <img src="../graphics/blue_linefade395.jpg" width="395" alt="" />
    
    <div id="news">
      <h1><a href="http://www.politico.com/blogs/bensmith/0307/Richardson_Risk_.html">Richardson "Risk"</a></h1>
      <h2 class="publication"><cite>The Politico</cite></h2>
      <h2 class="date">March 26, 2007</h2>
      <h2 class="author">Ben Smith</h2>
      
      <p>"So what if it's risky? It's the right thing to do," Bill Richardson said last week after saying he'd sign a bill to legalize medical marijuana, and <a href="http://www.msnbc.msn.com/id/17643246/">the AP story</a> quotes a couple of pundits echoing him.</p>
      <p>Risky?</p>
      <p>The last Gallup Poll on the subject shows Americans favoring legalizing medical marijuana by a margin of 78% to 22%. And you've got to figure that the Democratic primary field tilts that even further.</p>
    </div>
  </tmpl:var>
</tmpl:template>
