#header,
#main-wrap,
#footer {
	direction: rtl;
}
.left-fold,
.right-fold,
.pointer,
.reply-link a {
	display: block;
	background-image: url(images/rtl/sprite.png);
}
.sub-title h4,
#reply-title {
	padding: 11px 95px 10px 0;
}

/*- Unsemantic design elements added via JS (spectrum-min.js) --------------*/

.left-fold {
	right: 0;
}
.right-fold {
	left: 0;
	right: auto;
}
.main-title .left-fold {
	background-position: 0 -66px;
}
#comment-list .sub-title .left-fold {
	background-position: -30px -66px;
}
#respond .sub-title-border .left-fold {
	background-position: -60px -66px;
	bottom: -28px;
}
.right-fold {
	background-position: -120px -66px;
}
#tag-cloud .sub-title .left-fold {
	background-position: -90px -66px;
}
.main-title .edge {
	background: url(images/rtl/main-title-edge.gif) no-repeat 0 0;
	left: -10px;
	right: auto;
}
.sidebar-title .edge {
	right: -11px;
	background: url(images/rtl/sidebar-title-edge.gif) no-repeat 0 0;
}
.pointer {
	width: 8px;
	height: 16px;
	background-position: -150px -66px;
	top: 14px;
	left: -1px;
}
div.comment-author-admin .pointer,
div.bypostauthor .pointer {
	background-position: -159px -66px;
}


/*- Header -----------------------------------------------------------------*/

#header #logo h1 {
	padding: 24px 50px 0 0;
}
#header .page-list {
	float: left;
	margin: -45px 0 0 30px;
}
#header li {
	float: left;
	margin-right: 5px;
}
#header .children .children,
#header .sub-menu .sub-menu {
	margin-right: 12px;
	margin-left: 0;
}
#header ul ul {
	left: 0;
	right: auto;
	float: left;
}
#header ul ul ul {
	top: 0;
	left: 98%;
	right: auto;
}
#header ul ul li {
	margin-left: 0;
}
#site-description {
	right: 30px;
}


/*- Main Content -----------------------------------------------------------*/

#content {
	float: right;
	width: 660px;
	margin-right: -30px;
}
#sidebar {
	float: left;
	width: 300px;
	margin-left: -30px;
}


/*- Site Description -------------------------------------------------------*/

#site-description {
	background: url(images/bgs/site-description.png) no-repeat center bottom;
}

/*- The Post ---------------------------------------------------------------*/

.post {
	float: right;
}
.post-meta {
	float: right;
	margin-left: 0;
	margin-right: 55px;
}
.post-meta p,
.post-meta li {
	float: right;
}
.post-meta p {
	padding-right: 25px;
	padding-left: 0;
}
.main-title {
	padding: 7px 65px 9px 0;
	background: #6AB32E url(images/rtl/main-title.png) no-repeat right 0;
}
.main-title h3 {
	margin-left: 130px;
	margin-right: 0;
}
.post-date {
	top: 13px;
	left: 15px;
	right: auto;
}
.post-date span {
	margin-right: 3px;
}
.author {
	background: url(images/icons/author.gif) no-repeat right center;
}
.comment-number {
	float: left !important;
	background: url(images/icons/bubble.gif) no-repeat right center;
}
.entry {
	padding: 30px 70px 15px 50px;
}
.entry ul li,
.entry ol li {
	margin: 0 25px 7px 0;
}
.entry ul li {
	list-style: url(images/icons/bullet.gif);
}
.entry h3.result {
	right: -5px;
	left: auto;
}
.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5 {
	padding: 5px 10px 5px 0;
	right: -10px;
	left: auto;
}
.entry h5 post-tags,
.entry blockquote {
	border-right: 5px solid #E5E6E2;
}
.alignleft {
	float: left;
	margin: 10px 20px 5px 0;
}
.alignright {
	float: right;
	margin: 10px 0 5px 20px;
}
.post-author {
	background: url(images/icons/author.gif) no-repeat right center;
}
.post-edit-link {
	margin-right: 20px;
}
.post-category {
	background: url(images/icons/folder.gif) no-repeat 575px 11px;
}
.post-category a {
	margin-right: 5px;
	margin-left: 0;
}
.post-tags {
	background: url(images/icons/tag.gif) no-repeat 575px 10px;
}
.post-tags ul {
	float: right;
}
.post-tags li {
	margin-right: 5px;
	margin-left: 0;
}
.post-nav {
	background: url(images/bgs/post/postNav.jpg) repeat-x 0 0;
}
.post-nav .next-post {
	float: left;
}
.post-nav .next-post a {
	padding-left: 40px;
	background: url(images/bgs/post/postNav-prevArrow.png) no-repeat 0 0;
}
.post-nav .next-post a:hover {
	background-position: 0 -60px;
}
.post-nav .prev-post a {
	padding-right: 40px;
	background: url(images/bgs/post/postNav-nextArrow.png) no-repeat 100% 0;
}
.post-nav .prev-post a:hover {
	background-position: 100% -60px;
}
body.attachment .next-post a {
	background-position: 0 -60px;
}
body.attachment .prev-post a {
	background-position: 100% -60px;
}
body.attachment .entry {
	padding: 0 60px 15px 0;
	text-align: center;
}


/*- Comment List -----------------------------------------------------------*/

#comment-list li {
	padding: 20px 65px 5px 0;
}
.avatar-holder,
div.comment,
div.pingback {
	float: right;
}
#comment-list .sub-title {
	background: url(images/rtl/commentList-title.jpg) repeat-y right 0;
}
#comment-list .sub-title .sub-title-border {
	background: url(images/rtl/commentList-title-border.jpg) no-repeat 0 100%;
}
#comment-list .sub-title h4 {
	background: url(images/icons/bubble-title.gif) no-repeat 580px 12px;
}
.avatar-holder {
	margin: 7px 0 0 5px;
	background: url(images/rtl/avatar.gif) no-repeat 0 0;
}
.avatar-holder img {
	margin: 2px 2px 0 0;
}
.comment-author {
	float: right;
}
.commentDate {
	float: left;
}
#comment-list li.depth-2,
#comment-list li.depth-3 {
	padding-right: 67px;
	padding-left: 0;
	background: url(images/rtl/reply.gif) no-repeat 560px 28px;
}
#comment-list li.depth-3 {
	background: url(images/rtl/reply.gif) no-repeat 490px 28px;
}
#comment-list li.depth-2 .commentDate,
#comment-list li.depth-3 .commentDate {
	float: right;
	clear: right;
}
#comment-list div.comment-author-admin,
#comment-list div.bypostauthor {
	background: #EBEBEB url(images/bgs/comments/admin.jpg) repeat-x 0 0;
}
#comment-list div.comment-author-admin .reply-link a,
#comment-list div.bypostauthor .reply-link a {
	background-position: -172px -21px;
}
.reply-link {
	text-align: right;
}
.reply-link a {
	float: left;
	background-position: -172px 0;
}
.edit-comment {
	text-align: left;
}


/*- Comment Form -----------------------------------------------------------*/


div#respond #reply-title {
	background: url(images/rtl/commentForm-title.jpg) repeat-y right top;
	padding-right: 65px;
}
div#respond .sub-title-border {
	background: url(images/rtl/commentForm-title-border.jpg) no-repeat right 100%;
}
#respond p {
	padding: 0 65px 15px 0;
}
#respond input#submit {
	background-position: -43px 0;
}
#respond input#submit:hover {
	background-position: -43px -33px;
}
div#respond form {
    margin: 40px 60px 0 0;
}
input#subscribe_blog,
input#subscribe {
	float: right;
	margin-left: 8px;
	margin-right: 0;
}
#respond h3 small a {
	margin-right: 15px;
	margin-left: 0;
}


/*- Sidebar ----------------------------------------------------------------*/

.sidebar-title {
	background: url(images/rtl/sidebar-title.jpg) repeat-y 100% 0;
}
.sidebar-title h4 {
	padding: 16px 25px 12px 15px;
}

/*------------------------------------------*/
/* LINK LISTS								*/
/*------------------------------------------*/
.sidebar-box ul {
	margin: 20px 30px 20px 50px;
}
.sidebar-box ul ul {
	margin-left: 0;
}
.sidebar-box ul ul li a {
	margin-right: 15px;
}
.sidebar-box ul ul ul {
	margin-right: 15px;
}
.sidebar-box li a {
	padding: 14px 14px 14px 60px;
}
#searchform p {
	padding: 20px 25px 0 20px;
}
#searchform input {
	margin-left: 5px;
}
#searchform button {
	position: relative;
	top: -5px;
}
#searchform button:hover {
	background-position: 0 -33px;
}
.widget_categories a {
	background: url(images/icons/folder-sidebar.gif) no-repeat;
}
.widget_recent_entries a,
.widget_pages a {
	background: url(images/icons/file-sidebar.gif) no-repeat;
}
.widget_recent_comments table {
	margin: 20px 20px 20px 40px;
}
.widget_archive a {
	background: url(images/icons/clock-sidebar.gif) no-repeat;
}
.widget_links ul,
.widget_meta ul {
	margin-right: 0;
}
.widget_links a,
.widget_meta ul a {
	background: url(images/icons/arrow-sidebar.gif) no-repeat;
}
.widget_categories a:hover,
.widget_recent_entries a:hover,
.widget_archive a:hover,
.widget_links a:hover,
.widget_pages a:hover,
.widget_meta a:hover {
	background-position: -246px 0;
}
.widget_categories ul,
.widget_recent_entries ul,
.widget_archive ul,
.widget_pages ul {
	margin: 0 0 0 50px;
}


/*- Widgets ----------------------------------------------------------------*/

#calendar_wrap {
	padding: 0;
	margin: 20px 15px 0 50px;
}
.wp_widget_tag_cloud > div + div {
	margin: 20px 30px 20px 50px;
}
.widget_flickr table {
	margin: 20px 30px 20px 50px;
}
.widget_image > div + div {
	margin: 10px 0 20px 30px;
}


/*- Navigation -------------------------------------------------------------*/

#prev-page {
	float: right;
}
#prev-page a {
	background: url(images/rtl/left-post-navigation-body.png) no-repeat top right;
}
#next-page {
	float: left;
}
#next-page a {
	background: url(images/rtl/right-post-navigation-body.png) no-repeat top left;
}


/*- Tag Cloud --------------------------------------------------------------*/

#tag-cloud .sub-title {
	background: url(images/bgs/tag-cloud/tagCloud-title.jpg) repeat-y 0 0;
}
#tag-cloud .sub-title .sub-title-border {
	background: url(images/bgs/tag-cloud/tagCloud-title-border.jpg) no-repeat 0 100%;
}
#tag-cloud .sub-title h4 {
	background: url(images/icons/tag-title.gif) no-repeat 925px 11px;
}
#tag-cloud li {
	float: right;
	padding: 15px 20px 0 0;
}


/*- WP.com -----------------------------------------------------------------*/

#content #wpl-likebox {
	margin-right: 60px !important;
}


/*- Footer -----------------------------------------------------------------*/

#footer .page-list li {
	float: right;
	padding-left: 10px;
}
#about {
	float: right;
}

/* =Post Formats
----------------------------------------------- */

.format-status div.avatar,
.format-gallery .gallery-thumb {
	float: right;
	margin: 0 0 0 20px;
}

.format-link .main-title h3 a:after{
	content: "\2190";
	padding-left: 0;
	padding-right: 6px;
}