.form-table th {
	width: 100px;
}
.image-radio-option td {
	padding-top: 15px;
}
.image-radio-option label {
	display: block;
	float: left;
	margin: 0 30px 20px 2px;
	position: relative;
}
.image-radio-option input {
	margin: 0 0 10px;
}
.image-radio-option span {
	display: block;
	width: 136px;
}
.image-radio-option img {
	display: block;
	margin-bottom: 5px;
}
body.rtl .image-radio-option label {
	float: right;
	margin: 0 2px 20px 30px;
}