<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">Transit Ad Rates</tmpl:var>
  <h1>Transit Ad Prices</h1>
  <p>Do you want to see our ads in a city near you? Here are advertising rates for major cities and areas in the United States. <a href="donate.html">Make a tax deductible gift</a> and sponsor a campaign in your area! All cities require a minimum purchase, usually thousands of dollars. Prices below are for 1 unit per month based on published rates.</p>
  <table cellpadding="5" cellspacing="0" border="0" align="center">
    <tr><th>City/State</th><th>Side of Buses</th><th>Tailight station posters</th><th>Interior Cards</th></tr>
    <tr><td>Atlanta GA</td><td>$450</td><td>$245</td><td>$18-21</td></tr>
    <tr><td>Boston MA</td><td>$402</td><td>$242</td><td>$14</td></tr>
    <tr><td>Buffalo NY</td><td>$240</td><td>$175</td><td>$17.50</td></tr>
    <tr><td>Chicago IL</td><td>$410</td><td>$235</td><td>$23.50</td></tr>
    <tr><td>Ft. Worth TX</td><td>$265-405</td><td>$245</td><td>$23.50</td></tr>
    <tr><td>Los Angeles CA</td><td>$430</td><td>$315</td><td>$17-28</td></tr>
    <tr><td>Minn/St. Paul MN</td><td>$320</td><td>$210</td><td>---</td></tr>
    <tr><td>New Jersey NJ</td><td>$405</td><td>$205</td><td>$17.50</td></tr>
    <tr><td>New Orleans LA</td><td>$265</td><td>$175</td><td>$23.50</td></tr>
    <tr><td>New York City</td><td>$465</td><td>$230</td><td>$23</td></tr>
    <tr><td>New York Metro area</td><td>$443</td><td>$219</td><td>---</td></tr>
    <tr><td>North San Diego CA</td><td>$435</td><td>$340</td><td>---</td></tr>
    <tr><td>Phoenix AZ</td><td>$255-330</td><td>$290</td><td>$16.50</td></tr>
    <tr><td>Pittsburgh PA</td><td>$275-330</td><td>$275</td><td>$26.50</td></tr>
    <tr><td>San Antonio TX</td><td>$280-430</td><td>$255</td><td>---</td></tr>
    <tr><td>San Francisco Bay area</td><td>$435</td><td>$300</td><td>$16-21</td></tr>
    <tr><td>Seattle WA</td><td>$190-330</td><td>$250</td><td>$16</td></tr>
    <tr><td>Tampa FL</td><td>$25</td><td>---</td><td>---</td></tr>
    <tr><td>Washington DC</td><td>$515</td><td>$280</td><td>$22</td></tr>
  </table>
</tmpl:template>
