/**
 * @package Brand New Day
 */
a:link,
a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #a4461c;
}
body {
	background-color: #f4f8f8;
	background-image:url('images/sky-autumn.gif');
}
body,
td,
th {
	color: #333;
}
h1,h2,h3,h4,h5,h6 {
	color: #a4461c;
}
h3.footer-widgettitle,
h3.footer-widgettitle a,
h3.footer-widgettitle a:visited {
	color: #ebea80;
}
h3.widgettitle,
h3.widgettitle a {
	color: #a4461c;
}
hr {
	border-bottom-color: #d6e6e8;
}
small,
.commentmetadata {
	color: #a2c7ca;
}
table,
td,
th {
	border: 1px solid #333;
}
th {
	background-color: #a4461c;
	color: #fff;
}
.alt {
	background-color: #d6e6e8;
}
.bypostauthor {
	background-color: #d6e6e8;
}
.clouds {
	background-image:url('images/swirls-autumn.png');
	background-color: #d6e6e8;
}
.edit-link a.post-edit-link,
a.post-edit-link {
	background-color: #a4461c;
}
.edit-link a:hover,
a.post-edit-link:hover,
.post-comments a:hover,
.post-categories a:hover {
	background-color: #dda528;
}
.left-sidebar .sun {
	left: auto;
	right: 0px;
}
.footer-colophon {
	background-color: #93b17e;
}
.footer-grass {
	background-image:url('images/grass-autumn.png');
	z-index: 5;
}
.footer-wrapper {
	color: #fff;
}
.footer-wrapper a,
.footer-wrapper a:visited,
.footer-wrapper a:hover,
.footer-wrapper a:active {
	color: #fff;
}
.footer-sidebar-wrapper {
	background-color: #93b17e;
}
.footer-sidebar #wp-calendar #today {
	background-color: #a4461c;
	color: #fff;
}
.footer-sidebar #wp-calendar td,
.footer-sidebar #wp-calendar th,
.footer-sidebar #wp-calendar {
	color: #fff;
}
.left-sidebar .trees {
	left: auto;
	right: 0px;
}
.page_title {
	color: #dda528;
}
.page_title a,
.page_title a:visited {
	color: #dda528;
}
.page_title a:hover,
.page_title a:active {
	color: #dda528;
}
.post-comments span,
.post-comments a {
	background-color: #a4461c;
}
.post-date {
	background-image:url('images/cloud-autumn.png');
	color: #a4461c;
}
.post-date a,
.post-date a:visited,
.post-date a:hover,
.post-date a:active {
	color: #a4461c;
}
.post-categories a {
	background-color: #dda528;
}
#sidebar li .menu li.current-menu-item a,
#sidebar li .menu ul li.current_page_item a
{
	background-color: #dda528;
}
#sidebar .menu li.menu-item a,
#sidebar .menu li.page_item a,
#sidebar .menu li ul.menu li a {
	background-color: #a4461c;
}
#sidebar .menu li.menu-item a:hover,
#sidebar .menu li.menu-item a:active,
#sidebar .menu li.page_item a:hover,
#sidebar .menu li.page_item a:active {
	background-color: #dda528;
}
#sidebar .menu ul.children li a {
	background-color: #7adddd;
}
#sidebar #wp-calendar {
	border: 1px solid #a4461c;
}
#search {
	background-color: #dda528;
}
.sun {
	width: 467px;
	height: 164px;
	background-image:url('images/autumntree.png');
	background-repeat: no-repeat;
	position: absolute;
	z-index: 2;
	top: -150px;
	left: 80px;
}
.tagline {
	color: #a2c7ca;
}
.title,
.title a,
.title a:visited {
	color: #a4461c;
}
/*.trees {
	width: 100%;
	height: 114px;
	background-image:url('images/backgroundtrees-autumn.png');
	background-repeat: repeat-x;
	position: absolute;
	z-index: 3;
	top: -105px;
	left: 0px;
}*/
#wp-calendar {
	border: 1px solid #a4461c;
}
#wp-calendar td a,
#wp-calendar td a:visited {
	background-color: #dda528;
	color: #fff;
}
#wp-calendar #next a:link,
#wp-calendar #next a:visited {
	color: #a4461c;
}
#wp-calendar #prev a:link,
#wp-calendar #prev a:visited {
	color: #a4461c;
}
#wp-calendar #today {
	color: #fff;
	background-color: #a4461c;
}