/*
RTL for Theme: : Fadtastic
Editors: Navid Kashani
Persian WordPress Project : wp-persian.com
*/
body {
	font-family:Tahoma,Arial,sans-serif;
}
#wrapper {
	text-align:right;
	direction:rtl;
}
.logo {
	margin:25px 25px 0pt 0;
}
#footer_wrapper {
	text-align:right;
}
h1, h2, .side h2, h3, div .pull_quote_footer, #feed_bar p, #feed_bar p span.small, div#navcontainer ul li a, #footer h4, #header p {
	font-family:arial;
}
div.pull_quote {
	font-family:arial;
	margin:0.5em 20px 0pt 0;
	padding-left:0;
	padding-right:5px;
}
blockquote {
	margin-right:15px;
}
.fresh {
	background-position:left bottom;
}
.authorcomment {
	background-position:left top;
}
ul, ol {
	margin-left:0px;
	margin-right:25px;
}
p img {
	margin:0 4px;
}
#email, #url {
	direction:ltr;
}
.comment-form-comment {
	float: left;
}
#navcontainer ul li {
	margin-right: -5px;
	margin-left: 0;
}
#navcontainer ul li a {
	border-right: none;
	border-left: 2px solid #cbe392;
}
#navcontainer ul li:last-child a,
#navcontainer ul li a.last {
	border-right: 2px solid #cbe392;
	border-left: 0 none;
}
#navcontainer .children .children,
#navcontainer .sub-menu .sub-menu {
	margin-right: 12px;
	margin-left: 0;
}
#navcontainer ul ul {
	float: right;
	right: 0;
	left: auto;
	text-align: right;
}
