/**
 * @package Brand New Day
 */
a:link,
a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #55bac6;
}
body,
td,
th {
	color: #555;
}
body {
	background-color: #dcf5f8;
	background-image:url('images/sky.gif');
}
h1,h2,h3,h4,h5,h6 {
	color: #55bac6;
}
h3.footer-widgettitle,
h3.footer-widgettitle a,
h3.footer-widgettitle a:visited {
	color: #4b9952;
}
h3.widgettitle,
h3.widgettitle a {
	color: #55bac6;
}
hr {
	border-bottom-color: #caedf1;
}
table,
td,
th {
	border: 1px solid #333;
}
th {
	background-color: #55bac6;
	color: #fff;
}
.alt {
	background-color: #caedf1;
}
.bypostauthor {
	background-color: #caedf1;
}
.clouds {
	background-image:url('images/swirls.png');
	background-color: #bfebef;
}
.edit-link a.post-edit-link,
a.post-edit-link {
	background-color: #55bac6;
}
.edit-link a:hover,
a.post-edit-link:hover,
.post-comments a:hover,
.post-categories a:hover {
	background-color: #ffc641;
}
.footer-sidebar #wp-calendar td a:link,
.footer-sidebar #wp-calendar td a:visited,
.footer-sidebar #wp-calendar #next a:link,
.footer-sidebar #wp-calendar #next a:visited,
.footer-sidebar #wp-calendar #prev a:link,
.footer-sidebar #wp-calendar #prev a:visited {
	color: #fff;
}
.footer-sidebar #wp-calendar td,
.footer-sidebar #wp-calendar th,
.footer-sidebar #wp-calendar {
	color: #fff;
}
.footer-sidebar #wp-calendar #today {
	background-color: #4b9952;
}
.footer-wrapper {
	color: #fff;
}
.footer-wrapper a,
.footer-wrapper a:visited,
.footer-wrapper a:hover,
.footer-wrapper a:active {
	color: #fff;
}
.footer-grass {
	background-image:url('images/grass.png');
	z-index: 50;
}
.footer-colophon {
	background-color: #63be6a;
}
.footer-sidebar-wrapper {
	background-color: #63be6a;
}
.left-sidebar .sun {
	right: 100px;
	left: auto;
}
.page_title {
	color: #f9b20c;
}
.page_title a,
.page_title a:visited {
	color: #f9b20c;
}
.page_title a:hover,
.page_title a:active {
	color: #ffc641;
}
.post-categories a {
	background-color: #ffc641;
}
.post-comments span,
.post-comments a {
	background-color: #55bac6;
}
.post-date {
	background-image:url('images/cloud.png');
	color: #55bac6;
}
.post-date a,
.post-date a:visited,
.post-date a:hover,
.post-date a:active {
	color: #55bac6;
}
#sidebar .menu li.menu-item a,
#sidebar .menu li.page_item a,
#sidebar .menu li ul.menu li a {
	background-color: #55bac6;
}
#sidebar li .menu li.current-menu-item a,
#sidebar li .menu ul li.current_page_item a
{
	background-color: #ffc641;
}
#sidebar .menu li.menu-item a:hover,
#sidebar .menu li.menu-item a:active,
#sidebar .menu li.page_item a:hover,
#sidebar .menu li.page_item a:active {
	background-color: #ffc641;
}
#sidebar .menu ul.children li a {
	background-color: #7adddd;
}
small,
.commentmetadata {
	color: #55bac6;
}
.tagline {
	color: #fff;
}
.title,
.title a,
.title a:visited {
	color: #55bac6;
}
#search {
	background-color: #ffc641;
}
#sidebar #wp-calendar {
	border: 1px solid #55bac6;
}
.sun {
	width: 403px;
	height: 191px;
	background-image:url('images/sun.png');
	background-repeat: no-repeat;
	position: absolute;
	z-index: 10;
	top: -170px;
	left: 100px;
}
#wp-calendar {
	border: 1px solid #fff;
}
#wp-calendar #next a:link,
#wp-calendar #next a:visited {
	color: #55bac6;
}
#wp-calendar #prev a:link,
#wp-calendar #prev a:visited {
	color: #55bac6;
}
#wp-calendar td a,
#wp-calendar td a:visited {
	background-color: #f9b20c;
	color: #fff;
}
#wp-calendar #today {
	color: #fff;
	background-color: #55bac6;
}