#access li:hover > a,
#access ul ul :hover > a,
#access .current_page_item a:hover {
	color: #ed1e24;
}
.widget-title,
.widget-title span {
	background-image: url("images/red/widget-title-red-large-rtl.png");
}
body.sidebar-content-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title,
body.content-sidebar-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title span,
body.content-sidebar-sidebar .widget-title span,
body.sidebar-content-sidebar .widget-title span {
	background-image: url("images/red/widget-title-red-small-rtl.png");
}
#searchform #searchfield,
#searchform input.searchbutton {
	background-image: url("images/red/search-rtl.png");
}
#comments .comment-head {
	background-image: url("images/red/comment-head-rtl.png");
}