.widget-title,
.widget-title span {
	background-image: url("images/blue/widget-title-blue-large-rtl.png");
}
body.sidebar-content-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title,
body.content-sidebar-sidebar .widget-title,
body.sidebar-sidebar-content .widget-title span,
body.content-sidebar-sidebar .widget-title span,
body.sidebar-content-sidebar .widget-title span {
	background-image: url("images/blue/widget-title-blue-small-rtl.png");
}
#searchform #searchfield,
#searchform input.searchbutton {
	background-image: url("images/blue/search-rtl.png");
}
#comments .comment-head {
	background-image: url("images/blue/comment-head-rtl.png");
}