table { margin: 1em 0; }
td { padding: 0em .75em; text-align: center; }
th { font-weight: normal; }
li { padding: .5em .75em; border-left: 2px solid transparent; }
.errmsg { margin: 0; }
.invalid { color: darkred; border-left-color: red; }
textarea { width: 100%; border: 1px solid #444; }
