/*
	CSS for the zBench theme options page

	Code adapted from Coraline
*/

#wpcontent select option {
	padding-right: 5px;
}
#zbench-layouts td {
	padding-top: 15px;
}
#zbench-layouts label {
	display: block;
	float: left;
	margin: 0 20px 20px 2px;
	position: relative;
}
#zbench-layouts input {
	margin: 0 0 10px;
}
#zbench-layouts span {
	display: block;
	width: 136px;
}
#zbench-layouts img {
	margin: 0 0 0 -2px;
}
