@font-face {
    font-family: Verdana;
    src: url('verdana.ttf');
}

@font-face {
    font-family: "Verdana Bold";
    src: url('verdana bold.ttf');
}

html, body {
    margin: 0;
    font-family: Verdana;
}

#header {
    width: 920px;
    height: 120px;
    position: fixed;
    background: url("shadowed box.png");


/*
    -moz-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow:  2px 2px 5px #888;
*/
}

#header ul {
    list-style: none;
    margin: 0;
}

#header li {
    float: left;
}

#header {
    position: absolute;
    text-transform: uppercase;
}

#header #logo {
    position: absolute;
    top: 36px;
    left: 61px;
}

#header #links {
    position: absolute;
    top: 77px;
    left: 261px;
    font-weight: bold;
    font-size: 11px;
    color: #555;
    font-family: "Verdana Bold";
}

b {
    font-family: "Verdana Bold";
}

h1, h2 {
    font-family: "Verdana Bold";
}

#header #sitelinks {
    position: absolute;
    top: 17px;
    left: 517px;
    font-size: 10px;
    color: #666;
}

#header #sitelinks img {
    margin-top: -8px;
}

#snets {
    padding-left: 30px;
}

#snets img{
    padding-left: 3px;
}

#header #sitelinks ul {
    float: left;
}

#header #sitelinks li {
    margin-left: 30px;
}

#header #links li {
    margin-left: 55px;
}

#quote {
    position: absolute;
    left: 360px;
    top: 242px;
    background-color: #001BA7;
    color: white;
    padding: 8px;
    font-size: 15px;
    width: 505px;
}

#quote p {
    margin: 0;
}

#splash img {
    border-bottom: 8px solid #111;
}

#center {
    position: absolute;
    left: 65px;
    top: 335px;
    width: 750px;
    margin: auto 0px;
    background: url("shadowed center.png");
    background-repeat: no-repeat;
    padding: 40px 40px;
}

#page {
    width: 960px;
    margin: 0 auto;
}

#left {
    width: 235px;
    float: left;
    margin-right: 19px;
}

#right {
    width: 230px;
    float: right;
}

#middle {
    float: left;
    width: 241px;
}

#middle img {
    display: block;
}

#left h1, #middle h1 {
    background-color: #62B7CB;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px 8px;
    margin-bottom: 0;
    margin-top: 0;
}

#sliderpos {
    background-color: #62B7CB;
    color: #BBD4F3;
    padding: 0px 6px;
    font-size: 18px;
    margin-top: 110px;
}

#sliderpos .active {
    color: white;
}


#left h2, #middle h2, #right h2 {
    font-size: 11px;
    font-weight: bold;
    color: #777;
}

#left p, #middle p, #right ul {
    font-size: 11px;
    color: #777;
}

.red {
    color: red;
}

#invite {
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    padding: 6px;
    background-color: #EEF1F5;
    padding-right: 10px;
}

#invite p {
    margin-top: 0;
    font-weight: bold;
}

#invite input {
    font-size: 12px;
}

#invite label {
    font: 12px;
    width: 45px;
    display: inline-block;
}

#invite #submit {
    display: block;
    margin-left: 40px;
    margin-top: 4px;
    margin-bottom: 12px;
}

#center ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#center li {
    margin: 0;
    margin-bottom: 10px;
}

#footer {
    position: absolute;
    left: 100px;
    top: 820px;
}

#footer ul {
    list-style: none;
    padding: 0;
    color: #555;
}

#footer li {
    float: left;
    font-size: 10px;
    padding: 0 5px;
    border-right: 1px solid;
}

#footer .last {
    border-right: none;
}

#footer p {
    position: absolute;
    left: 55px;
    top: -5px;
    width: 120px;
    font-family: Arial;
    font-size: 11px;
}

#news #li.last {
    margin-top: 20px;
}

#footer {
    padding-bottom: 55px;
}

#slider { 
    margin: 0;
    position: relative;
}

#slider li {
    position: absolute;
    top: 0;
    left: 0;
}
