@import url('tabs.css');

html, body {
  margin: 0;
  height: 100%;
  font-size: 13pt;
}
a {
  color: #12127D;
}
a:hover, a:focus {
  color: #900;
}
#header {
  background: #DFE0E0 url('logo.png') no-repeat left 2.35em;
  height: 90px;
  padding-left: 275px;
  padding-top: 2em;
}
#header h1, #header h2 {
  font-size: 30pt;
  font-weight: normal;
  margin: 0;
  float: left;
  clear: both;
}
#header h1 a { text-decoration: none; }
#header h1 {
  font-family: Baskerville, Helvetica;
  font-variant: small-caps;
  line-height: 1em;
}
#header h2 {
  font-size: 20pt;
  font-style: italic;
  margin-top: .2em;
  margin-left: 2em;
  letter-spacing: 1.5px;
  color: #736700;
}
#namedivider {
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  background-color: #005589;
  height: 5px;
  border: none;
}
.breadcrumb { margin-left: 1em; margin-bottom: 0; }
.breadcrumb a { text-decoration: none; }

#body { display: table; vertical-align: top; width: 100%; }
#sidebar, #content {
  display: table-cell;
  border-top: 2px #525689 solid;
  vertical-align: top; 
}
#sidebar {
  width: 250px;
  border-right: 1px #AAA solid;
  background-color: #F6F6E5;
}
#sidebar .pad {
  float: left;
  background: #F6F6E5 url('squiggle.png') no-repeat top left;
  width: 60px;
  height: 440px;
  margin-top: -2px;
}
#sidebar .content {
  font-size: 120%;
  color: #736700;
  padding: 3em 1em 1em 4em;
  line-height: 1.5em;
  text-indent: -.75ex;
  opacity: .75;
}
#sidebar .block-user {
  margin-left: 2em;
}
#sidebar .block-user .content, #sidebar .menu {
  margin: 0;
  padding: 0 .5em;
}
.sig {
  text-align: right;
}
#content {
}
#content h1 {
  text-align: center;
  border-bottom: 2px solid #525689;
  margin: .25em auto .5em;
}
li {
  margin-top: .5em;
  line-height: 1.2;
}
#text {
  padding: 0 1em 1em;
  max-width: 600px;
}
#footer {
  border-top: 2px #525689 solid;
  padding: 1em;
}
#footer .right { float: right; }
.clear:after { content: ''; clear: both; display: block; }
