/* Stylesheet for technoanarchy.org
 * Author: Will Holcomb <will@departmentofhappiness.org>
 * Date: March 2009
 */

/* Color Styles */

@import url('.../style/quotes/css');

body { background-color: #FFFDEE; }
#logo { background-color: #BD6731; }
#title { background-color: #FFF5EE; }

#header {
    background-image: url('background.svg');
    color: #0f0f30;
}

#header h3 {
    background-image: url('title_text.svg');
}

#title h1, #title h2 {
    background-color: #96AFE8;
    color: #012371;
}

#sidebar {
    background-color: #CDB5A6;
    border-color: #898A8F;
}

/* Structural Styles */

html {
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Myraid Pro", "Trebuchet", "Trebuchet MS", Verdana, Arial, sans-serif;
}

.hidden {
  visibility: hidden;
}

#header ol {
    list-style: none;
    padding: 0;
    display: block;
    margin: 0 0 0 5px;
}

#header ol:after {
    content: '';
    clear: both;
    display: block;
}

#header li {
    float: left;
    text-align: center;
    font-size: 20px;
    padding: 0 0 0 3px;
}

#header li {
    text-decoration: none;
    font-weight: bold;
}

#header acronym {
    border: none;
}

#title {
    padding: 1.5em 0 0;
}

#title h1, #title h2 {
    padding-left: 290px;
}

#title h1, #title h2 {
    font-weight: normal;
    margin: 0;
}  

#title h1 {
  font-size: 1.7em;
  padding-top: .5em;
  text-indent: 1em;
}

#title h2 {
  font-size: 1.3em;
  line-height: .8em;
  padding-bottom: 1em;
  text-indent: 2em;
  font-style: italic;
}

#header {
  display: block;
  margin: 10px auto 0;
  padding: 14px 0 0;
  height: 260px;
}

#header, #navigation li span {
  width: 933px;
}

#header h3 {
    margin: 8px auto -3px;
}

#header h3, #header h3 a {
    display: block;
    text-align: center;
    font-size: 37px;
    font-family: 'VKB KonQa';
    width: 700px;
    height: 51px;
}

#navigation:after {
    content: '';
    clear: both;
    display: block;
}

#navigation li {
    float: left;
    list-style: none;
    margin: 0;
    margin-left: 0px;
}

#navigation li a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#navigation li span {
    position: absolute;
    top: 215px;
    left: 0;
    font-size: 25px;
}

#body, #footer {
    clear: both;
    max-width: 600px;
    margin: auto;
    padding: 3em 0;
    line-height: 1.25em;
}

#footer {
    padding: 0;
}

#sidebar, #content {
    display: table-cell;
}

#header {
    position: relative;
}

#sidebar {
    width: 12em;
    padding-top: 5em;
    padding-left: 1em;
    border-width: 2px;
    border-style: solid;
}

#content {
    max-width: 45em;
    padding-left: 4em;
}

.rowimage {
    max-width: 100%;
    display: block;
    margin: auto;
    border: none;
}

object {
    width: 100%;
}

.next, .previous {
    list-style: none;
    padding: 0;
    margin: 0;
}

.next {
    float: right;
}

.next:after {
    content: ' \BB';
}

.previous {
    float: left;
}

.previous:before {
    content: '\AB ';
    /* Space is being ignored */
    margin-right: .25em;
}

#footer a {
    background-image: none ! important;
    text-decoration: none;
    font-weight: bold;
}
