<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">GSMM May 17, 2007 Newsletter</tmpl:var>
  <tmpl:var name="header" additive="true">
    <link type="text/css" rel="stylesheet" href="indexlist.css" />
  </tmpl:var>
  <tmpl:var name="content">
    <h1><span class="marker">&#x25BC;</span> May 17, 2007 Newsletter</h1>
    <img src="../graphics/blue_linefade395.jpg" width="395" alt="" />

    <div class="author">Stuart Cooper, GSMM campaign manager</div>

    <p>In this issue:</p>
    <ol>
      <li><a href="#commitments">Two more candidates commit to marijuana policy reform</a></li>
      <li><a href="#volunteer">Help make history &mdash; get involved today!</a></li>
      <li><a href="#donate">Time to break open the piggy bank</a></li>
    </ol>

    <ol>
      <li>
        <h3 id="commitments">Two more candidates commit to marijuana policy reform</h3>
        <p>Our campaign had another big week, as Sen. Chris Dodd (D-Conn.) and Sen. Joe Biden (D-Del.) both told us that they would end the federal raids on medical marijuana patients.</p>
        <p>We actually met up with Sen. Dodd twice last weekend. First, we caught him at a "meet and greet" in Milford. When I initially asked him if he would end the federal raids on state medical marijuana patients, he said that he did not want to ban state medical marijuana programs and that he would have to look into it and get back to us.</p>
        <p>Unsatisfied, we followed Sen. Dodd to a house party in Merrimack. Our crew identified several supporters in the crowd before the candidate showed up, so we were confident the pressure would be on if the he refused to commit to a compassionate position. When he called on me to ask a question, I verified, "You would stop the raids on state medical marijuana programs?" He replied that he would. Look for the video link to watch both of my encounters with Sen. Dodd in next week's newsletter.</p>
        <p>We then went to Canterbury where Sen. Biden was at a house party. When I asked him if he would end the federal raids on medical marijuana patients, his response was a quick and authoritative, "Yes."</p>
      </li>
      <li>
        <h3 id="volunteer">Help make history &mdash; get involved today!</h3>
        <p>Every four years, as citizens and voters of New Hampshire, we have the opportunity to influence national policies in a way that voters in other states cannot. We're seizing this opportunity and urging every presidential candidate &mdash; every time they come to our state &mdash; to change federal law so that patients across the country will be protected for using their doctor-recommended medicine.</p>
        <p>Don't miss this opportunity in your own backyard to ensure that all of the presidential candidates take a positive and public position on protecting seriously ill medical marijuana patients.</p>
        <p>This week, we expect several candidates to be campaigning in the state, including Sen. Barack Obama (D-Ill.) and former Wisconsin Governor Tommy Thompson (R). If you would like to attend an event this week and ask one of these candidates a question, please e-mail me at <a href="mailto:scooper@granitestaters.com">scooper@granitestaters.com</a>.</p>
        <p>If you cannot make an event to personally question a candidate, you can still be part of the campaign:</p>
        <ul>
          <li>Help us track candidate events in your area (both in New Hampshire and across the nation). When you hear that a presidential candidate is going to be campaigning in your town, e-mail the event details to <a href="mailto:info@granitestaters.com">info@granitestaters.com</a>.</li>
          <li>Tell your friends about the Granite Staters for Medical Marijuana campaign. Please forward this message to 10 of your friends, particularly if they live in New Hampshire, or just tell them to visit <a href="http://www.GraniteStaters.com">www.GraniteStaters.com</a>.</li>
          <li>Spread the word on the Internet. An excellent way to get more people involved in the campaign is by visiting message boards and blogs and encouraging others to visit our Web site and take action. The more people we get involved, the more successful the campaign will be.</li>
          <li>Write a letter to the editor of your local paper. Please <a href="../lte.html">click here</a> for some letter-writing tips and talking points.</li>
          <li>Share personal experiences with medical marijuana. Encourage anyone you know who has had any personal experiences with medical marijuana to join our campaign, whether they are ill themselves or have a loved one who is or was ill. It's important for the candidates to hear these first-hand, personal experiences.</li>
        </ul>
      </li>
      <li>
        <h3 id="donate">Time to break open the piggy bank</h3>
        <p>After only three weeks, our campaign has already garnered supportive statements from four major presidential candidates. This is much faster success than we had anticipated!</p>
        <p>However, this is just the beginning. As more candidates come to the state, we're going to turn up the heat &mdash; especially on the candidates who don't commit to ending the federal government's cruel raids on medical marijuana patients.</p>
        <p>But to maintain a robust campaign through the January 22, 2008, New Hampshire primary, we need funding from supporters like you. So, would you please visit <a href="http://www.GraniteStaters.com/donate">www.GraniteStaters.com/donate</a> and give as generously as you can to this project?</p>
        <p>Thank you for your continued support, and please look for our weekly updates.</p>
      </li>
    </ol>
  </tmpl:var>
</tmpl:template>
