<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">GSMM May 24, 2007 Newsletter</tmpl:var>
  <tmpl:var name="header" additive="true">
    <link type="text/css" rel="stylesheet" href="indexlist.css" />
  </tmpl:var>
  <tmpl:var name="content">
    <h1><span class="marker">&#x25BC;</span> May 24, 2007 Newsletter</h1>
    <img src="../graphics/blue_linefade395.jpg" width="395" alt="" />

    <div class="author">Stuart Cooper, GSMM campaign manager</div>

    <ol>
      <li><a href="#raids">Gov. Thompson says he will stop the raids on patients</a></li>
      <li><a href="#edwards">Sen. Edwards doesn't want to "harass people who are trying to alleviate their pain"</a></li>
      <li><a href="#dodd">Video of Sen. Dodd's promise to stop the raids on patients</a></li>
      <li><a href="#help">We need your help!</a></li>
      <li><a href="#donate">Donate to the Granite Staters Campaign</a></li>
    </ol>

    <ol>
      <li>
        <h3 id="raids">Gov. Thompson says he will stop the raids on patients</h3>
        <p>This week, I talked with former Wisconsin Gov. Tommy Thompson (R) at Brown's Seabrook Lobster Pound, where he was courting voters. I shook his hand and said, "Legislators and voters in 12 states have passed laws protecting seriously ill residents who use medical marijuana with their doctor's approval; our current federal policy is to raid and arrest these patients. When you're elected president, will you respect the will of the voters in these states and end the raids on state medical marijuana programs?"</p>
        <p>Gov. Thompson responded, "I will stop the raids, yes."</p>
        <p>Gov. Thompson's proclamation that he will end the raids is truly significant because it shows that medical marijuana is not a partisan issue, but a health care issue. (Gov. Thompson is a social conservative and served as secretary of the Department of Health and Human Services from 2001-2005.)</p>
      </li>
      <li>
        <h3 id="edwards">Sen. Edwards doesn't want to "harass people who are trying to alleviate their pain"</h3>
        <p>Four years ago, former Sen. John Edwards (D-NC) was one of the three Democratic presidential candidates who did not commit to ending the federal raids on state medical marijuana programs. Earlier this week at a community meeting in Lebanon, I asked him if his stance on the federal raids had changed.</p>
        <p>While Sen. Edwards didn't commit to protecting the sick and dying from federal raids, he seemed to have a more open mind about the issue than he has expressed in the past. He asked me questions about what needed to happen for FDA approval of marijuana, which, while it misses the real point (the FDA doesn't raid patients &mdash; the DEA does), the exchange suggests that Sen. Edwards is thinking about the issue. During our encounter, Edwards told me, "The last thing in the world I'm interested in doing is going around and harassing people who are trying to alleviate their pain &mdash; I want to do something about it, I'm just trying to figure out the best way to do it."</p>
      </li>
      <li>
        <h3 id="dodd">Video of Sen. Dodd's promise to stop the raids on patients</h3>
        <p>Last week I told you about my encounter with Sen. Chris Dodd (D-CT) and his promise to end the federal raids on medical marijuana programs. You can <a href="http://www.youtube.com/watch?v=Klsfe72_5ls">watch the video here</a>.</p>
      </li>
      <li>
        <h3 id="help">We need your help!</h3>
        <p>We have another busy week ahead, as we expect to see former Sen. Mike Gravel (D-AK), Sen. Chris Dodd (again), and former Massachusetts Gov. Mitt Romney (R). If you would like to attend an event this week and ask one of these candidates a question, please e-mail me at <a href="mailto:scooper@granitestaters.com">scooper@granitestaters.com</a>.</p>
        <p>If you cannot make it to an event to personally question a candidate, you can still be part of the campaign:</p>
        <ul>
          <li>Help us track candidate events in your area (both in New Hampshire and across the nation). When you hear that a presidential candidate is going to be campaigning in your town, e-mail the event details to <a href="mailto:info@granitestaters.com">info@granitestaters.com</a>.</li>
          <li>Tell your friends about the Granite Staters for Medical Marijuana campaign. Please forward this message to 10 of your friends, particularly if they live in New Hampshire, or just tell them to visit <a href="http://www.granitestaters.com">www.GraniteStaters.com</a>.</li>
          <li>Spread the word on the Internet. An excellent way to get more people involved in the campaign is by visiting message boards and blogs and encouraging others to visit our Web site and take action. The more people we get involved, the more successful the campaign will be.</li>
          <li>Write a letter to the editor of your local paper. You'll find letter-writing tips and talking points here.</li>
          <li>Share personal experiences with medical marijuana. Encourage anyone you know who has had any personal experiences with medical marijuana to join our campaign, whether they are ill themselves or have a loved one who is or was ill. It's important for the candidates to hear these first-hand, personal experiences.</li>
        </ul>
      </li>
      <li>
        <h3 id="donate">Donate to the Granite Staters Campaign</h3>
        <p>Our campaign is progressing quickly, and we've garnered supportive statements from major presidential candidates in both parties. However, we're poised to turn up the heat on candidates who refuse to take a compassionate stance.</p>
        <p>But we don't currently have the financial resources to run a robust campaign through the January 22, 2008, New Hampshire primary. So, would you please visit <a href="http://www.granitestaters.com/donate">www.GraniteStaters.com/donate</a> to make as generous a donation as you can afford to this project?</p>
        <p>Thank you for your continued support of our efforts, and please look for our weekly updates.</p>
      </li>
    </ol>
  </tmpl:var>
</tmpl:template>
