<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmpl:template xmlns="http://www.w3.org/1999/xhtml"
               xmlns:tmpl="http://odin.himinbi.org/templ/0.1/">
  <tmpl:var name="title">GSMM May 3, 2007 Newsletter</tmpl:var>
  <tmpl:var name="header" additive="true">
    <link type="text/css" rel="stylesheet" href="indexlist.css" />
  </tmpl:var>
  <tmpl:var name="content">
    <h1><span class="marker">&#x25BC;</span> May 3, 2007 Newsletter</h1>
    <img src="../graphics/blue_linefade395.jpg" width="395" alt="" />

    <div class="author">Stuart Cooper, GSMM campaign manager</div>

    <p>In this issue:</p>
    
    <ol>
      <li><a href="#kickoff">Campaign kickoff</a></li>
      <li><a href="#volunteer">Can you spare some time?</a></li>
      <li><a href="#donate">&hellip;or send us a dime?</a></li>
    </ol>

    <ol>
      <li>
        <h3 id="kickoff">Campaign kickoff</h3>
        <p>Granite Staters for Medical Marijuana recently kicked off a yearlong effort to influence the presidential candidates to take strong, public, positive positions on medical marijuana during the presidential primary campaign in New Hampshire, which is the first state to hold a primary (on January 22, 2008). Four years ago, we succeeded in getting positive statements on medical marijuana from six of the nine Democratic presidential hopefuls, including the eventual Democratic nominee, John Kerry. (Learn more about the campaign at <a href="http://granitestaters.com/">www.GraniteStaters.com</a>.)</p>
        <p>We're already off to a great start on this year's campaign. When Senator John McCain gave his official campaign announcement speech at Veteran's Park in Manchester, I asked him if he would end federal raids on medical marijuana patients. After a moment of thought, Senator McCain authoritatively answered, "I will let states decide that issue!"</p>
        <p>Senator McCain's statement of support for states' rights marks the beginning of our exciting campaign.</p>
      </li>
      <li>
        <h3 id="volunteer">Opportunities to get involved</h3>
        <p>You can become part of history by joining our campaign and helping to educate the presidential candidates about the need for safe and legal medical marijuana access for seriously ill patients. Don't let this opportunity to make a significant difference pass, especially in your own backyard. To get involved, please contact me by e-mailing <a href="mailto:stuart@granitestaters.com">stuart@granitestaters.com</a>, or take action on our Web site at <a href="http://www.granitestaters.com/action.html">www.GraniteStaters.com/action.html</a>.</p>
        <p>Additionally, next Tuesday, May 8, voters in the town of Hanover will vote on a question to urge their law enforcement officials to stop arresting medical marijuana patients. This is a great chance to send a clear message to the presidential candidates that voters in New Hampshire want our government to stop treating medical marijuana patients like criminals.</p>
        <p>Because this issue will be discussed and voted on at a town meeting, as opposed to the more typical secret ballot, it is imperative that as many supportive Hanover residents as possible attend the meeting. If you live in Hanover, please commit to being at the town meeting, and bring your friends, family, neighbors, and coworkers.</p>
        <p>If you don't live in Hanover, but know someone who does, please urge them attend the meeting and bring as many of their friends as possible.</p>
        <p>For more info about the town meeting, e-mail <a href="mailto:stuart@granitestaters.com">stuart@granitestaters.com</a>.</p>
      </li>
      <li>
        <h3 id="donate">Donate</h3>
        <p>We need funding from supporters like you to run this campaign, so would you please visit <a href="http://www.granitestaters.com/donate">www.GraniteStaters.com/donate</a> to donate as much as you can to this project? Our work is not fully funded at this point, so every dollar you give will help us turn up the heat on the presidential candidates. Without your generous donations, GSMM will be hard-pressed to maintain a robust campaign through the January 22, 2008 New Hampshire primary.</p>
        <p>Thank you for your continued support, and please look for weekly updates from your favorite New Hampshire activists.</p>
      </li>
    </ol>
  </tmpl:var>
</tmpl:template>
